<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en-US">
<head>
<meta charset=UTF-8" />
<title>
the JumperWeb | jumping Web development and design</title>
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="stylesheet" type="text/css" media="all" href="http://www.thejumperweb.co.uk/wordpress/wp-content/themes/jumperWeb/style.css" />
<link rel="pingback" href="http://www.thejumperweb.co.uk/wordpress/xmlrpc.php" />


<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
<script type='text/javascript' src='http://www.thejumperweb.co.uk/wordpress/wp-content/themes/jumperWeb/js/jumperCommon.js'></script>
<script type='text/javascript' src='http://www.thejumperweb.co.uk/wordpress/wp-content/themes/jumperWeb/js/jquery.tools.min.js'></script>
<script type='text/javascript' src='http://www.thejumperweb.co.uk/wordpress/wp-content/plugins/google-analyticator/external-tracking.min.js'></script>
<!-- Google Analytics Tracking by Google Analyticator 6.2: http://ronaldheft.com/code/analyticator/ -->
<script type="text/javascript">
	var analyticsFileTypes = [''];
	var analyticsEventTracking = 'enabled';
</script>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-9748001-2']);
	_gaq.push(['_trackPageview']);
	_gaq.push(['_trackPageLoadTime']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

  	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="http://www.thejumperweb.co.uk/wordpress/wp-content/themes/jumperWeb/css/ie7.css" />
	<![endif]-->
<script src="http://www.thejumperweb.co.uk/wordpress/wp-content/themes/jumperWeb/js/modernizr-1.6.min.js"></script>
</head>
<body class="home blog">

<!-- FB Javascript SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- ((( FB Javascript SDK  -->

<div id="pageWrapper">

<!-- Start Heading Area -->
<header id="mainHeader" class="contain">
  <p id="logo"><a href="http://www.thejumperweb.co.uk/" title="the JumperWeb" rel="home">the JumperWeb</a></p>

  <nav id="mainMenu" class="contain">
    <ul class="IeMainNav">
      <li class="home"><a href="http://www.thejumperweb.co.uk/">Home<span>Latest news/projects</span></a></li>
      <li class="about "> <a href="http://www.thejumperweb.co.uk/about">About<span>All about JumperWeb</span></a></li>
      <!--<li><a href="#">Contact<span>Contact JumperWeb</span></a></li>-->
    </ul>

  </nav>
</header>
<!-- {{ Heading area -->


<!-- Main Cointent -->

<div id="sections" class="contain">
  <header>
    <h1>Hello &amp; welcome to the JumperWeb.co.uk,<br>
      the website of Mark Cursley, a website developer/designer...</h1>
  </header>
  
  <section id="mainContent">
    

	

		
		



		
		<article class="articleHome contain">
		
			<div class="thumbnailHolder">
									<a href="http://www.liftpeople.org.uk/"><img width="266" height="189" src="http://www.thejumperweb.co.uk/wordpress/wp-content/uploads/lift.jpg" class="siteThumb wp-post-image" alt="alttext" title="lift" /></a>
									
					<div class="caption">
						<ul>
	<li>Wordpress Custom Theme</li>
	<li>HTML &amp; CSS</li>
	<li>Website design and structure</li>
</ul>					</div>				
							
			</div>
			
			<div class="articleContent">
					<header>
					<h2 class="siteHead">Lift</h2>
					</header>
					<p>Brent Homeless User Group (B.HUG) have changed their name to Lift, as part of the organisations rebrand and relaunch we have redesigned and rebuilt the website. WordPress was used as the cms for this project.</p>
					<p class="siteUrl"><a href="http://www.liftpeople.org.uk/" target="_blank">http://www.liftpeople.org.uk/</a></p>
			</div>
		</article>
		
		
		<article class="articleHome contain">
		
			<div class="thumbnailHolder">
									<a href="http://www.ninaskitchen.nl/"><img width="266" height="189" src="http://www.thejumperweb.co.uk/wordpress/wp-content/uploads/nk2.jpg" class="siteThumb wp-post-image" alt="alttext" title="nk2" /></a>
									
					<div class="caption">
						<ul>
<li>Design &amp; Photoshop Templates</li>
<li>XHTML &amp; CSS</li>
<li>Wordpress Theme &amp; site build</li>
</ul>
					</div>				
							
			</div>
			
			<div class="articleContent">
					<header>
					<h2 class="siteHead">Nina&#8217;s Kitchen</h2>
					</header>
					<p>We are very pleased to announce that Phase 1 of Ninas Kitchen has now launched. The site is using WordPress as a dual language CMS, enabling Nina to maintin all content herself, including managing weekly menus, numerous image galleries and a Nina&#8217;s Kitchen blog. Customers can also sign up to a weekly newsletter which integrates with Ninas Kitchen&#8217;s Mail Chimp account.</p>
					<p class="siteUrl"><a href="http://www.ninaskitchen.nl/" target="_blank">http://www.ninaskitchen.nl/</a></p>
			</div>
		</article>
		
		
		<article class="articleHome contain">
		
			<div class="thumbnailHolder">
									<a href="http://www.shakonline.co.uk/"><img width="266" height="189" src="http://www.thejumperweb.co.uk/wordpress/wp-content/uploads/shak.jpg" class="siteThumb wp-post-image" alt="alttext" title="shak" /></a>
									
					<div class="caption">
						<ul>
	<li>Design &amp; Photoshop Templates</li>
	<li>XHTML &amp; CSS</li>
	<li>Wordpress Theme &amp; site build</li>
</ul>					</div>				
							
			</div>
			
			<div class="articleContent">
					<header>
					<h2 class="siteHead">SHAK &#8211; South Hampstead and Kilburn Community Partnership</h2>
					</header>
					<p>A complete overhaul of the SHAK website. Originally SHAK were having problems maintaining their existing site. The orginal idea was to just merge the existing site into wordpress, however, in the end we decided upon a total redisign and re-think. This included representing the 2 other centres involved in the partnership, Shell &amp; ARC, who previously were not represented on the site at all.<br />
The site was implemented by developing a custom theme for WordPress.</p>
					<p class="siteUrl"><a href="http://www.shakonline.co.uk/" target="_blank">http://www.shakonline.co.uk/</a></p>
			</div>
		</article>
		
		
		<article class="articleHome contain">
		
			<div class="thumbnailHolder">
									<a href="http://www.brenthomeless.com"><img width="266" height="189" src="http://www.thejumperweb.co.uk/wordpress/wp-content/uploads/bhug-266x189.jpg" class="siteThumb wp-post-image" alt="alttext" title="bhug" /></a>
									
					<div class="caption">
						<ul>
	<li>Design &amp; Photoshop Templates</li>
	<li>XHTML &amp; CSS</li>
	<li>Wordpress Theme &amp; site build</li>
</ul>					</div>				
							
			</div>
			
			<div class="articleContent">
					<header>
					<h2 class="siteHead">Brent Homeless User Group</h2>
					</header>
					<p>The JumperWeb undertook a complete re-design and re-build of BHUGs&#8217; website. The site was implemented by developing a custom theme for WordPress, enabling Bhug to easily update and edit their website, something they had previously found problematic.  B.HUG have now rebranded as <strong>Lift</strong>, another project completed by the JumperWeb.</p>
					<p class="siteUrl"><a href="http://www.brenthomeless.com" target="_blank">http://www.brenthomeless.com</a></p>
			</div>
		</article>
		
			<!-- Pagination -->
				<div id="pagination" class="contain">
					<div class="alignleft"><a href="http://www.thejumperweb.co.uk/page/2" >&lt; previous</a></div>
					<div class="alignright"></div>
				</div>				
		<!--<div id="twitter_div"><ul id="twitter_update_list"><li>&nbsp;</li></ul></div>-->

  </section>
  
  <aside id="sideBar">
    <h3 class="twiiterHead">JumperWeb Tweets</h3>
    <ul id="twitter_update_list">
      <li>&nbsp;</li>
    </ul>
	<div class="fb-like-box" data-href="https://www.facebook.com/pages/The-JumperWeb/198932546789211" data-width="210" data-colorscheme="dark" data-show-faces="true" data-stream="false" data-header="true"></div>
  </aside>



  
</div>  <!-- {{ main content -->
<!-- footer section -->

<footer class="contain">
  <ul id="footerLinks">
    <li><a href="http://www.thejumperweb.co.uk/about">About JumperWeb</a></li>
	<li class="facebook"><a class="trigger" href="http://www.facebook.com/home.php#!/pages/The-JumperWeb/198932546789211">JumperWeb Facebook</a>
		<div class="tooltip"><p>Facebook</p></div>
	</li>
		<li class="twitter"><a class="trigger" href="http://twitter.com/thejumperweb">JumperWeb Twitter</a>
		<div class="tooltip"><p>Twitter</p></div>
	</li>
	
    <!--<li class="last"><a href="#">Contact</a></li>-->
  </ul>
  <ul id="footerCredits">
    <li class="first"><small>&copy; 2011
      the JumperWeb    </small></li>
    <li>Powered by Wordpress</li>
	<li class="htmlFive last"><a href="http://www.w3.org/"><abbr title="World Wide Web Consortium">W3C</abbr></a></li>
  </ul>
</footer>
<!--{{ footer section -->
</div>
<!--{{ Page Container -->
<script type='text/javascript' src='http://twitter.com/javascripts/blogger.js'></script>
<script type='text/javascript' src='http://twitter.com/statuses/user_timeline/thejumperweb.json?callback=twitterCallback2&#038;count=8&#038;ver=1'></script>
	<script type="text/javascript">	
	//<![CDATA[
		$(document).ready(function() {

		//Tooltop
		$(".trigger").tooltip({ position: "top right" , relative: true});

		});
		//]]>
	</script>

</body>
</html>