<!DOCTYPE html>
<html lang="en">
<head xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
      
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

	<title>The Arab Uprising. #revolution #2011 on Twitpic</title>
	
	<!-- Facebook Meta -->
<link rel="image_src" href="http://twitpic.com/show/thumb/8334uv.jpg" />
<meta property="og:title" content="The Arab Uprising. #revolution #2011"/>
<meta property="og:type" content="image"/>
<meta property="og:url" content="http://twitpic.com/8334uv"/>
<meta property="og:image" content="http://twitpic.com/show/thumb/8334uv"/>

<meta property="og:site_name" content="TwitPic"/>
<meta property="fb:app_id" content="331538683530736" />

<!-- Our Stylesheets -->
<link rel="stylesheet" type="text/css" href="/css/baseline/baseline.min.css" />
<link rel="stylesheet" type="text/css" href="/css/lib/main.min.css?123456" />

<!-- Required JS Libs -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/ext/jquery.timeago.js"></script>
<script type="text/javascript" src="/js/ext/ejs.js"></script>
<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/js/swfupload/swfupload.js"></script>
<script src="//platform.twitter.com/anywhere.js?id=FeB4w6iaI2ICGtL1ZE0jQ&v=1" type="text/javascript"></script>

<script type="text/javascript">
 var addthis_config = {
    pubid: 'twitpic',
    services_exclude: "facebook,twitter"
  };

  var addthis_share = {
    title: "The Arab Uprising. #revolution #2011",
    description: "The Arab Uprising. #revolution #2011",
    templates: {
      twitter: "The Arab Uprising. #revolution #2011 {{url}} via @TwitPic"
    }
  };
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=twitpic"></script>

<!-- Our JS Lib -->
<script type="text/javascript" src="/js/lib/twitpic.min.js?v3"></script>

<!-- VideoJS -->
<script type="text/javascript" src="/js/video-js/video.js"></script>
<link type="text/css" rel="stylesheet" href="/js/video-js/video-js.css" />
<link type="text/css" rel="stylesheet" href="/js/video-js/skins/vim.css" />
<!-- End VideoJS -->

<script type="txt/javascript">
	Twitpic.load();

	Twitpic.Config.set({"activeUser":null,"PHPSESSID":"10350a6e1231b071f516667730d5537a","is_mobile":false,"user":{"id":"6936946","twitter_id":"14177774","username":"AR_","name":"AR ","location":"Amsterdam \/ Cairo","website":"http:\/\/about.me\/AR","bio":" Verified | Innovation | Social Media | Tech | HP Pre3 & TouchPad | Urban Connect | MAROKKO.nl | Amsterdam, NL | Rehab, Cairo, Egypt | @TheDizzAR previously","avatar_url":"http:\/\/a0.twimg.com\/profile_images\/1249774027\/ARIMG_2660_normal.jpg","profile_background_color":"1c1c1c","profile_text_color":"333333","profile_link_color":"145b59","profile_sidebar_fill_color":"33cfca","profile_background_image_url":"http:\/\/a2.twimg.com\/profile_background_images\/65624104\/ar.jpg","profile_background_tile":"0","utc_offset":"3600","geo_enabled":"1","public_updates":"1","public_tagging":"0","banned":"0","timestamp":"2010-02-10 10:06:54","photo_count":"134","photo_only_count":134,"video_only_count":"0","events":null,"images":null,"places":null},"media":{"id":"488914519","short_id":"8334uv","user_id":"6936946","source":"site","message":"The Arab Uprising. #revolution #2011","views":"55","width":"580","height":"435","size":"49233","type":"jpg","status_id":"154578298146529281","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2012-01-04 15:01:52","tags":null,"video":null,"number_of_comments":"0","user":{"id":"6936946","twitter_id":"14177774","username":"AR_","name":"AR ","location":"Amsterdam \/ Cairo","website":"http:\/\/about.me\/AR","bio":" Verified | Innovation | Social Media | Tech | HP Pre3 & TouchPad | Urban Connect | MAROKKO.nl | Amsterdam, NL | Rehab, Cairo, Egypt | @TheDizzAR previously","avatar_url":"http:\/\/a0.twimg.com\/profile_images\/1249774027\/ARIMG_2660_normal.jpg","profile_background_color":"1c1c1c","profile_text_color":"333333","profile_link_color":"145b59","profile_sidebar_fill_color":"33cfca","profile_background_image_url":"http:\/\/a2.twimg.com\/profile_background_images\/65624104\/ar.jpg","profile_background_tile":"0","utc_offset":"3600","geo_enabled":"1","public_updates":"1","public_tagging":"0","banned":"0","timestamp":"2010-02-10 10:06:54","photo_count":"134","photo_only_count":134,"video_only_count":"0","events":null,"images":null,"places":null},"faces":null,"comments":null,"events":null,"application":null},"neighbors":[{"id":"484901888","short_id":"80p4ow","user_id":"6936946","source":"site","message":"Just another day in #Egypt streets. ","views":"35","width":"960","height":"535","size":"48451","type":"jpg","status_id":"152747213741760512","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2011-12-30 13:45:47","application":null,"user":null,"video":null,"number_of_comments":"0","faces":null,"comments":null,"events":null,"tags":null},{"id":"483433665","short_id":"7ztnsx","user_id":"6936946","source":"site","message":"Take risks.. Conquer your fear!","views":"25","width":"800","height":"532","size":"36881","type":"jpg","status_id":"152079478577827841","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2011-12-28 17:32:26","application":null,"user":null,"video":null,"number_of_comments":"0","faces":null,"comments":null,"events":null,"tags":null},{"id":"483283851","short_id":"7zqg7f","user_id":"6936946","source":"site","message":"Wow, this guy can draw! 3D #streetart ","views":"45","width":"1024","height":"768","size":"292343","type":"jpg","status_id":"0","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2011-12-28 13:19:35","application":null,"user":null,"video":null,"number_of_comments":"0","faces":null,"comments":null,"events":null,"tags":null},{"id":"483283465","short_id":"7zqfwp","user_id":"6936946","source":"site","message":"Wow, this guy can draw! 3D #streetart","views":"75","width":"960","height":"540","size":"111416","type":"jpg","status_id":"0","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2011-12-28 13:18:49","application":null,"user":null,"video":null,"number_of_comments":"0","faces":null,"comments":null,"events":null,"tags":null},{"id":"480192710","short_id":"7xw72e","user_id":"6936946","source":"api","message":"","views":"30","width":"1920","height":"2560","size":"1447689","type":"jpg","status_id":"0","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2011-12-24 18:55:11","application":null,"user":null,"video":null,"number_of_comments":"0","faces":null,"comments":null,"events":null,"tags":null},{"id":"479141890","short_id":"7x9o8y","user_id":"6936946","source":"site","message":"This is a milk carton that changes color before expiring. Genious concept.","views":"100","width":"468","height":"468","size":"126878","type":"jpg","status_id":"150252636002721793","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2011-12-23 16:33:13","application":null,"user":null,"video":null,"number_of_comments":"1","faces":null,"comments":null,"events":null,"tags":null},{"id":"479013954","short_id":"7x6xj6","user_id":"6936946","source":"site","message":"Google maps has a nice #easteregg, for all of you #LOTR fans. Use caution \u2013 One does not simply walk into Mordor.","views":"60","width":"379","height":"471","size":"25573","type":"png","status_id":"150207585906196480","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2011-12-23 13:34:13","application":null,"user":null,"video":null,"number_of_comments":"1","faces":null,"comments":null,"events":null,"tags":null},{"id":"477454861","short_id":"7w9ij1","user_id":"6936946","source":"site","message":"Ever saw this?! Manufactured egss. ","views":"35","width":"401","height":"301","size":"29011","type":"jpg","status_id":"149479612899012609","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2011-12-21 13:21:31","application":null,"user":null,"video":null,"number_of_comments":"1","faces":null,"comments":null,"events":null,"tags":null},{"id":"477432559","short_id":"7w91bj","user_id":"6936946","source":"site","message":"Now that;s a contrast. #women #Egypt","views":"35","width":"426","height":"640","size":"46634","type":"jpg","status_id":"149469578878140416","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2011-12-21 12:41:38","application":null,"user":null,"video":null,"number_of_comments":"0","faces":null,"comments":null,"events":null,"tags":null},{"id":"476883686","short_id":"7vx9t2","user_id":"6936946","source":"site","message":"EU 2011 arms sales to #Egypt visualized. Is this all going to #SCAF? Makes one wonder about the US.","views":"30","width":"768","height":"1024","size":"270811","type":"png","status_id":"0","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2011-12-20 17:24:05","application":null,"user":null,"video":null,"number_of_comments":"0","faces":null,"comments":null,"events":null,"tags":null},{"id":"472303888","short_id":"7t740g","user_id":"6936946","source":"api","message":"","views":"135","width":"480","height":"800","size":"354116","type":"png","status_id":"0","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2011-12-14 14:44:53","application":null,"user":null,"video":null,"number_of_comments":"0","faces":null,"comments":null,"events":null,"tags":null},{"id":"471758958","short_id":"7svfji","user_id":"6936946","source":"site","message":"Beautiful Dance Moves. Trust me, I&#039;m an engineer!","views":"35","width":"400","height":"400","size":"49358","type":"jpg","status_id":"0","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2011-12-13 19:38:09","application":null,"user":null,"video":null,"number_of_comments":"0","faces":null,"comments":null,"events":null,"tags":null},{"id":"471732746","short_id":"7suvbe","user_id":"6936946","source":"api","message":"","views":"25","width":"1000","height":"4011","size":"756873","type":"jpg","status_id":"0","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2011-12-13 18:43:55","application":null,"user":null,"video":null,"number_of_comments":"0","faces":null,"comments":null,"events":null,"tags":null},{"id":"470972827","short_id":"7sekyj","user_id":"6936946","source":"site","message":"How the times have changed....","views":"110","width":"320","height":"177","size":"18082","type":"jpg","status_id":"146273576692105216","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2011-12-12 17:01:52","application":null,"user":null,"video":null,"number_of_comments":"0","faces":null,"comments":null,"events":null,"tags":null},{"id":"470317919","short_id":"7s0jmn","user_id":"6936946","source":"site","message":"How standards proliferate.","views":"25","width":"500","height":"283","size":"24305","type":"png","status_id":"145955573421191169","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2011-12-11 19:58:14","application":null,"user":null,"video":null,"number_of_comments":"0","faces":null,"comments":null,"events":null,"tags":null},{"id":"511597895","short_id":"8glbgn","user_id":"6936946","source":"site","message":"Difference between men and women, continued... :)","views":"35","width":"400","height":"243","size":"23591","type":"jpg","status_id":"166603227595407360","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2012-02-06 19:24:39","application":null,"user":null,"video":null,"number_of_comments":"0","faces":null,"comments":null,"events":null,"tags":null},{"id":"510146985","short_id":"8fq7xl","user_id":"6936946","source":"site","message":"Girls, they always bend everything..","views":"35","width":"720","height":"382","size":"40149","type":"jpg","status_id":"165889525288157184","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2012-02-04 20:08:39","application":null,"user":null,"video":null,"number_of_comments":"0","faces":null,"comments":null,"events":null,"tags":null},{"id":"498988021","short_id":"8931md","user_id":"6936946","source":"site","message":"Wired goes #SOPA. Nicely done.","views":"30","width":"1076","height":"776","size":"68947","type":"gif","status_id":"159957902189273088","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2012-01-19 11:18:28","application":null,"user":null,"video":null,"number_of_comments":"0","faces":null,"comments":null,"events":null,"tags":null},{"id":"489625934","short_id":"83idse","user_id":"6936946","source":"site","message":"A #flowchart for choosing your religion. Genious!! (via CFI Michigan)","views":"35","width":"960","height":"567","size":"69178","type":"jpg","status_id":"154949067200405504","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2012-01-05 15:35:10","application":null,"user":null,"video":null,"number_of_comments":"0","faces":null,"comments":null,"events":null,"tags":null},{"id":"484901888","short_id":"80p4ow","user_id":"6936946","source":"site","message":"Just another day in #Egypt streets. ","views":"35","width":"960","height":"535","size":"48451","type":"jpg","status_id":"152747213741760512","in_reply_to_status_id":"0","in_reply_to_user_id":"0","location":"","timestamp":"2011-12-30 13:45:47","application":null,"user":null,"video":null,"number_of_comments":"0","faces":null,"comments":null,"events":null,"tags":null}]});
Twitpic.Template.store({"name":"location_result","content":"<div class=\"location-result\" data-id=\"<%=id%>\">\n  <h4><%=name%><\/h4>\n  <p><%= typeof street_address !== \"undefined\" ? street_address : full_name %><\/p>\n<\/div>"});
Twitpic.Template.store({"name":"facetag_editor","content":"<div id=\"facetag-editor\">\n  <div class=\"left\">\n    <div id=\"facetag-left-arrow\"><\/div>\n  <\/div>\n  <div class=\"right\">\n    <p><small>Name<\/small><\/p>\n    <input type=\"text\" name=\"name\" \/>\n\n    <p><small>Twitter Username<\/small><\/p>\n    <input type=\"text\" name=\"username\" value=\"@\" \/>\n\n    <p><input type=\"checkbox\" name=\"reply\" value=\"1\" checked=\"true\" \/> Post to Twitter<\/p>\n\n    <div id=\"facetag-save\">\n      <input type=\"button\" class=\"red-button\" value=\"Delete\" name=\"delete\" \/>\n      <input type=\"button\" class=\"grey-button\" value=\"Cancel\" name=\"cancel\" \/>\n      <input type=\"button\" class=\"grey-button\" value=\"Save\" name=\"save\" \/>\n    <\/div>\n  <\/div>\n<\/div>"});
Twitpic.Template.store({"name":"rotate","content":"<div id=\"rotate\">\n\t<div id=\"rotate-background\"><\/div>\n\t<div id=\"rotate-wrap\">\n\t\t<div id=\"rotate-controls\" class=\"clear\">\n\t\t\t<div class=\"rotate left\" data-dir=\"cc\">\n\t\t\t\t<img src=\"\/images\/hud-img-arrow-cc.png\" \/>\n\t\t\t\tRotate Left\n\t\t\t<\/div>\n\t\t\t\t\t\t<div class=\"rotate right\" data-dir=\"c\">\n\t\t\t\tRotate Right\n\t\t\t\t<img src=\"\/images\/hud-img-arrow.png\" \/>\n\t\t\t<\/div>\n\t\t<\/div>\n\t\t<div id=\"rotate-image\">\n\t\t\t<img src=\"\/show\/large\/<%=short_id%>\" \/>\n\t\t<\/div>\n\t<\/div>\n<\/div>\n"});
Twitpic.Template.store({"name":"event_tag","content":"<div class=\"event\">\n  <h5 class=\"reset-height\">\n  \t<a href=\"\/e\/<%=id.toString(36)%>\"><%=name%><\/a>\n  \t<small><%= hash_trigger ? \"#\" + hash_trigger : \"\" %><\/small>\n  <\/h5>\n<\/div>"});
Twitpic.Template.store({"name":"search_photo","content":"<div class=\"user-photo-wrap\">\n  <div class=\"user-photo left\">\n    <a href=\"<%=link%>\">\n      <img src=\"<%=thumb%>\" \/>\n    <\/a>\n  <\/div>\n<\/div>"});
Twitpic.Template.store({"name":"comment","content":"<div class=\"comment clear\" data-id=\"<%=id%>\">\n\t<div class=\"avatar left\">\n\t\t<img src=\"<%=user.avatar_url.replace('normal', 'reasonably_small')%>\" \/>\n\t<\/div>\n\t<div class=\"comment-content right\">\n\t\t<div class=\"comment-header\">\n\t\t\t<h4 class=\"reset-height\">\n\t\t\t\t<a href=\"\/photos\/<%=user.username%>\"><%=user.username%><\/a> \n\t\t\t\t<small>\n\t\t\t\t\t<%=$.timeago(new Date(timestamp.replace('-', '\/')))%>\n\t\t\t\t\t<span class=\"comment-delete\"><img src=\"\/images\/delete.png\" \/> delete<\/span>\n\t\t\t\t<\/small>\n\t\t\t<\/h4>\n\t\t<\/div>\n\t\t<div class=\"comment-body\">\n\t\t\t<p><%=message_html%><\/p>\n\t\t<\/div>\n\t<\/div>\n<\/div>"});
Twitpic.Template.store({"name":"facetag","content":"<div \n  class=\"facetag\" \n  data-id=\"<%=id%>\" \n  data-name=\"<%=typeof name !== 'undefined' ? name : ''%>\"\n  data-username=\"<%=typeof username !== 'undefined' ? username : ''%>\"\n  style=\"top:<%=top%>px;left:<%=left%>px;\">\n\n  <div class=\"facetag-inner\">\n    <% if (!isNew && canEdit) { %>\n    <p class=\"facetag-edit\"><strong>Edit?<\/strong><\/p>\n    <% } %>\n  <\/div>\n  <% if (typeof name !== \"undefined\") { %>\n  <div class=\"facetag-name\">\n    <%=name%>\n    <%= typeof username !== \"undefined\" && username !== null && username.length > 0 ? \"(@\" + username + \")\" : \"\" %>\n  <\/div>\n  <% } %>\n<\/div>"});
Twitpic.Modal.store({"name":"upload","content":"\n<form id=\"upload-modal\" action=\"\/upload\/process\" method=\"post\" enctype=\"multipart\/form-data\">\n\t<input type=\"hidden\" name=\"form_auth\" value=\"fcbf7fb44d92d1c1ced259cea95ffa78245314bb\" \/>\n\t<div id=\"select-media\">\n\t\t<h4>Select photo or video<\/h4>\n\t\n\t\t<div id=\"media-upload-wrap\">\n\t\t\t<div id=\"media-upload\"><\/div>\n\t\t<\/div>\n\t\t\n\t\t<p id=\"upload-meta\"><small><b>\n\t\t\tReady to upload <span id=\"media-upload-name\"><\/span> (<span id=\"media-upload-size\"><\/span>) as <span id=\"media-upload-type\">\n\t\t<\/span><\/b><\/small><\/p>\n\t\t\n\t\t<p><small>We take GIF, JPG, & PNG images up to 10MB in size, and videos up to 3:00 in length in most formats.<\/small><\/p>\n\t\t<p><small>Having problems uploading? Try the <a href=\"\/upload\">simple uploader<\/a> instead.<\/small><\/p>\n\t<\/div>\n\t\n\t<div id=\"upload-caption\" class=\"upload-section\">\n\t\t<div class=\"clear\">\n\t\t\t<h4 class=\"left\">Caption<\/h4>\n\t\t\t<p class=\"right\"><span id=\"upload-chars-left\">114<\/span> <small>(twitter limit only)<\/small><\/p>\n\t\t<\/div>\n\t\t\n\t\t<textarea name=\"message\"><\/textarea>\n\t<\/div>\n\t\n\t<div id=\"upload-options\" class=\"upload-section\">\n\t\t<h4>Post Options<\/h4>\n\t\t<p>\n\t\t\t<span><input type=\"checkbox\" name=\"post_photo\" id=\"post_photo\" checked=\"checked\" value=\"1\" \/> Post to Twitter<\/span>\n\t\t\t<span><input type=\"checkbox\" name=\"save_location\" id=\"save_location\" checked=\"checked\" value=\"1\" \/> Set Location (if available)<\/span>\n\t\t<\/p>\n\t<\/div>\n\t\n\t<div id=\"upload-submit\" class=\"clear\">\n\t\t<div class=\"left\">\n\t\t\t<div id=\"upload-progress-wrap\">\n\t\t\t\t<div id=\"upload-progress\"><\/div>\n\t\t\t<\/div>\n\t\t\t<p id=\"upload-progress-amount\" class=\"left\"><\/p>\n\t\t<\/div>\n\t\t<div class=\"right\">\n\t\t\t<input type=\"submit\" value=\"Upload\" class=\"grey-button\" id=\"upload-button\" \/>\n\t\t<\/div>\n\t<\/div>\n<\/div>\n\n"});
</script>

</head>
<body>
	<div id="fb-root"></div>
	
	<div id="navbar-wrap">
	<div id="navbar" class="header">
		<div id="navbar-main">
			<div id="logo" class="left">
				<a href="/"><img src="/images/logo.png" alt="Twitpic" /></a>
			</div>
			
			<div id="nav-links" class="right">
				<ul class="inline-list">
										<li><a href="/session/new">Login or Register</a></li>
									</ul>
			</div>
		</div>
	</div>
</div>	
			<div id="infobar-wrap">
	<div id="infobar" class="clear ">
		<div id="infobar-left" class="left">
	<div id="infobar-user-avatar" class="left">
		<a href="/photos/AR_">
			<img src="http://a0.twimg.com/profile_images/1249774027/ARIMG_2660_reasonably_small.jpg" />
		</a>
	</div>
	<div id="infobar-user-info" class="right">
		<h2>AR </h2>
		<h4><a href="/photos/AR_">@AR_</a></h4>
		<p> Verified | Innovation | Social Media | Tech | HP Pre3 & TouchPad | Urban Connect | MAROKKO.nl | Amsterdam, NL | Rehab, Cairo, Egypt | @TheDizzAR previously</p>
	</div>
</div>

<div id="infobar-right" class="media-info right">
			<div id="media-neighbors">
	<div class="neighbors-control"><div class="control-left"></div></div>
	
	<span id="neighbor-images">
		  <a href="/80p4ow"><img src="http://d3j5vwomefv46c.cloudfront.net/photos/mini/484901888.jpg?key=960535&Expires=1331930637&Key-Pair-Id=APKAIYVGSUJFNRFZBBTA&Signature=OhlWO2iYuWFVeosDjGGm~2zi6DKOATwKxiSE3ubXjK5jQKFlVkGGfG7lxr4rMZYz0HUAtvj8UKk~nIC2maswKaB3UkZrrmmEkRlRk~3pjz5b22SuHa7k4bX5rqD5lAJGmXmP7r09ewoJgqa1ewiGhSXUnPmGK9emko92mK7SXQA_" /></a>
		  <a href="/7ztnsx"><img src="http://d3j5vwomefv46c.cloudfront.net/photos/mini/483433665.jpg?key=800532&Expires=1331930637&Key-Pair-Id=APKAIYVGSUJFNRFZBBTA&Signature=V~k16bZmoVz1uvSUjZ2u4~sDTlmdp1Ll1dVkWOWa1dbloaXg4coqWdqEIdl4TRQFhUyXHzGEzHrRXWqXzomOp2y0f-BxKc0R8stbZ1uPzPmifmzArQwgEK22cbhaaGUoNutLdmRmy26LIuPr7Y4j2PndRJNwIu-fSLrieGSqRq8_" /></a>
		  <a href="/7zqg7f"><img src="http://d3j5vwomefv46c.cloudfront.net/photos/mini/483283851.jpg?key=1024768&Expires=1331930637&Key-Pair-Id=APKAIYVGSUJFNRFZBBTA&Signature=gCupcXAzWJ3JRC14bElDrmJ2E-gyZr5g8yGqrer4Y3ogZSXHYLYc44xtNzy8OlE5r6ZmR5i7pcAgaHbvu5vtdDTzH~s9vRdZrw1TV-hmN96vfCmEITkfe6ZQ40BGdH-HdzFxTlu48EOR1SEb3vz4HZZ4zMa11E6aVL0xs6mjXdI_" /></a>
		</span>
	
	<div class="neighbors-control"><div class="control-right"></div></div>
			
</div>	</div>	</div>
	<div id="infobar-wedge">
		<img src="/images/info-wedge.png" />
	</div>
</div>		
	<div id="content" class="content  clear">
		<div id="media-main" class="left-content">
			<div id="media" style="width:580px;">
  <div id="media-overlay">
    <div>
      <span id="rotate-open"><img src="/images/hud-img-arrow.png" /> Rotate photo</span>
      <span>
        <a href="/8334uv/full">
          <img src="/images/hud-img-plus.png" /> View full size
        </a>
      </span>
    </div>
  </div>

  <img src="http://d3j5vwomefv46c.cloudfront.net/photos/full/488914519.jpg?key=580435&Expires=1331930637&Key-Pair-Id=APKAIYVGSUJFNRFZBBTA&Signature=gMA~lyC1syR37RJhRt51rCGghaqQIaHuUYeHk8MVf6dhBPHToc1lMQ1T3EtXBvO3EAn5ezXmZvRJipFg5GBhWteTsSKlLI~MGGTGsn1u66kn5Fy5-2R4ROMld0Xr3pugJym67Kpc2FGRuxR6EusoSwEH7StcPXrijsk40~HtqcA_" alt="The Arab Uprising. #revolution #2011" style="width:580px;" />
</div>
		
	<div id="media-caption">
		<div id="media-stats" class="right">
			<div class="media-stat">
				<p><img src="/images/views-icon.png" alt="Views" /> 
				55</p>
			</div>
			<div class="media-stat">
				<p>72 days ago</p>
			</div>
		</div>
		
		<p>
			The Arab Uprising. <a href="/tag/revolution">#revolution</a> <a href="/tag/2011">#2011</a>
			<span id="facetag-text">
			
				
				<span id="facetag-names">
									</span>

							</span>
		</p>
	</div>
	
	<div id="media-comments">		
		<div id="comments">
						
			<h2>
				<span id="num-comments">0</span>
				Comments			</h2>
			
			<div id="realtime-toggle" class="enabled">
				<p><small>Realtime comments <span class="state">enabled</span></small></p>
			</div>

			<div id="comment-wrap">
						</div>
		</div>
	</div>
</div>

<div id="media-sidebar" class="right-content">
	<iframe src="http://display.advertise.twitpic.com/" width="300" height="250" style="padding-top:10px" scrolling="no"></iframe>
	<div style="font-size:12px;color:#cacaca;font-weight: normal;"><a style="text-decoration:none;color:#cacaca;font-weight: normal;" href="http://advertise.twitpic.com">Advertise on Twitpic</a></div>

	<div id="social-plugins">
  <div id="social-twitter">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="The Arab Uprising. #revolution #2011" data-via="TwitPic" data-related="TwitPic" data-count="vertical">Tweet</a>
  </div>
  
  <div id="social-facebook">
    <div class="fb-like" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false"></div>
  </div>
    
  <div id="social-addthis">
    <div class="addthis_toolbox addthis_default_style ">
      <a class="addthis_counter"></a>
    </div>
  </div>
</div>		
	
	<div class="sidebar-section">
  <h3 class="reset-height">Embed this Photo</h3>
  <p class="reset-height"><small>Copy & paste this code into your website</small></p>
  <textarea class="photo-embed" readonly="true">&lt;a href=&quot;http://twitpic.com/8334uv&quot; title=&quot;The Arab Uprising. #revolution #2011 on Twitpic&quot;&gt;&lt;img src=&quot;http://twitpic.com/show/thumb/8334uv.jpg&quot; width=&quot;150&quot; height=&quot;150&quot; alt=&quot;The Arab Uprising. #revolution #2011 on Twitpic&quot;&gt;&lt;/a&gt;</textarea>
</div>
	
<div class="sidebar-section">

<h5>
	Tags 
		
</h5>


<div id="tags">
	<span class="tag" data-id="47151079">
	  <a href="/tag/revolution">#revolution</a>
	  <span class="delete-tag">×</span>
	</span>
		<span class="tag" data-id="47151080">
	  <a href="/tag/2011">#2011</a>
	  <span class="delete-tag">×</span>
	</span>
	</div>

</div>

		
	  <div class="ad-box">
    <iframe width="300" height="250" frameborder="0" scrolling="no" src="http://twitpic.com/ad_box.html?position=2&status=4&media_username=AR_"></iframe>
  </div>
</div>
	</div>
	
	<div id="footer">
  <div class="left">
    <p>&copy;2012 Twitpic Inc, All Rights Reserved</p>
  </div>
  <div class="right">
    <p>
      <a href="/">Home</a>
      <a href="/faq.do">FAQ</a>
      <a href="/contact.do">Contact</a>
      <a href="http://dev.twitpic.com">API</a>
      <a href="http://advertise.twitpic.com">Advertise</a>
      <a href="/terms.do">Terms</a>
      <a href="/privacy.do">Privacy</a>
    </p>
  </div>
</div>

<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="//connect.facebook.net/en_US/all.js#xfbml=1&appId=331538683530736"></script>

  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-1618034-6");
  pageTracker._initData();
  pageTracker._trackPageview();
  </script>

  <!-- Start Quantcast tag -->
  <script type="text/javascript">
  _qoptions={
  qacct:"p-28dQY-2rVKMYI"
  };
  </script>
  <script type="text/javascript" src="//secure.quantserve.com/quant.js"></script>
  <noscript>
  <img src="//secure.quantserve.com/pixel/p-28dQY-2rVKMYI.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
  </noscript>
  <!-- End Quantcast tag -->

  <!-- FM Tracking Pixel -->
  <script type='text/javascript' src='http://static.fmpub.net/site/twitpic'></script>
  <!-- FM Tracking Pixel -->



<iframe name="_rlcdn" width=0 height=0 frameborder=0 src="http://rc.rlcdn.com/332971.html"></iframe>

<!-- Generated by web18 --></body>
</html>
