<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" dir="ltr" lang="en-US">
	<head profile="http://tribune.com.pk">
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta property="fb:admins" content="28129788" />

	<title>Pakistan versus the Internet: YouTube blocked &#8211; The Express Tribune</title>
	
	<script type="text/javascript">
	/*
	 * Configuration for Addthis button
	 */
		var addthis_config =
		{
			username : 'etribune',
			ui_hover_direction : 1,
			ui_click : true,
			ui_cobrand : "The Express Tribune",
			data_track_linkback : true,
			ui_header_color : "#FFF",
			ui_header_background : "#BE0303",
			ui_offset_top : 0,
			ui_offset_left : 0,
			services_compact : "twitter,digg,facebook,delicious,stumbleupon,myspace,more"
		};

		var addthis_share = { templates:  { twitter: "{{title}} - {{url}}" } };
	</script>

	
	<!--[if lte IE 6]>
		<script type="text/javascript" src="http://tribune.com.pk/wp-content/themes/express/js/DD_belatedPNG.js"></script>
		<script type="text/javascript">
			DD_belatedPNG.fix('img, #developer-link a');
		</script>
	<![endif]-->

	<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="pingback" href="http://tribune.com.pk/application/xmlrpc.php" />

		<link rel="stylesheet" type="text/css" media="print" href="http://tribune.com.pk/wp-content/themes/express/css/css.php?type=print&amp;v=20120303" />
	<link rel="alternate" type="application/rss+xml" title="The Express Tribune &raquo; Pakistan versus the Internet: YouTube blocked Comments Feed" href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/feed/" />
<link rel='stylesheet' id='classifieds-css'  href='http://tribune.com.pk/wp-content/plugins/classifieds/classifieds.css?ver=1.1' type='text/css' media='all' />
<link rel='stylesheet' id='express-getresponse-subscription-css'  href='http://tribune.com.pk/wp-content/plugins/express-getresponse-integration/css/widget.css?ver=0.6' type='text/css' media='screen' />
<link rel='stylesheet' id='fb-custom-like-box-css'  href='http://tribune.com.pk/wp-content/plugins/fb-custom-like-box/css/widget.css?ver=0.3' type='text/css' media='screen' />
<link rel='stylesheet' id='wp-email-css'  href='http://tribune.com.pk/wp-content/plugins/wp-email/email-css.css?ver=2.50' type='text/css' media='all' />
<link rel='stylesheet' id='wp-polls-css'  href='http://tribune.com.pk/wp-content/plugins/wp-polls/polls-css.css?ver=2.50' type='text/css' media='all' />
<link rel='stylesheet' id='comments_like-css'  href='http://tribune.com.pk/wp-content/plugins/rate-comments/rate-comments.css?ver=0.2' type='text/css' media='screen' />
<script type='text/javascript' src='http://tribune.com.pk/application/wp-includes/js/l10n.js?ver=20101110'></script>
<script type='text/javascript' src='http://tribune.com.pk/application/wp-includes/js/jquery/jquery.js?ver=1.6.1'></script>
<script type='text/javascript' src='http://tribune.com.pk/wp-content/plugins/express-news-ticker/js/xmlrpc.js?ver=1.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var Ticker_config = {
	ajax_url: "http://tribune.com.pk/application/xmlrpc.php",
	cache_url: "http://tribune.com.pk/wp-content/plugins/express-news-ticker/cache/ticker.json"
};
/* ]]> */
</script>
<script type='text/javascript' src='http://tribune.com.pk/wp-content/plugins/express-news-ticker/js/ticker.min.js?ver=1.3'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var ET_config = {
	ajax_url: "http://tribune.com.pk/appication/xmlrpc.php"
};
/* ]]> */
</script>
<script type='text/javascript' src='http://tribune.com.pk/wp-content/plugins/express-trends/js/main.js?ver=1.1'></script>
<script type='text/javascript' src='http://tribune.com.pk/application/wp-includes/js/json2.js?ver=2011-02-23'></script>
<script type='text/javascript' src='http://tribune.com.pk/wp-content/plugins/video-management/js/main.js?ver=1.2'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var Express_cache_comment_module_config = {
	post_id: "14650"
};
/* ]]> */
</script>
<script type='text/javascript' src='http://tribune.com.pk/wp-content/plugins/express-cache/js/cookie.js?ver=1.0'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://tribune.com.pk/application/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://tribune.com.pk/application/wp-includes/wlwmanifest.xml" /> 
<link rel='index' title='The Express Tribune' href='http://tribune.com.pk/' />
<link rel='start' title='Solidarity day: Aman Ittehad  calls for nationwide rally on Jan 1' href='http://tribune.com.pk/story/97112/solidarity-day-aman-ittehad-calls-for-nationwide-rally-on-jan-1/' />
<link rel='prev' title='LHC reserves verdict in Watoo case' href='http://tribune.com.pk/story/14662/lhc-reserves-verdict-in-watoo-case/' />
<link rel='next' title='Kashmir gun battles kill 5 militants: Police' href='http://tribune.com.pk/story/14668/kashmir-gun-battles-kill-5-militants-police/' />
<link rel='canonical' href='http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/' />
<link rel='shortlink' href='http://tribune.com.pk/?p=14650' />
<meta name="framework" content="Alkivia Framework 0.8" />
<style type="text/css">
.wp-polls .pollbar {
	margin: 1px;
	font-size: 14px;
	line-height: 16px;
	height: 16px;
	background: #006db5;
	border: 1px solid #ffffff;
}
</style>
<link rel="stylesheet" type="text/css" media="screen" href="http://tribune.com.pk/wp-content/themes/express/css/css.php?type=main,wmd&amp;v=20120303" />
			<meta name="title" content="Pakistan versus the Internet: YouTube blocked"/>
         <meta name="description" content="Pakist&shy;an has blocke&shy;d the popula&shy;r video sharin&shy;g websit&shy;e YouTub&shy;e in a bid to contai&shy;n blasph&shy;emous materi&shy;al, offici&shy;als..." />
			<link rel="image_src" href="http://i1.tribune.com.pk/wp-content/uploads/2010/05/youtube-ban-80x45.jpg" />	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
	
</head>

<body class="section-pakistan">
<div class="container pakistan">	

<div class="ad-leaderboard-container">
	<div id="ad-leaderboard-top" class="ad-leaderboard"></div>
</div>

<div id="top-bar" class="clearfix">
	<ul>
		<li><a href="http://tribune.com.pk/rss/">RSS</a></li>
		<li><a href="/epaper/">Today's Paper</a> </li>
		<li class="last"><a href="/subscribe/">Subscribe</a></li>
				<li class="beta"> beta 2.0 </li>
	</ul>
	<div id="weather-widget">
	<div class="weather-details clearfix">
		<select name="city">
						<option value="faisalabad" >
				Faisalabad			</option>
						<option value="gilgit" >
				Gilgit			</option>
						<option value="hyderabad" >
				Hyderabad			</option>
						<option value="islamabad" >
				Islamabad			</option>
						<option value="karachi" selected='selected'>
				Karachi			</option>
						<option value="lahore" >
				Lahore			</option>
						<option value="peshawar" >
				Peshawar			</option>
						<option value="quetta" >
				Quetta			</option>
						<option value="sargodha" >
				Sargodha			</option>
						<option value="sialkot" >
				Sialkot			</option>
					</select>
		
		<a href="http://tribune.com.pk/weather">
			<img src="http://tribune.com.pk/wp-content/plugins/weather/images/1.gif?v=2"
			  title="sunny" alt="Sunny" />
		</a>
	</div>
	<div class="temperature clearfix">
		<div> High: <span class="max-temp">32</span>&#xB0;C</div>
		<div class="last"> Low: <span class="min-temp">19</span>&#xB0;C</div>
	</div>
</div></div>

<!-- Header -->
<div id="header" class="span-24 last">
	<div class="span-8">
		<div id="ad-header-left"></div>
	</div>	
	<div class="logo span-8">
				<a href="/" title="The Express Tribune">
			<img src="http://tribune.com.pk/wp-content/themes/express/img/header/logo.gif?v=0.2" border="0" alt="The Express Tribune" width="296" height="89" />
		</a>

	</div>
	<div class="span-8 last">
		<div id="ad-header-right"></div>
	</div>	
</div>

<!-- Navigation -->
<div id="navigation" class="span-24 last">
	
	<ul id="main-menu" class="category"><li class="first home menu-item-object-custom"><a href="http://tribune.com.pk/">Home</a></li>
<li class="current pakistan menu-item-object-category"><a href="http://tribune.com.pk/pakistan/">Pakistan</a></li>
<li class="business menu-item-object-category"><a href="http://tribune.com.pk/business/">Business</a></li>
<li class="world menu-item-object-category"><a href="http://tribune.com.pk/world/">World</a></li>
<li class="sports menu-item-object-category"><a href="http://tribune.com.pk/sports/">Sports</a></li>
<li class="life-style menu-item-object-category"><a href="http://tribune.com.pk/life-style/">Life &#038; Style</a></li>
<li class="multimedia menu-item-object-category"><a href="http://tribune.com.pk/multimedia/">Multimedia</a></li>
<li class="opinion menu-item-object-category"><a href="http://tribune.com.pk/opinion/">Opinion</a></li>
<li class="magazine menu-item-object-category"><a href="http://tribune.com.pk/magazine/">Magazine</a></li>
<li class="blogs menu-item-object-custom"><a href="http://blogs.tribune.com.pk/">Blogs</a></li>
<li class="jobs menu-item-object-custom"><a href="http://jobs.tribune.com.pk/">Jobs</a></li>
<li class="last classifieds menu-item-object-custom"><a href="http://classifieds.tribune.com.pk">Classifieds</a></li>
</ul>	
	<div id="sub-nav" class="span-24">
			<div class="span-19">
		<ul id="sub-menu" class="pakistan subcategory">	<li class="first menu-item-object-category"><a href="http://tribune.com.pk/pakistan/sindh/">Sindh</a></li>
	<li class="menu-item-object-category"><a href="http://tribune.com.pk/pakistan/punjab/">Punjab</a></li>
	<li class="menu-item-object-category"><a href="http://tribune.com.pk/pakistan/balochistan/">Balochistan</a></li>
	<li class="menu-item-object-category"><a href="http://tribune.com.pk/pakistan/khyber-pakhtunkhwa-fata/">KP &#038; FATA</a></li>
	<li class="menu-item-object-category"><a href="http://tribune.com.pk/pakistan/jammu-kashmir/">Jammu &#038; Kashmir</a></li>
	<li class="last menu-item-object-category"><a href="http://tribune.com.pk/pakistan/gilgit-baltistan/">Gilgit Baltistan</a></li>
</ul>		</div>
			<div id="search" class="span-5 last">
			<form action="/" id="cse-search-box" method="get" class="search">
				<input type="hidden" name="cx" value="partner-pub-2620341023138785:7641568038" />
				<input type="hidden" name="cof" value="FORID:10" />
				<input type="hidden" name="ie" value="UTF-8" />
				<input type="hidden" name="s" value="true" />
				<input type="hidden" name="hq" value="more:recent4" />
				<input type="text" class="text" name="q" />
				<input type="image" src="http://tribune.com.pk/wp-content/themes/express/img/search-icon.gif" class="image" alt ="S" />
			</form>
		</div>
	</div>
</div>

<!-- ticker -->
<div id="tickerbox" class="span-24">
	<div class="span-2 label">Alerts</div>
	<div class="text"><div id="tickertext">&nbsp;</div></div>
	<div class="controls">
		<img src="http://tribune.com.pk/wp-content/themes/express/img/left-arrow-thin.gif" alt="&lt;" class="prev" />
		<img src="http://tribune.com.pk/wp-content/themes/express/img/right-arrow-thin.gif" alt="&gt;" class="next" />
	</div>
</div>
<div id="fb-root"></div>
<div class="single primary span-16">
	<div id="id-14650" class="story clearfix">
		<h1 class="title"><a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/">Pakistan versus the Internet: YouTube blocked</a></h1>
		<div class="excerpt display-none">
			Pakist&shy;an has blocke&shy;d the popula&shy;r video sharin&shy;g websit&shy;e YouTub&shy;e in a bid to contai&shy;n blasph&shy;emous materi&shy;al, offici&shy;als...		</div>
		<div class="meta">
									<div class="author">By <a href="http://tribune.com.pk/author/74/express/" title="Posts by Express ">Express </a> / <a href="http://tribune.com.pk/author/77/reuters/" title="Posts by Reuters ">Reuters </a></div>
						<div class="timestamp" title="2010-05-20T08:10:18 GMT">Published: May 20, 2010</div>
		</div>

		<div class="span-12 clearfix story-content">
						<div class="story-image" >
				<div class="story-image-container">
					<img src="http://i1.tribune.com.pk/wp-content/uploads/2010/05/youtube-ban-252x252.jpg" alt=""
						  width="465" height="262" />
				</div>
				<p class="caption">
					Pakistan has blocked the popular video sharing website YouTube in a bid to contain blasphemous material.				</p>
			</div>
			
			<p><strong><strong class='location'>KARACHI:&nbsp;</strong>Pakistan has blocked the popular video sharing website YouTube in a bid to contain blasphemous material, officials said on Thursday.</strong></p>
<p>There are reports that another popular photo sharing website, Flickr.com has been blocked. Internet users across the country have also reported being unable to access the English section of popular internet encyclopedia website, Wikipedia.</p>
<p>This comes in the backdrop of a PTA ban on the popular social networking website Facebook after a controversy surrounding the website hosting an event promoting caricatures of the Prophet Muhammad (PBUH).</p>
<p>PTA blocked access to Facebook on a court order over a competition created by a Facebook user who set up a page called &#8220;Draw Mohammed Day,&#8221; inviting people to send in caricatures of the Prophet Muhammad (PBUH) on May 20. Protests have been taking place across the country against Facebook’s failure to remove the offensive page off the social network.</p>
<p>Pakistani bloggers on the micro-blogging website Twitter are in an uproar on what they claim to be a ban on Wikipedia, the popular internet encyclopedia website, and video hosting website YouTube.</p>
<p>Wahaj-us-Siraj, the CEO of Nayatel, an Internet service provider, said PTA issued an order late on Wednesday seeking an &#8220;immediate&#8221; blockade of YouTube.</p>
<p>&#8220;It was a serious instruction as they wanted us to do it quickly and let them know after that,&#8221; he told Reuters.</p>
<p>YouTube was also blocked in the country in 2007 for about a year for what it called un-Islamic videos.</p>
<p>A PTA official, who declined to be identified, said the action was taken after the authority determined that some caricatures of the Prophet Mohammad were transferred from Facebook to YouTube.</p>
<p>Siraj said the blocking of the two websites would cut up to 25 per cent of total Internet traffic in Pakistan.</p>
<p>&#8220;It&#8217;ll have an impact on the overall Internet traffic as they eat up 20 to 25 per cent of the country&#8217;s total 65 giga-bytes traffic,&#8221; he said.</p>
<p>Publications of similar cartoons in Danish newspapers in 2005 sparked deadly protests in Muslim countries. Around 50 people were killed during violent protests in Muslim countries in 2006 over the cartoons, five of them in Pakistan.</p>

					</div>

		<div class="span-4 last story-aux">
			<div class="social-widget widget">
				<div class="content">
					
					<a id="addthis_button_14650_221314669" href="http://www.addthis.com/bookmark.php?v=250" class="share-this" title="Share"><img src="http://tribune.com.pk/wp-content/themes/express/img/share-18.gif?v=1.0" alt="" /><span>Share this article</span></a><script type="text/javascript"> jQuery(window).load(function(){ addthis.button("#addthis_button_14650_221314669", {}, {url: "http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/", title: "Pakistan versus the Internet: YouTube blocked"}); }); </script>					
					<a href="?print=true" title="Printer Friendly">
						<img src="http://tribune.com.pk/wp-content/themes/express/img/printer-friendly.gif?v=1.0" alt="" />
						<span>Print this page</span>
					</a>
					
					<a href="http://tribune.com.pk/email/14650/pakistan-versus-the-internet-youtube-blocked/" title="Email story to friend" class="email-friend" target="_blank" >
						<img src="http://tribune.com.pk/wp-content/themes/express/img/email-icon.gif?v=1.0" alt="" />
						<span>Email a friend</span>
					</a>

					<div class="fb-link social-button">
						<fb:like colorscheme="evil" href="" layout="button_count"
									action="like" show_faces="false" width="130px"></fb:like>
					</div>

					<div class="twitter-link social-button">
						<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" 
							data-text="Pakistan versus the Internet: YouTube blocked" data-via="etribune"></a>
					</div>
					
					<div class="google-link social-button">
						<g:plusone size="medium"></g:plusone>
					</div>
				</div>
			</div>
			
		<div class="related-stories-widget widget">
			<h4>Related Stories</h4>
			<div class="content"><ul class="links related-stories"><li><span class="date">20 May 2010</span><a href="http://tribune.com.pk/story/14678/wikipedia-facebook-youtube-what-next/">Wikipedia, Facebook, YouTube... what next?</a></li><li><span class="date">21 May 2010</span><a href="http://tribune.com.pk/story/14927/pta-broadens-scope-of-internet-curbs/">PTA broadens scope of Internet curbs</a></li><li><span class="date">21 May 2010</span><a href="http://tribune.com.pk/story/14986/twitter-blocked-in-parts-of-pakistan/">Twitter blocked in parts of Pakistan</a></li><li><span class="date">26 May 2010</span><a href="http://tribune.com.pk/story/16433/its-official-youtube-is-back/">Its official, YouTube is back in Pakistan!</a></li><li class="last"><span class="date">31 May 2010</span><a href="http://tribune.com.pk/story/17520/lhc-lifts-ban-on-facebook/">LHC lifts ban on Facebook</a></li></ul></div>
		</div>

					<div class="ad-vertical-container clear">
            	<div id="ad-vertical" class="ad-vertical"></div>
         	</div>
		</div>

		<div class="social-widget story-social-links span-16">
			
			<div class="twitter-link">
				<a href="http://twitter.com/share" class="twitter-share-button"
					data-count="horizontal" data-url="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/" data-via="etribune"
					data-text="Pakistan versus the Internet: YouTube blocked" >Tweet</a>
			</div>
			<div class="fb-link">
				<fb:like colorscheme="evil" href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/" layout="button_count"
							show_faces="false" width="100px"></fb:like>
			</div>
			<div class="google-link">
				<g:plusone size="medium"></g:plusone>
			</div>
			<a id="addthis_button_14650_370376525" href="http://www.addthis.com/bookmark.php?v=250" class="share-this" title="Share"><img src="http://tribune.com.pk/wp-content/themes/express/img/share-18-btf.gif?v=1.0" alt="" /><span>Share this article</span></a><script type="text/javascript"> jQuery(window).load(function(){ addthis.button("#addthis_button_14650_370376525", {}, {url: "http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/", title: "Pakistan versus the Internet: YouTube blocked"}); }); </script>		</div>
	</div>

	<div class="ad-fullbanner-btf-container clear">
		<div id="ad-fullbanner-btf" class="ad-fullbanner-btf"></div>
	</div>

	<div id="comments">
	<div class="last">
		<h2>Reader Comments (41)</h2>
	</div>


	<div class="comments-tabs">
		<ul class="ul-tabs clearfix">
			<li>
				<a class="current all-comments" href="#comments">All Comments</a>
			</li>
			<li>
				<a class="recommended-comments" href="#comments">Reader's Recommendations</a>
			</li>
		</ul>

		<div class="tabs-content-group">
			<ul class="commentlist hfeed">
				
<li class="li-comment" id="li-comment-9921">
	<div class="div-comment" id="div-comment-9921">
<div id="comment-9921" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author"><a href='http://www.making-your-own-website.com' rel='external nofollow' target='_blank'>Nabeel | Create Your First Website</a></div>
				<div class="timestamp" title="2010-05-20T08:12:12 GMT">
			May 20, 2010 - 1:12PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>Flickr (<a target="_blank" href="http://www.flickr.com/">http://www.flickr.com/</a>) is also banned.<span id="like-9921" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-9936">
	<div class="div-comment" id="div-comment-9936">
<div id="comment-9936" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Mo</div>
				<div class="timestamp" title="2010-05-20T08:24:00 GMT">
			May 20, 2010 - 1:24PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>I wonder when we will have school children coming out on roads protesting scarcity of clean drinking water, dearth of school teachers, and lack of basic, affordable healthcare! Maybe the judges at the LHC need to get their priorities right!<span id="like-9936" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-9942">
	<div class="div-comment" id="div-comment-9942">
<div id="comment-9942" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Hassan</div>
				<div class="timestamp" title="2010-05-20T08:27:28 GMT">
			May 20, 2010 - 1:27PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>These kind of actions should have been done proactively&#8230;. but so far so goood&#8230; That should be the spirit.. !!<span id="like-9942" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-9947">
	<div class="div-comment" id="div-comment-9947">
<div id="comment-9947" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">NOOR</div>
				<div class="timestamp" title="2010-05-20T08:30:40 GMT">
			May 20, 2010 - 1:30PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>Wikipedia, Gmail, Orkut also blocked&#8230;<span id="like-9947" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-9951">
	<div class="div-comment" id="div-comment-9951">
<div id="comment-9951" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">NOOR</div>
				<div class="timestamp" title="2010-05-20T08:35:42 GMT">
			May 20, 2010 - 1:35PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>What we can&#8217;t see or read won&#8217;t hurt us.. </p>
<p>Today u-tube, facebook, flickr, gmail, Blackberry Service.. </p>
<p>Tomorrow ???</p>
<p>Where are the courts when we kill our own people for political control of a city????<span id="like-9951" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-9954">
	<div class="div-comment" id="div-comment-9954">
<div id="comment-9954" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Usman</div>
				<div class="timestamp" title="2010-05-20T08:40:04 GMT">
			May 20, 2010 - 1:40PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>Wiki is running though! flicker also running on my PC<span id="like-9954" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-9955">
	<div class="div-comment" id="div-comment-9955">
<div id="comment-9955" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Shaza</div>
				<div class="timestamp" title="2010-05-20T08:40:30 GMT">
			May 20, 2010 - 1:40PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>This is hardly a solution, blocking these sites is like fresh icing on a rotten cake.<span id="like-9955" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-9960">
	<div class="div-comment" id="div-comment-9960">
<div id="comment-9960" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Miks</div>
				<div class="timestamp" title="2010-05-20T08:42:49 GMT">
			May 20, 2010 - 1:42PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>Wikipedia is also blocked. Wonder where this psycho govt will stop.<span id="like-9960" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-9962">
	<div class="div-comment" id="div-comment-9962">
<div id="comment-9962" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">b</div>
				<div class="timestamp" title="2010-05-20T08:44:44 GMT">
			May 20, 2010 - 1:44PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>im amazed at the ignorance<span id="like-9962" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-9963">
	<div class="div-comment" id="div-comment-9963">
<div id="comment-9963" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Danish</div>
				<div class="timestamp" title="2010-05-20T08:48:08 GMT">
			May 20, 2010 - 1:48PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>lets ban Google. and then Yahoo and MSN. lets just turn off Internet. MORONS. really what a stupid nation n rulers and above all judges.<span id="like-9963" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-9982">
	<div class="div-comment" id="div-comment-9982">
<div id="comment-9982" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Ali Khan</div>
				<div class="timestamp" title="2010-05-20T09:09:43 GMT">
			May 20, 2010 - 2:09PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>huh. Another stupid decision.<span id="like-9982" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-9986">
	<div class="div-comment" id="div-comment-9986">
<div id="comment-9986" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Faisal W</div>
				<div class="timestamp" title="2010-05-20T09:18:59 GMT">
			May 20, 2010 - 2:18PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>we should also close our borders&#8230; there is no guarantee what the infiedels will bring with them&#8230;.<span id="like-9986" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-9987">
	<div class="div-comment" id="div-comment-9987">
<div id="comment-9987" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">GaGaN</div>
				<div class="timestamp" title="2010-05-20T09:20:12 GMT">
			May 20, 2010 - 2:20PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>Wikipedia (<a target="_blank" href="http://en.wikipedia.org">http://en.wikipedia.org</a>) is banned too.<span id="like-9987" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-9989">
	<div class="div-comment" id="div-comment-9989">
<div id="comment-9989" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Faiza Javed</div>
				<div class="timestamp" title="2010-05-20T09:22:37 GMT">
			May 20, 2010 - 2:22PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>hats off to policy maker<span id="like-9989" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-9993">
	<div class="div-comment" id="div-comment-9993">
<div id="comment-9993" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Tayyab Raza</div>
				<div class="timestamp" title="2010-05-20T09:38:34 GMT">
			May 20, 2010 - 2:38PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p><strong>Okay !! i was trying to understand the decision of LHC to ban facebook and hardly convinced myself that it was right..<br />
but Lo!!!! youtube and wikipedia ????<br />
for Goodness sake, these are informative websites, not a wastage of time at all..<br />
and what&#8217;s next on the list of surprises ???<br />
YAHOO ?? MSN ??? GOOGLE??<br />
BAN the internet.. !! :))<br />
what say U ?? lol<br />
stupidity at its best..</strong><span id="like-9993" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-9994">
	<div class="div-comment" id="div-comment-9994">
<div id="comment-9994" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Adnan</div>
				<div class="timestamp" title="2010-05-20T09:39:00 GMT">
			May 20, 2010 - 2:39PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>Welldone good work done by govt. of Pakistan on right time. Shabash PTA<span id="like-9994" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-9996">
	<div class="div-comment" id="div-comment-9996">
<div id="comment-9996" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Bilal Qureshi</div>
				<div class="timestamp" title="2010-05-20T09:42:42 GMT">
			May 20, 2010 - 2:42PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>I am amazed at the Pakistani public’s reaction to this travesty more than anything else. It seems that we live in a society where you can ban anything in the name of Islam and people will come out in hordes in support and solidarity. It reminds me of an incident in Saudi Arabia when Shah Abdul Aziz wanted to install the kingdom’s first Radio Station and the muftis of the era deemed it the devil’s box decreeing that the wooden box was occupied by Satan who would speak in human voices. To resolve the issue Shah Abdul Aziz got the imam of the mosque in medina to recite verses of the Quran in the microphone and transmit it to Makah for the rest of the clergy to listen to. He then posed a question to the holy men that if Satan was in the box then why would he be reciting the Holy Quran and so beautifully at that. This is where our country seems to be at the moment where we are only too happy to shoot the messenger. I would plead with all these people to search the number of Islamic videos on youtube and consider joining all the Muhammad fan clubs on facebook and then decide if it is productive to ban the entire internet based on 5 people’s hurtful comments. Also it is a slippery slope that the high court is advocating and I suspect the government will seize this initiative in the name of Islam to ban anything it deems offensive to itself. The people of this country need to be sensible and mature in order to defend our hard earned right to freedom of speech. If we let the government ban Wikipedia, Youtube and facebook soon we will be back to the 80’s era of PTV and government controlled media. All in the name of Islam.<span id="like-9996" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-9999">
	<div class="div-comment" id="div-comment-9999">
<div id="comment-9999" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">NOOR</div>
				<div class="timestamp" title="2010-05-20T09:45:16 GMT">
			May 20, 2010 - 2:45PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>Google, Yahoo also not responding now in certain parts of the country..<span id="like-9999" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-10006">
	<div class="div-comment" id="div-comment-10006">
<div id="comment-10006" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Azeem</div>
				<div class="timestamp" title="2010-05-20T09:52:04 GMT">
			May 20, 2010 - 2:52PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>Hassan&#8230;&#8230;.are u high on something?<span id="like-10006" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-10013">
	<div class="div-comment" id="div-comment-10013">
<div id="comment-10013" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">R</div>
				<div class="timestamp" title="2010-05-20T09:58:23 GMT">
			May 20, 2010 - 2:58PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>hypocrites R us. defending religion on &#8220;FB&#8221; while we ignore the real issues of our country. </p>
<p>a family struggles to survive in todays economy, and here we are trying to save GiGaByTeS. </p>
<p>We will steal money, spread corruption, yet portray to be the innocent of the lot. </p>
<p>what will this banning gain? NOTHING! infact, all it will gain is the attention of the wrong doers to do it again n again and again! </p>
<p>Sometimes, ignorance is a bliss. On the day when we&#8217;re judged HE will know that OUR conscience was clear and we did not take part in this &#8220;blasphemy&#8221; but certainly let our concerns/voices be heard. </p>
<p>WAKE UP!<span id="like-10013" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-10020">
	<div class="div-comment" id="div-comment-10020">
<div id="comment-10020" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Jahnzeb</div>
				<div class="timestamp" title="2010-05-20T10:07:22 GMT">
			May 20, 2010 - 3:07PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>GMAIL is NOT blocked and neither is Google. </p>
<p>Wikipedia (English version) is blocked. You can&#8217;t do anything but visit the opening page of Wikipedia. </p>
<p>Youtube, Flickr also blocked by PTCL and TW-1<span id="like-10020" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-10022">
	<div class="div-comment" id="div-comment-10022">
<div id="comment-10022" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Miks</div>
				<div class="timestamp" title="2010-05-20T10:10:13 GMT">
			May 20, 2010 - 3:10PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>I&#8217;m filling out my immigration papers as I read this article&#8230;<span id="like-10022" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-10025">
	<div class="div-comment" id="div-comment-10025">
<div id="comment-10025" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Z ali</div>
				<div class="timestamp" title="2010-05-20T10:11:38 GMT">
			May 20, 2010 - 3:11PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>Good decision on time to block the sites but in mean time we have to prepare our selfs to reply them on same site the real picture of ISLAM and spread the message of our Holy prophet using same plate form . we can win them by using the teaching of holy prophet.<span id="like-10025" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-10027">
	<div class="div-comment" id="div-comment-10027">
<div id="comment-10027" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">ishaq</div>
				<div class="timestamp" title="2010-05-20T10:13:34 GMT">
			May 20, 2010 - 3:13PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>our corrupt judiciary is just trying to be more political and they are touching those issues through which they can be popular in media. they have nothing to do with giving justice to poor people who are waiting for justice for many years.<span id="like-10027" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-10028">
	<div class="div-comment" id="div-comment-10028">
<div id="comment-10028" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author"><a href='http://www.rungoogle.com' rel='external nofollow' target='_blank'>irfan</a></div>
				<div class="timestamp" title="2010-05-20T10:13:35 GMT">
			May 20, 2010 - 3:13PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>Non-Muslims should not do cheap action .Every country has a right to block such sites.<span id="like-10028" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-10031">
	<div class="div-comment" id="div-comment-10031">
<div id="comment-10031" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author"><a href='http://freebird.instablogs.com/' rel='external nofollow' target='_blank'>Karim Khan</a></div>
				<div class="timestamp" title="2010-05-20T10:21:13 GMT">
			May 20, 2010 - 3:21PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>How about banning all TV channels (women in tight jeans and dancing are unIslamic) and adio (songs are sins), and newspapers (models posing boldly before men in ads). LHC shuold also ban female lawyers from practicing in courts. :)<span id="like-10031" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-10035">
	<div class="div-comment" id="div-comment-10035">
<div id="comment-10035" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Bumzi</div>
				<div class="timestamp" title="2010-05-20T10:29:00 GMT">
			May 20, 2010 - 3:29PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>Just imagine if they insulted our parents, what wud our reaction be? If we are Muslims, we r supposed to love our Prophet more than our parents. Support to ban facebook is the least we can do.<span id="like-10035" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-10037">
	<div class="div-comment" id="div-comment-10037">
<div id="comment-10037" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author"><a href='//aaa' rel='external nofollow' target='_blank'>PERVAIZ</a></div>
				<div class="timestamp" title="2010-05-20T10:31:28 GMT">
			May 20, 2010 - 3:31PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>Do not panic , we will not die if we not use facebook or u tube etc. for few days . This time need some action may be this is not a right action  but what about that cartoon . I think we all must back this action and force the other Muslim country to do the same and force the web site to remove that dirty material . al hamadallha once again Pakistani is pioneer .<span id="like-10037" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-10051">
	<div class="div-comment" id="div-comment-10051">
<div id="comment-10051" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Azeem</div>
				<div class="timestamp" title="2010-05-20T10:51:17 GMT">
			May 20, 2010 - 3:51PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>how do we reply. its banned. there was an anti draw Muhammad (SAW) page. lot of those members are now banned. some people planned to delete their accounts in protest. they cant because they cannot connect to the site. Allah will deal with those who ridicule our Prophet (SAW). Inshallah we will prevail but this is not the way to fight.<span id="like-10051" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-10053">
	<div class="div-comment" id="div-comment-10053">
<div id="comment-10053" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Shifa</div>
				<div class="timestamp" title="2010-05-20T10:54:04 GMT">
			May 20, 2010 - 3:54PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>According to me LHC has taken right decision when it comes to our Glorious Prophet (peace be upon him) we have to take strong action.after all we all know the fact that facebook was a waste of time!<span id="like-10053" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-10058">
	<div class="div-comment" id="div-comment-10058">
<div id="comment-10058" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Irfan Afghan</div>
				<div class="timestamp" title="2010-05-20T10:58:48 GMT">
			May 20, 2010 - 3:58PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>Wikipedia is working &#8230;<span id="like-10058" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-10073">
	<div class="div-comment" id="div-comment-10073">
<div id="comment-10073" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">The Master</div>
				<div class="timestamp" title="2010-05-20T11:16:21 GMT">
			May 20, 2010 - 4:16PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>We will not die after blocking of these sites, and for my all computer just join me or gather wherever you are and just make our search engine a and social website.Why don&#8217;t we make these type sites for ourselves, do we have to always follow the west for information.Please think and come forward to make use of your own brain and make good sites.I know we have great talent and it is just suppressed as we are just the followers , change habit and try make own efforts so that people join our websites where we can protect everybody&#8217;s religion as per teaching of our Islam.<span id="like-10073" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-10083">
	<div class="div-comment" id="div-comment-10083">
<div id="comment-10083" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Rida Tanveer</div>
				<div class="timestamp" title="2010-05-20T11:26:10 GMT">
			May 20, 2010 - 4:26PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>wow,,, I am amazed at people who cannot stay away from Facebook even for a few days..People saying that it was a wrong decision to block these websites,they should be ashamed, nobody is asking to shut down the entire internet , but this was a good decision. Out of all the Muslim countries, only Pakistani government had the guts to ban these websites. Wikipedia had PBUH sketches, so it is good that they banned it too. I guess losers like you need Facebook for so called social networking.<br />
yes it is true that we Muslims need to have self control. We should be the ones not visiting these websites and nobody should force us to boycott these websites. But why do you think we had Caliphs in earlier times??Why has god said that if a person steals his hands should be cut??Does he not have self control. So people it is the duty of the government to see if the nation is doing wrong. And for the first time this government is taking decisions it should have taken long before&#8230;<span id="like-10083" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-10084">
	<div class="div-comment" id="div-comment-10084">
<div id="comment-10084" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Shifa</div>
				<div class="timestamp" title="2010-05-20T11:26:17 GMT">
			May 20, 2010 - 4:26PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>@The Master .. I totally agree on that! (Y)<span id="like-10084" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-10096">
	<div class="div-comment" id="div-comment-10096">
<div id="comment-10096" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Ahmad Babar</div>
				<div class="timestamp" title="2010-05-20T11:38:17 GMT">
			May 20, 2010 - 4:38PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>Salam,</p>
<p>Dear all,</p>
<p>How many websites are we going to block before we realize that we actually have to do something instead of sitting back and just blocking these websites? When will be realize that we have to use these very platforms to spread good things about Islam and our Beloved Prophet Muhammad (SAW)? Where is this Islamic Lawyer&#8217;s group when leaked pictures of Pakistani girls are posted on porn websites? Why doesn&#8217;t PTA block pornographic material? When will we stop blindly jumping on the bandwagon and for once actually do something in Honor of our Prophet (SAW)?</p>
<p>Regards,</p>
<p>Ahmad B.<span id="like-10096" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-10097">
	<div class="div-comment" id="div-comment-10097">
<div id="comment-10097" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">r</div>
				<div class="timestamp" title="2010-05-20T11:38:20 GMT">
			May 20, 2010 - 4:38PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>gr8 work pta &#8230;really happy facebooks blocked ut i dont want utube or wiki to b blocked<span id="like-10097" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-10100">
	<div class="div-comment" id="div-comment-10100">
<div id="comment-10100" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Rida Tanveer</div>
				<div class="timestamp" title="2010-05-20T11:44:58 GMT">
			May 20, 2010 - 4:44PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>@shifa..i agree with master too!!!<span id="like-10100" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-11302">
	<div class="div-comment" id="div-comment-11302">
<div id="comment-11302" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">umer hassan</div>
				<div class="timestamp" title="2010-05-22T00:45:13 GMT">
			May 22, 2010 - 5:45AM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>very sad. trhere is no need to block youtube<span id="like-11302" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-11352">
	<div class="div-comment" id="div-comment-11352">
<div id="comment-11352" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">IdrewMohammadToo</div>
				<div class="timestamp" title="2010-05-22T05:48:39 GMT">
			May 22, 2010 - 10:48AM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>Sadly in the fight against oppression there are casualties. This event was rough around the edges so to speak, but the intent behind it was sincere. Always stand up to the bullies on the playground. They need to be ‘taught’ how to behave by the rest of us.</p>
<p>Sometimes you have to respond in a manner that the other side can take notice of regardless of how banal and crude other people think it may have been. They took notice that people were standing up to their tyrannical antisocial expectations put upon the rest of us by them.</p>
<p>The first page received up to 100,000 supporters prior to being removed, the 2nd page was up to 14,500 supporters before it was also removed.<br />
The ‘protest’ was a huge success, no one had acid splashed into their faces, no one had their hands cut off with swords, and no one was bombed by a homicide bomber.<br />
We [atheists, Pagans, Xians, Hindus, &amp; Buddhists] all exercised our right to freedom of expression in the face of “Hate Speech Mongers” who masquerade as a “Religion of Peace”.</p>
<p>It was done. That is what was important.<span id="like-11352" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-11667">
	<div class="div-comment" id="div-comment-11667">
<div id="comment-11667" class="comment odd alt thread-odd thread-alt depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">Naveed Babar</div>
				<div class="timestamp" title="2010-05-22T19:46:08 GMT">
			May 23, 2010 - 12:46AM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>Well dont no wat to said here , but it a fact that govt was looking for some thing like Facebook provide them and the took action on it with hours , while on the other side <strong>SUPREME COURT OF PAKISTAN&#8217;s</strong> ordered lots of things but GOVT did nt move for inch ..lolxx</p>
<p>I LOVE (PBUH) but as our friend wrote above that we dont offer nimaz which is the most basic part of our islamic life, and shouting that FB did wrong you-tube is wrong and etc etc ,,<span id="like-11667" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>

<li class="li-comment" id="li-comment-12648">
	<div class="div-comment" id="div-comment-12648">
<div id="comment-12648" class="comment even thread-even depth-1 clearfix">
	<div class="span-4 meta last">
		<div class="author">WA</div>
				<div class="timestamp" title="2010-05-25T10:59:36 GMT">
			May 25, 2010 - 3:59PM		</div>

				<div class="reply">
			<a href="http://tribune.com.pk/story/14650/pakistan-versus-the-internet-youtube-blocked/#respond-p14650" class="comment-reply-link" rel="nofollow">Reply</a>
		</div>
			</div>

	<div class="span-12 last">
		<div class="content">
		<p>People i just checked Google has images of the Prophet (PBUH)&#8230;.so what now&#8230; LHC will ban Google as well&#8230;?<span id="like-12648" class="comments-like clearfix"><a target="_blank" class="disabled" href="#" title="Recommend This Comment">Recommend</a></span></p>
				
		</div>
	</div>
</div>	</div>
</li>
			</ul>
			<div class="more-comments">
				<a href="#comments"> MORE </a>
			</div>
			
					</div>
	</div>

<script language="javascript" type="text/javascript">
//<![CDATA[
	jQuery(document).ready(function() {
		var author = _get_author_cookie_info();
		jQuery('#commentform input[name=author]').val(author.name);
		jQuery('#commentform input[name=email]').val(author.email);
		jQuery('#commentform input[name=location]').val(author.city);
		jQuery('#commentform input[name=url]').val(author.url);
	});

	function _get_author_cookie_info() {
		var author = {};
		
		var name  = document.cookie.match(/comment_author_[^=_]+=([^;]+)/);
		var email = document.cookie.match(/comment_author_email_[^=_]+=([^;]+)/);
		var url   = document.cookie.match(/comment_author_url_[^=_]+=([^;]+)/);
		var city  = document.cookie.match(/exp_city=([^;]+)/);

		author.name  = (name && name[1])   ? mydecodeURIComponent(name[1])  : '';
		author.email = (email && email[1]) ? mydecodeURIComponent(email[1]) : '';
		author.url   = (url && url[1])     ? mydecodeURIComponent(url[1])   : '';
		author.city  = (city && city[1])   ? mydecodeURIComponent(city[1])  : '';

		return author;
	}

	function mydecodeURIComponent(str) {
		str = "" + str;
		while(1) {
			var i = str.indexOf ('+');
			if (i < 0) break;

			str = str.substring(0, i) + '%20' + str.substring(i + 1, str.length);
		}
		
		return decodeURIComponent(str);
	}
//]]>
</script></div>

</div>

<div class="sidebar span-8 last">
	<div class="widget ad-box-container">
	<div id="ad-box-right" class="ad-box"></div>
</div>




<div id="email-marketing-widget" class="widget email-marketing-widget">
	<h4 class="title">Daily Headlines Newsletter</h4>
	<div class="content">
		<p>Sign up to receive the day's top stories, emailed every morning</p>
		<form accept-charset="utf-8" action="https://app.getresponse.com/add_contact_webform.html" method="post">
			
			<label class="wf-label" for="wf-name">Name</label>
			
			<div class="input-field">
				<input type="text" class="wf-input wf-valid__length1to255" name="name" id="wf-name" />
			</div>			
			<label class="wf-label" for="wf-email">Email</label>
			<div class="input-field">
				<input type="text" class="wf-input wf-req wf-valid__email" name="email" id="wf-email"/>
			</div>
			<input type="submit" value="Sign Up!" class="wf-button" name="submit"/>						
			<input type="hidden" name="webform_id" value="120725"/>
		</form>
	</div>
</div><div style="height:300px" class="widget"><fb:recommendations site="http://tribune.com.pk" width="300px" height="300px" header="true"></fb:recommendations></div><div id="recent-posts-7" class="clearfix widget widget_recent_entries"><h4 class="title">Latest News</h4><div class="content">
<div id="id-349954" class="story  cat-0 group-0 position-0 first small-story">
	<div class="content clearfix">
		<a class="image" href="http://tribune.com.pk/story/349954/brp-claims-several-people-killed-as-security-forces-launch-search-operation-in-dera-bugti/">
			<img src="http://i1.tribune.com.pk/wp-content/uploads/2012/03/349954-frontiercorpsFC-1331739764-815-160x120.jpg" title="Security forces have contradicted statements. PHOTO: EXPRESS/FILE" alt=""
				  width="67" height="50" />
		</a>

		<h2 class="title">
			<a href="http://tribune.com.pk/story/349954/brp-claims-several-people-killed-as-security-forces-launch-search-operation-in-dera-bugti/" title="Security forces contradict statement, say no operation being conducted anywhere in Balochistan.">BRP claims several people killed as security forces launch search operation in Dera Bugti</a>
		</h2>
		<div class="excerpt display-none">
			Securi&shy;ty forces contra&shy;dict statem&shy;ent, say no operat&shy;ion being conduc&shy;ted anywhe&shy;re in Baloch&shy;istan.		</div>
		<div class="meta">
			<span class="author"><a href="http://tribune.com.pk/author/326/shehzad-baloch/" title="Posts by Shehzad Baloch">Shehzad Baloch</a></span>
			<span class="timestamp" title="2012-03-14T15:47:07 GMT"></span>
		</div>
	</div>
</div>
<div id="id-349940" class="story  cat-0 group-0 position-0 small-story">
	<div class="content clearfix">
		<a class="image" href="http://tribune.com.pk/story/349940/ignoring-court-orders-non-bailable-warrants-issued-for-sho/">
			<img src="http://i1.tribune.com.pk/wp-content/uploads/2012/03/349940-Newsinbriefx-1331738381-924-160x120.JPG" title="  " alt=""
				  width="67" height="50" />
		</a>

		<h2 class="title">
			<a href="http://tribune.com.pk/story/349940/ignoring-court-orders-non-bailable-warrants-issued-for-sho/" title="Judge Sipra is hearing a case against two alleged drug peddlers who were arrested by Nishtar Colony police.   ">Ignoring court orders: Non bailable warrants issued for SHO </a>
		</h2>
		<div class="excerpt display-none">
			Judge Sipra is hearin&shy;g a case agains&shy;t two allege&shy;d drug peddle&shy;rs who were arrest&shy;ed by Nishta&shy;r Colony police.   		</div>
		<div class="meta">
			<span class="author"><a href="http://tribune.com.pk/author/303/our-correspondent/" title="Posts by Our Correspondent">Our Correspondent</a></span>
			<span class="timestamp" title="2012-03-14T15:25:26 GMT"></span>
		</div>
	</div>
</div>
<div id="id-349943" class="story  cat-0 group-0 position-0 small-story">
	<div class="content clearfix">
		<a class="image" href="http://tribune.com.pk/story/349943/murder-5-suspects-granted-bail/">
			<img src="http://i1.tribune.com.pk/wp-content/uploads/2012/03/349943-lhc-1331738503-929-160x120.jpg" title="The suspects were given bail against surety bonds of Rs100,000 each. PHOTO: EXPRESS/FILE" alt=""
				  width="67" height="50" />
		</a>

		<h2 class="title">
			<a href="http://tribune.com.pk/story/349943/murder-5-suspects-granted-bail/" title="The suspects were given bail against surety bonds of Rs100,000 each.">‘Murder’: 5 suspects granted bail</a>
		</h2>
		<div class="excerpt display-none">
			The suspec&shy;ts were given bail agains&shy;t surety bonds of Rs100,000 each.		</div>
		<div class="meta">
			<span class="author"><a href="http://tribune.com.pk/author/303/our-correspondent/" title="Posts by Our Correspondent">Our Correspondent</a></span>
			<span class="timestamp" title="2012-03-14T15:23:01 GMT"></span>
		</div>
	</div>
</div>
<div id="id-349930" class="story  cat-0 group-0 position-0 small-story">
	<div class="content clearfix">
		<a class="image" href="http://tribune.com.pk/story/349930/panchayat-declares-two-minors-wani-in-punjab/">
			<img src="http://i1.tribune.com.pk/wp-content/uploads/2012/03/349930-EndForcedMarriage-1331736728-847-160x120.jpg" title="Girls&#039; family refused to marry their other daughter in exchange marriage arrangement." alt=""
				  width="67" height="50" />
		</a>

		<h2 class="title">
			<a href="http://tribune.com.pk/story/349930/panchayat-declares-two-minors-wani-in-punjab/" title="Girls' family refused to marry their other daughter in exchange marriage arrangement.">Panchayat declares two minors &#039;wani&#039; in Punjab </a>
		</h2>
		<div class="excerpt display-none">
			Girls' family refuse&shy;d to marry their other daught&shy;er in exchan&shy;ge marria&shy;ge arrang&shy;ement.		</div>
		<div class="meta">
			<span class="author"><a href="http://tribune.com.pk/author/1823/owais-jafri/" title="Posts by Owais Jafri">Owais Jafri</a></span>
			<span class="timestamp" title="2012-03-14T15:10:54 GMT"></span>
		</div>
	</div>
</div>
<div id="id-349929" class="story  cat-0 group-0 position-0 last small-story">
	<div class="content clearfix">
		<a class="image" href="http://tribune.com.pk/story/349929/mobilink-leads-market-as-mobile-penetration-touches-66-5/">
			<img src="http://i1.tribune.com.pk/wp-content/uploads/2012/03/349929-pakistanmobilesubscribers-1331736764-821-160x120.jpg" title="Mobilink holds top position, followed by Telenor. Zong remains in last position." alt=""
				  width="67" height="50" />
		</a>

		<h2 class="title">
			<a href="http://tribune.com.pk/story/349929/mobilink-leads-market-as-mobile-penetration-touches-66-5/" title="Mobilink holds top position, followed by Telenor. Zong remains in last position.">Mobilink leads market, as mobile penetration touches 66.5%</a>
		</h2>
		<div class="excerpt display-none">
			Mobili&shy;nk holds top positi&shy;on, follow&shy;ed by Teleno&shy;r. Zong remain&shy;s in last positi&shy;on.		</div>
		<div class="meta">
			<span class="author"></span>
			<span class="timestamp" title="2012-03-14T14:53:44 GMT"></span>
		</div>
	</div>
</div></div></div><div id="recent-comments-4" class="clearfix widget widget_recent_comments"><h4 class="title">Comment &amp; Debate</h4><div class="content">
				<div class="comment first">
					<h2>
						<a class="title" href="http://tribune.com.pk/story/349929/mobilink-leads-market-as-mobile-penetration-touches-66-5/#comment-610792">Mobilink leads market, as mobile penetration touches 66.5%</a>
					</h2>
					<span class="author">Zeta</span>
					<p class="excerpt">Almost every young person in Pakistan have one or more mobile sets and average of 4/5 SIMs.  </p>
				</div>
				<div class="comment ">
					<h2>
						<a class="title" href="http://tribune.com.pk/story/349706/upcoming-elections-pti-to-introduce-us-style-ticket-award-process/#comment-610790">Upcoming elections: PTI to introduce US-style ticket-award process</a>
					</h2>
					<span class="author">Salman Zafar</span>
					<p class="excerpt">Goooooooooddd.....
Very much needed in our political parties.... </p>
				</div>
				<div class="comment ">
					<h2>
						<a class="title" href="http://tribune.com.pk/story/349896/military-to-follow-parliaments-policy-on-us-ties-kayani/#comment-610788">Military to follow Parliament&#8217;s policy on US ties: Kayani</a>
					</h2>
					<span class="author">Zeta</span>
					<p class="excerpt">Military must have a say in such delicate matters. Army is the only most capable organized institution in Pakistan. While ...</p>
				</div>
				<div class="comment ">
					<h2>
						<a class="title" href="http://tribune.com.pk/story/349862/multiple-sources-available-for-funding-pak-iran-pipeline-khar/#comment-610786">Multiple sources available for funding Pak-Iran pipeline: Khar</a>
					</h2>
					<span class="author">FactCheck</span>
					<p class="excerpt">Indeed there is. The best option is to repartriate money stolen by ex-generals, ploiticians back to Pakistan. There is probably ...</p>
				</div>
				<div class="comment ">
					<h2>
						<a class="title" href="http://tribune.com.pk/story/349858/imran-khan-refuses-to-attend-india-conclave-in-salman-rushdies-presence/#comment-610785">Imran Khan refuses to attend India conclave in Salman Rushdie&#8217;s presence</a>
					</h2>
					<span class="author">Truth Teller</span>
					<p class="excerpt">Get real guys! Do you think anybody cares if Imran attended or nor? Holier than the Pope. There are more ...</p>
				</div>
				<div class="comment ">
					<h2>
						<a class="title" href="http://tribune.com.pk/story/342607/refrigeration-industry-adopting-ozone-friendly-alternatives/#comment-610782">Refrigeration industry: Adopting ozone-friendly alternatives</a>
					</h2>
					<span class="author">satria azhar</span>
					<p class="excerpt">I ask for information about the spec mixture of polyol and isocyanate.

please answer the following questions. thank's </p>
				</div>
				<div class="comment ">
					<h2>
						<a class="title" href="http://tribune.com.pk/story/349865/akbar-bugti-wasnt-murdered-he-committed-suicide-musharraf/#comment-610781">Akbar Bugti wasn&#8217;t murdered, he committed suicide: Musharraf</a>
					</h2>
					<span class="author">Shakky</span>
					<p class="excerpt">So let me get this straight. Bugti takes up arms against the government and holes up in a cave with ...</p>
				</div>
				<div class="comment ">
					<h2>
						<a class="title" href="http://tribune.com.pk/story/349896/military-to-follow-parliaments-policy-on-us-ties-kayani/#comment-610780">Military to follow Parliament&#8217;s policy on US ties: Kayani</a>
					</h2>
					<span class="author">peter</span>
					<p class="excerpt">The debate is extremely loaded, its really strange for an outsider to see where does a nation want to go ...</p>
				</div>
				<div class="comment ">
					<h2>
						<a class="title" href="http://tribune.com.pk/story/349896/military-to-follow-parliaments-policy-on-us-ties-kayani/#comment-610779">Military to follow Parliament&#8217;s policy on US ties: Kayani</a>
					</h2>
					<span class="author">Javed</span>
					<p class="excerpt">The GOP will be used to take all the blame while the Military will go scot free. This has nothing ...</p>
				</div>
				<div class="comment last">
					<h2>
						<a class="title" href="http://tribune.com.pk/story/349858/imran-khan-refuses-to-attend-india-conclave-in-salman-rushdies-presence/#comment-610778">Imran Khan refuses to attend India conclave in Salman Rushdie&#8217;s presence</a>
					</h2>
					<span class="author">Aijaz</span>
					<p class="excerpt">@Mumbai Dude: 
Look who is talking, "The pot calling the kettle black". </p>
				</div></div></div><div id="slideshows-widget" class="widget">
	<h4>Recent Slideshows</h4>
	<div class="content clearfix">
		<div class="controls">
			<img src="http://tribune.com.pk/wp-content/plugins/slideshows/images/left-arrow-thin.gif" alt="&lt;" class="prev disabled" title="Previous" />
			<img src="http://tribune.com.pk/wp-content/plugins/slideshows/images/right-arrow-thin.gif" alt="&gt;" class="next" title="Next" />
		</div>
		<div class="carousel ">
			<div class="items">
				
				<div class="item first">
					<a class="image" href="http://tribune.com.pk/multimedia/slideshows/349008/" title="FnkAsia comes to Karachi">
						<img alt="" src="http://i1.tribune.com.pk/wp-content/uploads/2012/03/349008-image-1331566386-654-160x120.JPG" width="134" height="100"/>
					</a>
										<p><a href="http://tribune.com.pk/multimedia/slideshows/349008/">FnkAsia comes to Karachi</a></p>
				</div>

				
				<div class="item ">
					<a class="image" href="http://tribune.com.pk/multimedia/slideshows/348958/" title="Rasm-e-Saifee: Smiles and joy at Bohra mass wedding">
						<img alt="" src="http://i1.tribune.com.pk/wp-content/uploads/2012/03/348958-image-1331553886-183-160x120.jpg" width="134" height="100"/>
					</a>
										<p><a href="http://tribune.com.pk/multimedia/slideshows/348958/">Rasm-e-Saifee: Smiles and joy at Bohra mass wedding</a></p>
				</div>

				
				<div class="item ">
					<a class="image" href="http://tribune.com.pk/multimedia/slideshows/348249/" title="Let’s make-up: Learning ‘base-ics’ of foundation with Bina Khan">
						<img alt="" src="http://i1.tribune.com.pk/wp-content/uploads/2012/03/348249-image-1331400082-274-160x120.JPG" width="134" height="100"/>
					</a>
										<p><a href="http://tribune.com.pk/multimedia/slideshows/348249/">Let’s make-up: Learning ‘base-ics’ of foundation with Bina Khan</a></p>
				</div>

				
				<div class="item last">
					<a class="image" href="http://tribune.com.pk/multimedia/slideshows/346332/" title="Faraz Manan launches Crescent Lawn 2012 in Karachi ">
						<img alt="" src="http://i1.tribune.com.pk/wp-content/uploads/2012/03/346332-UzmaBatoolPHOTOCOURTESYCATALYSTPRANDMARKETING-1331050528-707-160x120.jpg" width="134" height="100"/>
					</a>
										<p><a href="http://tribune.com.pk/multimedia/slideshows/346332/">Faraz Manan launches Crescent Lawn 2012 in Karachi </a></p>
				</div>

							</div>
		</div>
	</div>
</div><div id="videos-widget" class="widget">
	<h4>Recent Videos</h4>
	<div class="content clearfix">
		<div class="controls">
			<img src="http://tribune.com.pk/wp-content/plugins/video-management/images/left-arrow-thin.gif" alt="&lt;" class="prev disabled" title="Previous" />
			<img src="http://tribune.com.pk/wp-content/plugins/video-management/images/right-arrow-thin.gif" alt="&gt;" class="next" title="Next" />
		</div>
		<div class="carousel">
			<div class="items">
				
				<div class="item first">
					<a class="image" href="http://tribune.com.pk/multimedia/videos/349887/" title="Clashes at Karachi University, nothing but terrorism">
						<img alt="" src="http://i.ytimg.com/vi/iWRYJUKTICw/default.jpg"
							  width="134" height="100"/>
					</a>
										<p><a href="http://tribune.com.pk/multimedia/videos/349887/">Clashes at Karachi University, nothing but terrorism</a></p>
				</div>

				
				<div class="item ">
					<a class="image" href="http://tribune.com.pk/multimedia/videos/349478/" title="&quot;Maktoob&quot; - Bilal Khan&#039;s Second Album (Teaser)">
						<img alt="" src="http://i.ytimg.com/vi/O7beO9U8NCA/default.jpg"
							  width="134" height="100"/>
					</a>
										<p><a href="http://tribune.com.pk/multimedia/videos/349478/">&quot;Maktoob&quot; - Bilal Khan&#039;s Second Album (Teaser)</a></p>
				</div>

				
				<div class="item ">
					<a class="image" href="http://tribune.com.pk/multimedia/videos/349439/" title="Free-will marriage: Family assaults couple on LHC premises">
						<img alt="" src="http://i.ytimg.com/vi/-sgvP3SNm28/default.jpg"
							  width="134" height="100"/>
					</a>
										<p><a href="http://tribune.com.pk/multimedia/videos/349439/">Free-will marriage: Family assaults couple on LHC premises</a></p>
				</div>

				
				<div class="item last">
					<a class="image" href="http://tribune.com.pk/multimedia/videos/348561/" title="Massive cheating at Sindh local govt exams">
						<img alt="" src="http://i.ytimg.com/vi/DuayLkKCV7Y/default.jpg"
							  width="134" height="100"/>
					</a>
										<p><a href="http://tribune.com.pk/multimedia/videos/348561/">Massive cheating at Sindh local govt exams</a></p>
				</div>

							</div>
		</div>
	</div>
</div></div>

<div id="adjacent" class="span-9"><p>More in Pakistan</p><a href="http://tribune.com.pk/story/14678/wikipedia-facebook-youtube-what-next/" rel="next">Wikipedia, Facebook, YouTube&#8230; what next?</a></div>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>


<div id="footer" class="span-24">
	<div class="content">
		<ul id="footer-navigation" class="clearfix">
			<li class="Pakistan first categories"><h5><a href="http://tribune.com.pk/pakistan/" title="Pakistan">Pakistan</a></h5><ul> <li class="first"><a href="http://tribune.com.pk/pakistan/sindh/" title="Sindh">Sindh</a></li><li class=""><a href="http://tribune.com.pk/pakistan/punjab/" title="Punjab">Punjab</a></li><li class=""><a href="http://tribune.com.pk/pakistan/balochistan/" title="Balochistan">Balochistan</a></li><li class=""><a href="http://tribune.com.pk/pakistan/khyber-pakhtunkhwa-fata/" title="KP &amp; FATA">KP &amp; FATA</a></li><li class=""><a href="http://tribune.com.pk/pakistan/jammu-kashmir/" title="Jammu &amp; Kashmir">Jammu &amp; Kashmir</a></li><li class="last"><a href="http://tribune.com.pk/pakistan/gilgit-baltistan/" title="Gilgit Baltistan">Gilgit Baltistan</a></li></ul></li><li class="Life &amp; Style  categories"><h5><a href="http://tribune.com.pk/life-style/" title="Life &amp; Style">Life &amp; Style</a></h5><ul> <li class="first"><a href="http://tribune.com.pk/life-style/books/" title="Books">Books</a></li><li class=""><a href="http://tribune.com.pk/life-style/music/" title="Music">Music</a></li><li class=""><a href="http://tribune.com.pk/life-style/tv-film/" title="TV &amp; Film">TV &amp; Film</a></li><li class=""><a href="http://tribune.com.pk/life-style/fashion/" title="Fashion">Fashion</a></li><li class=""><a href="http://tribune.com.pk/life-style/food/" title="Food">Food</a></li><li class="last"><a href="http://tribune.com.pk/life-style/gossip/" title="Gossip">Gossip</a></li></ul></li><li class="Multimedia  categories"><h5><a href="http://tribune.com.pk/multimedia/" title="Multimedia">Multimedia</a></h5><ul> <li class="first"><a href="http://tribune.com.pk/multimedia/slideshows/" title="Slideshows">Slideshows</a></li><li class="last"><a href="http://tribune.com.pk/multimedia/videos/" title="Videos">Videos</a></li></ul></li><li class="Opinion  categories"><h5><a href="http://tribune.com.pk/opinion/" title="Opinion">Opinion</a></h5><ul> <li class="first"><a href="http://tribune.com.pk/opinion/editorial/" title="Editorial">Editorial</a></li><li class="last"><a href="http://tribune.com.pk/opinion/letters/" title="Letters">Letters</a></li></ul></li><li class="categories">
									<h5>A -- Z</h5>
										<ul>
											<li class="first"><a href="http://blogs.tribune.com.pk/" >Blogs</a></li>
											<li class=""><a href="http://tribune.com.pk/business/" title="Business">Business</a></li><li class=""><a href="http://tribune.com.pk/world/" title="World">World</a></li><li class=""><a href="http://tribune.com.pk/sports/" title="Sports">Sports</a></li><li class=""><a href="http://tribune.com.pk/magazine/" title="Magazine">Magazine</a></li>
											<li class="first"><a href="http://jobs.tribune.com.pk/" >Jobs</a></li>
											<li class="first"><a href="http://classifieds.tribune.com.pk/" >Classifieds</a></li>
											<li class="first"><a href="http://tribune.com.pk/weather/" >Weather</a></li>
											<li><a href="http://tribune.com.pk/facebook/" >Facebook</a></li>
										</ul>
								</li>			<li class="categories last">
				<h5>Others</h5>
				<ul>
					<li class="first"><a href="http://tribune.com.pk/about/" title="About us">About us</a></li>
					<li><a href="http://tribune.com.pk/rss/" title="Express Tribune RSS Feeds">RSS Feeds</a></li>
					<li><a target="_blank" href="http://tribune.com.pk/subscribe/" title="Subscribe to the Newspaper">Subscribe to the Paper</a></li>
					<li><a href="http://tribune.com.pk/contact-us/" title="Contact us">Contact us</a></li>
					<li><a href="http://tribune.com.pk/careers/" title="Careers">Careers</a></li>
					<li><a href="http://tribune.com.pk/advertise/" title="Online Advertising Tariff">Online Advertising Tariff</a></li>
					<li><a href="http://tribune.com.pk/copyrights/" title="Copyrights and Permissions">Copyrights</a></li>
					<li class="last"><a href="http://tribune.com.pk/code-of-ethics/" title="Code of Ethics">Code of ethics</a></li>
				</ul>
			</li>
		</ul>
		
		<div id="footer-notice" class="clearfix">
			<p>
			This material may not be published, broadcast, rewritten, redistributed or derived from.<br/>
			Unless otherwise stated, all content is <a href="http://tribune.com.pk/copyrights/">copyrighted &copy; 2012 </a>The Express Tribune News Network.<br />
			<span>Technical feedback? webmaster@tribune.com.pk</span>
			</p>
			<div id="footer-partners">				
				<a href="http://www.expressnews.tv" target="_blank"><img src="http://tribune.com.pk/wp-content/themes/express/img/footer/logo-expressnews.png" border="0" alt="The Express Tribune"/></a>
				<a href="http://www.express.com.pk" target="_blank"><img src="http://tribune.com.pk/wp-content/themes/express/img/footer/logo-expresspk.gif" border="0" alt="The Express Tribune"/></a>
				<a href="http://entertainment.express.pk" target="_blank"><img src="http://tribune.com.pk/wp-content/themes/express/img/footer/e-e-logo-design-for-foote.png" border="0" alt="The Express Tribune"/></a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div><!-- footer -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15752538-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'></script>
<script type='text/javascript'>
	GS_googleAddAdSenseService("ca-pub-2620341023138785");
	GS_googleEnableAllServices();
</script>
<script type='text/javascript'>


      GA_googleAddAttr("region", "test");
		GA_googleAddSlot("ca-pub-2620341023138785", "Tribune_Pakistan_728x90");
		GA_googleAddAttr("region", "test");
		GA_googleAddSlot("ca-pub-2620341023138785", "Tribune_Pakistan_300x250_Top");

      GA_googleAddAttr("region", "test");
		GA_googleAddSlot("ca-pub-2620341023138785", "Tribune_All_180x90_Left");
		GA_googleAddAttr("region", "test");
		GA_googleAddSlot("ca-pub-2620341023138785", "Tribune_All_180x90_Right");

		/* Single Story Ads */
				GA_googleAddAttr("region", "test");
		GA_googleAddSlot("ca-pub-2620341023138785", "Tribune_Story_120x240");   
		GA_googleAddAttr("region", "test");
		GA_googleAddSlot("ca-pub-2620341023138785", "Tribune_Story_468x60");
	         GA_googleAddAttr("region", "test");
			GA_googleAddSlot("ca-pub-2620341023138785", "Tribune_Story_300x250_Bottom");
				
</script>
<script type='text/javascript'>
    GA_googleFetchAds();
</script>

<div class="ad-loader for-ad-leaderboard-top">	
	<script type='text/javascript'>
			GA_googleFillSlot("Tribune_Pakistan_728x90");
	</script>
</div>
<div class="ad-loader for-ad-header-left">
	<!-- Tribune_All_Header_Left_Small -->
	<script type='text/javascript'>
		GA_googleFillSlot("Tribune_All_180x90_Left");
	</script>
</div>

<div class="ad-loader for-ad-header-right">
	<!-- Tribune_All_Header_Right_Small -->
	<script type='text/javascript'>
		GA_googleFillSlot("Tribune_All_180x90_Right");
	</script>
</div>
<div class="ad-loader for-ad-fullbanner-btf">
	<script type="text/javascript">
		GA_googleFillSlot("Tribune_Story_468x60");
	</script>
</div>
<div class="ad-loader for-ad-vertical">
	<script type="text/javascript">
		GA_googleFillSlot("Tribune_Story_120x240");
	</script>
</div>


		<div class="ad-loader for-ad-box-right">
			<script type='text/javascript'>
								GA_googleFillSlot("Tribune_Pakistan_300x250_Top");
							</script>
		</div>
		
</div><!-- container -->
<div class="ad-loader-catfish">
	<a id="closeme" href="javascript:void();">X</a>
	<script type='text/javascript'>
	</script>
</div>
<script src="http://tribune.com.pk/wp-content/themes/express/js/js.php?type=main,single-story,comments,fb-sdk&amp;v=20120303" type="text/javascript" language="javascript" ></script><script type='text/javascript' src='http://tribune.com.pk/wp-content/plugins/classifieds/classifieds_widget.js?ver=0.1'></script>
<script type='text/javascript' src='https://app.getresponse.com/view_webform.js?wid=120725&#038;mg_param1=1&#038;ver=3.2.1'></script>
<script type='text/javascript' src='http://tribune.com.pk/wp-content/plugins/fb-custom-like-box/js/fb-sdk.js?ver=3.2.1'></script>
<script type='text/javascript' src='http://s7.addthis.com/js/250/addthis_widget.js?ver=0.2#username=etribune'></script>
<script type='text/javascript' src='http://www.google.com.pk/coop/cse/brand?form=cse-search-box&#038;lang=en&#038;ver=0.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var emailL10n = {
	ajax_url: "http://tribune.com.pk/wp-content/plugins/wp-email/wp-email.php",
	max_allowed: "1",
	text_error: "The Following Error Occurs:",
	text_name_invalid: "- Your Name is empty/invalid",
	text_email_invalid: "- Your Email is empty/invalid",
	text_remarks_invalid: "- Your Remarks is invalid",
	text_friend_names_empty: "- Friend Name(s) is empty",
	text_friend_name_invalid: "- Friend Name is empty/invalid: ",
	text_max_friend_names_allowed: "- Maximum 1 Friend Name allowed",
	text_friend_emails_empty: "- Friend Email(s) is empty",
	text_friend_email_invalid: "- Friend Email is invalid: ",
	text_max_friend_emails_allowed: "- Maximum 1 Friend Email allowed",
	text_friends_tally: "- Friend Name(s) count does not tally with Friend Email(s) count",
	text_image_verify_empty: "- Image Verification is empty"
};
/* ]]> */
</script>
<script type='text/javascript' src='http://tribune.com.pk/wp-content/plugins/wp-email/email-js.js?ver=2.50'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var pollsL10n = {
	ajax_url: "http://tribune.com.pk/wp-content/plugins/wp-polls/wp-polls.php",
	text_wait: "Your last request is still being processed. Please wait a while ...",
	text_valid: "Please choose a valid poll answer.",
	text_multiple: "Maximum number of choices allowed: ",
	show_loading: "1",
	show_fading: "1"
};
/* ]]> */
</script>
<script type='text/javascript' src='http://tribune.com.pk/wp-content/plugins/wp-polls/polls-js.js?ver=2.50'></script>
<script type='text/javascript' src='http://tribune.com.pk/wp-content/plugins/rate-comments/js/xmlrpc.js?ver=3.2.1'></script>
<script type='text/javascript' src='http://tribune.com.pk/wp-content/plugins/rate-comments/js/xml_json_rpc_helper.js?ver=3.2.1'></script>
<script type='text/javascript' src='http://tribune.com.pk/wp-content/plugins/rate-comments/js/jquery.cookie.js?ver=0.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var RC_config = {
	xml_rpc_url: "http://tribune.com.pk/application/xmlrpc.php",
	loading_url: "http://tribune.com.pk/wp-content/plugins/rate-comments//loading.gif",
	update_likes_method: "CR_update_likes",
	get_post_likes_method: "CR_get_post_likes",
	post_id: "14650"
};
/* ]]> */
</script>
<script type='text/javascript' src='http://tribune.com.pk/wp-content/plugins/rate-comments/js/comments_like.js?ver=0.2'></script>
<script type='text/javascript' src='http://tribune.com.pk/wp-content/plugins/weather/js/jquery.cookie.js?ver=3.2.1'></script>
<script type='text/javascript' src='http://tribune.com.pk/wp-content/plugins/weather/js/jquery.spotlight.js?ver=3.2.1'></script>
<script type='text/javascript' src='http://www.google.com/jsapi?key=ABQIAAAAlzlMYkyeWaUKdgW4QGpCjxTrBZQjr-CfpTy2M0zsAY1TmpL4hhRQKtj-zVYImz61a55kpaD2mnIzeA&#038;ver=3.2.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var Weather_config = {
	xmlrpc_url: "http://tribune.com.pk/application/xmlrpc.php",
	remote_method: "display_weather",
	cache_dir: "http://tribune.com.pk/wp-content/plugins/weather/cache/",
	cookie_name: "exp_city"
};
/* ]]> */
</script>
<script type='text/javascript' src='http://tribune.com.pk/wp-content/plugins/weather/js/widget.js?ver=1.2'></script>
<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script></body>
</html>

<!-- Cached page generated by Express Cache on 2012-03-14 20:53:20
     Time taken: 3.69s
-->