<!DOCTYPE html><html xmlns:fb="https://www.facebook.com/2008/fbml"><head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# storifyapp: http://ogp.me/ns/fb/storifyapp#"><title>@WSJ's most-retweeted tweets of 2011 · zseward ·  Storify </title><meta content="text/html; charset=utf-8" http-equiv="content-type"><meta name="description" content="Here are the @WSJ tweets that spread furthest this year, according to Favstar. Five of them concerned Steve Jobs, and six included the word &quot;breaking.&quot;"><meta name="keywords" content="storify, story, news, social media, create, twitter, facebook, flickr, twitpic, youtube"><meta property="fb:app_id" content="244896998905679"><meta property="fb:admins"><meta property="og:title" content="@WSJ's most-retweeted tweets of 2011"><meta property="og:site_name" content="Storify"><meta property="og:type" content="storifyapp:story"><meta property="og:url" content="http://storify.com/zseward/at-wsj-s-most-retweeted-tweets-of-2011"><meta property="og:image" content="http://storify.com/public/img/default-thumb.gif"><meta property="og:description" content="Here are the @WSJ tweets that spread furthest this year, according to Favstar. Five of them concerned Steve Jobs, and six included the word &quot;breaking.&quot;"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><meta http-equiv="X-UA-Compatible" content="chrome=1"><meta name="google-site-verification" content="BVQm0WJ1UfdpLipkz3zog_lGmKIul_NZYKY4RQsmbqo"><link rel="alternate" type="application/rss+xml" title="Featured Stories" href="/rss/featured"><link rel="alternate" type="application/rss+xml" title="Popular Stories" href="/rss/all/popularity"><link rel="alternate" type="application/rss+xml" title="Latest Stories" href="/rss/all/date"><link rel="stylesheet" href="http://c757389.r89.cf2.rackcdn.com/1.2.32-3078ddc7-f2c47df570ae6082b6a6c08c80d015cb.css"><script>// app: 
var s = s || {};
s["git"] = "3078ddc7";
s["utils"] = {"date":function (date, iso8601) {
    iso8601 = (typeof iso8601 == 'undefined') ? true : iso8601;
    if (iso8601) {
      date = this.setISO8601(date);
    }
    return moment(date);
  }, "getQueryString":function (query) {
    var params = {};
    if (query === '') { return {}; }
    for (var i = 0; i < query.length; i++) {
      var pair = query[i].split('=');
      if (pair.length === 2) params[pair[0]] = decodeURIComponent(pair[1].replace(/\+/g, ' '));
    }
    return params;
  }, "verifiedSource":function (source) {
    return (!source || ['chute', 'getglue', 'stocktwits','youtube', 'twitter', 'google', 'facebook', 'rss', 'flickr', 'storify'].indexOf(source.toLowerCase()) == -1) ? false : true;
  }, "log":function () {
    if (typeof console == 'undefined' && window.location.search.toLowerCase().indexOf("debug") != -1) {
      console.log.apply(console, [].slice.call(arguments));
    }
  }, "error":function () {
    if (typeof console == 'undefined') {
      console.error.apply(console, [].slice.call(arguments));
    }
  }, "template":function (template, data) {
    if(!data) return template;
    
    var templateString = template
      , self = this
      , format = "object";
    
    if (typeof template == 'object') {
      templateString = JSON.stringify(template);
      format = "json";      
    }
    if (typeof templateString != "string") return false;

    var result = templateString.replace(/{{([a-z\._\-0-9]{1,50})}}/ig, function() {

      var value = data;

      var tokens = arguments[1].split('.')
      for (var i=0, len=tokens.length; i < len; i++) {
        if (!value) return '';
        value = value[tokens[i]];
      };

      if (typeof value == 'number') value = '' + value;
      if (typeof value == 'object') return JSON.stringify(value);
      if (typeof value != 'string') return '';
      // Regex used to capture characters that need escaping before enclosing
      // their containing string in quotes.
      var _SPECIAL_CHARS = /[\\\"\x00-\x1f\x7f-\x9f\u00ad\u0600-\u0604\u070f\u17b4\u17b5\u200c-\u200f\u2028-\u202f\u2060-\u206f\ufeff\ufff0-\uffff]/g;
      // Character substitution map for common escapes and special characters.
      var _CHARS = {
        '\b': '\\b',
        '\t': '\\t',
        '\n': '\\n',
        '\f': '\\f',
        '\r': '\\r',
        '"' : '\\"',
        '\\': '\\\\'
      };
      var _char = function(c) {
        if (!_CHARS[c]) {
          _CHARS[c] =  '\\u'+('0000'+(+(c.charCodeAt(0))).toString(16)).slice(-4);
        }
        return _CHARS[c];
      }

      return value.replace(_SPECIAL_CHARS, _char);

    });

    if (format == 'json') {
      try {
        
        // Make sure we have a valid JSON (when the value was stringified)
        result = result.replace(/":"{"/g,'":{"').replace(/("|\]|\}|false|true|null|[0-9])\}"/g,'$1}');
        
        result = JSON.parse(result);
      } catch(e) {
        self.error("Couldn't parse JSON "+templateString+" for ",result);
      }
    }
    
    return result;
  }, "linkify":function (string) {
    var exp = /[^(href=")](\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gi;
    return string.replace(exp,function(originalurl) {
      var urlstr = originalurl.replace(/https?:\/\/(www.)?/i,'');
      if(urlstr.length>30) urlstr = urlstr.substr(0,27)+'...';
      return " <a href='"+originalurl+"' target='_blank' rel='external'>"+urlstr+"</a>";
    });
  }, "getUrls":function (string) {
    return string.match(/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gi);
  }, "getDate":function (dateStr, epoch_in_seconds) {
    var d;
    
    dateStr = (typeof dateStr == 'undefined') ? '' : dateStr; 
    dateStr = '' + dateStr; // Make sure it is a string
    if(dateStr.length > 3 && dateStr.substr(10,1)=="T") {
      dateStr = dateStr.substring(0,19).replace('T',' ').replace(/\-/g,'/');
      d   = new Date(dateStr);
      d   = Math.round((d.getTime() - (d.getTimezoneOffset()*60*1000)) /1000);
    }
    else {
      if(dateStr.length==10) dateStr = dateStr+'000';
      if(dateStr.length==13) dateStr = parseInt(dateStr,10);

      d   = (dateStr != '') ? new Date(dateStr) : new Date();
      // Math.round((new Date(tweet.created_at)).getTime()/1000);
      d   = Math.round((d.getTime()) /1000);
    }
    return (epoch_in_seconds) ? d : new Date(d*1000);
  }, "getDomain":function (urlstr) {
    if(!urlstr) return '';
    var domain = urlstr.replace(/^(https?:\/\/)(www\.)?/i,'');
    return domain.replace(/\/.*/g,'');
  }, "getThumbnailFromUrl":function (urlstr) {
    if(!urlstr) return false;
    
    var domain = this.getDomain(urlstr)
      , thumbnail_url = '';
      
    urlstr = urlstr.replace(/\/$/,'');
    
    switch(domain) {
      case 'twitpic.com':
        hash = urlstr.substr(urlstr.lastIndexOf('/')+1);
        thumbnail_url = 'http://twitpic.com/show/large/'+hash;
        break;

      case 'instagr.am':
        thumbnail_url = urlstr+'/media';
        break;

      case 'yfrog.com':
        thumbnail_url = urlstr+':iphone';
        break;

      case 'moby.to':
      thumbnail_url = urlstr+':view';
        break;

      case 'p.twimg.com':
        thumbnail_url = urlstr;
        break;

      case 'plixi.com': case 'tweetphoto.com': case 'pic.gd': case 'lockerz.com':
        // thumbnail_url = 'http://TweetPhotoAPI.com/api/TPAPI.svc/imagefromurl?size=medium&url=' + u;
        thumbnail_url = 'http://api.plixi.com/api/tpapi.svc/imagefromurl?size=medium&url='+urlstr;
        break;
    }

    return thumbnail_url;
  }, "stripTags":function (input, allowed) {
    if (typeof input != 'string') {
      return '';
    }
    var allowed = (((allowed || "") + "").toLowerCase().match(/<[a-z][a-z0-9]*>/g) || []).join('');
    var tags = /<\/?([a-z][a-z0-9]*)\b[^>]*>/gi,
        commentsAndPhpTags = /<!--[\s\S]*?-->|<\?(?:php)?[\s\S]*?\?>/gi;
    
    return input.replace(commentsAndPhpTags, '').replace(tags, function($0, $1) {
      if ($0.toLowerCase().substring(0, 2) == '<a') {
        var matches = $0.match(/href=[\'"]?([^\'" >]+)/i);
        if(!matches || matches.length<2) return '';
        var href = matches[1];
        $0 = $0.indexOf(' ') > -1 ? $0.substr(0, $0.indexOf(' ')) + '>' : $0;
        $0 = $0.substring(0, $0.length - 1) + ' href="' + href + '">';
      } else {
        $0 = $0.indexOf(' ') > -1 ? $0.substr(0, $0.indexOf(' ')) + '>' : $0;
      }
      return allowed.indexOf('<' + $1.toLowerCase() + '>') > -1 ? $0 : '';
    });
  }, "setISO8601":function (string) {
    if (typeof string != 'string') return string;

    var regexp = "([0-9]{4})(-([0-9]{2})(-([0-9]{2})" +
        "(T([0-9]{2}):([0-9]{2})(:([0-9]{2})(\.([0-9]+))?)?" +
        "(Z|(([-+])([0-9]{2}):([0-9]{2})))?)?)?)?"
      , d = string.match(new RegExp(regexp))
      , offset = 0
      , date = new Date(d[1], 0, 1);

    if (d[3]) { date.setMonth(d[3] - 1); }
    if (d[5]) { date.setDate(d[5]); }
    if (d[7]) { date.setHours(d[7]); }
    if (d[8]) { date.setMinutes(d[8]); }
    if (d[10]) { date.setSeconds(d[10]); }
    if (d[12]) { date.setMilliseconds(Number("0." + d[12]) * 1000); }
    if (d[14]) {
        offset = (Number(d[16]) * 60) + Number(d[17]);
        offset *= ((d[15] == '-') ? 1 : -1);
    }

    offset -= date.getTimezoneOffset();
    time = (Number(date) + (offset * 60 * 1000));
    date = new Date();
    date.setTime(Number(time));
    return date;
  }, "staticDate":function (string, time) {
    if (!string) return;
    var format = 'mmmm d, yyyy';
    if (typeof time == 'undefined' || time) {
      format += ' h:MM:ss TT Z';
    }
    return this.setISO8601(string).format(format);
  }, "dateFormat":{"initialize":function () {
      var token = /d{1,4}|m{1,4}|yy(?:yy)?|([HhMsTt])\1?|[LloSZ]|"[^"]*"|'[^']*'/g,
        timezone = /\b(?:[PMCEA][SDP]T|(?:Pacific|Mountain|Central|Eastern|Atlantic) (?:Standard|Daylight|Prevailing) Time|(?:GMT|UTC)(?:[-+]\d{4})?)\b/g,
        timezoneClip = /[^-+\dA-Z]/g,
        pad = function (val, len) {
          val = String(val);
          len = len || 2;
          while (val.length < len) val = "0" + val;
          return val;
        },
        self = this;

      // Regexes and supporting functions are cached through closure
      return function (date, mask, utc) {
        var dF = self;

        // You can't provide utc if you skip other args (use the "UTC:" mask prefix)
        if (arguments.length == 1 && Object.prototype.toString.call(date) == "[object String]" && !/\d/.test(date)) {
          mask = date;
          date = undefined;
        }

        // Passing date through Date applies Date.parse, if necessary
        date = date ? new Date(date) : new Date;
        if (isNaN(date)) throw SyntaxError("invalid date");

        mask = String(dF.masks[mask] || mask || dF.masks["default"]);

        // Allow setting the utc argument via the mask
        if (mask.slice(0, 4) == "UTC:") {
          mask = mask.slice(4);
          utc = true;
        }

        var _ = utc ? "getUTC" : "get",
          d = date[_ + "Date"](),
          D = date[_ + "Day"](),
          m = date[_ + "Month"](),
          y = date[_ + "FullYear"](),
          H = date[_ + "Hours"](),
          M = date[_ + "Minutes"](),
          s = date[_ + "Seconds"](),
          L = date[_ + "Milliseconds"](),
          o = utc ? 0 : date.getTimezoneOffset(),
          flags = {
            d:    d,
            dd:   pad(d),
            ddd:  dF.i18n.dayNames[D],
            dddd: dF.i18n.dayNames[D + 7],
            m:    m + 1,
            mm:   pad(m + 1),
            mmm:  dF.i18n.monthNames[m],
            mmmm: dF.i18n.monthNames[m + 12],
            yy:   String(y).slice(2),
            yyyy: y,
            h:    H % 12 || 12,
            hh:   pad(H % 12 || 12),
            H:    H,
            HH:   pad(H),
            M:    M,
            MM:   pad(M),
            s:    s,
            ss:   pad(s),
            l:    pad(L, 3),
            L:    pad(L > 99 ? Math.round(L / 10) : L),
            t:    H < 12 ? "a"  : "p",
            tt:   H < 12 ? "am" : "pm",
            T:    H < 12 ? "A"  : "P",
            TT:   H < 12 ? "AM" : "PM",
            Z:    utc ? "UTC" : (String(date).match(timezone) || [""]).pop().replace(timezoneClip, ""),
            o:    (o > 0 ? "-" : "+") + pad(Math.floor(Math.abs(o) / 60) * 100 + Math.abs(o) % 60, 4),
            S:    ["th", "st", "nd", "rd"][d % 10 > 3 ? 0 : (d % 100 - d % 10 != 10) * d % 10]
          };

        return mask.replace(token, function ($0) {
          return $0 in flags ? flags[$0] : $0.slice(1, $0.length - 1);
        });
      };
    }, "masks":{"default":"ddd mmm dd yyyy HH:MM:ss", "shortDate":"m/d/yy", "mediumDate":"mmm d, yyyy", "longDate":"mmmm d, yyyy", "fullDate":"dddd, mmmm d, yyyy", "shortTime":"h:MM TT", "mediumTime":"h:MM:ss TT", "longTime":"h:MM:ss TT Z", "isoDate":"yyyy-mm-dd", "isoTime":"HH:MM:ss", "isoDateTime":"yyyy-mm-dd'T'HH:MM:ss", "isoUtcDateTime":"UTC:yyyy-mm-dd'T'HH:MM:ss'Z'"}, "i18n":{"dayNames":["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"], "monthNames":["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]}}};

// res: 
var s = s || {};
s["everyauth"] = {};
s["base_url"] = "http://storify.com";
s["env"] = "production";
s["git"] = "3078ddc7";


var s = s || {};
s.user = s.user || {};
s.user["username"] = "zseward";
s.user["_access"] = 0;
s.user["name"] = "Zach Seward";
s.user["bio"] = "Editor of outreach and social media at The Wall Street Journal. Email: zach dot seward at wsj dot com";
s.user["location"] = "New York, NY";
s.user["website"] = "http://gplus.to/zms";
s.user["avatar"] = "http://a1.twimg.com/profile_images/1426523909/Me_normal.jpg";
s.user["permalink"] = "http://storify.com/zseward";
s.user["settings"] = {"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true}, "comments":"facebook"};
s.user["stats"] = {"subscriptions":10, "subscribers":15, "stories":8, "followers":3};
s.user["date"] = {"updated":"2012-02-28T14:25:45.360Z", "last_seen":"2012-02-20T22:52:09.032Z", "created":"2010-12-23T05:52:47.000Z"};
s.user["subscribers"] = [{"username":"jim_colgan", "_access":0, "name":"Jim Colgan", "bio":"Recovering public radio producer. Work w/pubradio and other news orgs on mobile audience engagement, with @mobilecommons. Freelance for @wnyc, @npr, @poynter.", "location":"new york", "website":"http://jimcolgan.com", "avatar":"http://a1.twimg.com/profile_images/1239207063/jim_headphones_normal.jpg", "permalink":"http://storify.com/jim_colgan", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true}, "comments":"facebook"}, "stats":{"subscriptions":3, "subscribers":0, "stories":2}, "date":{"updated":"2012-02-16T15:47:04.250Z", "last_seen":"2012-02-16T15:47:02.759Z", "created":"2011-02-09T09:51:33.000Z"}}, {"username":"trevr", "_access":0, "name":"Trevor", "bio":"Twittering away from the heart of the Napa Valley. Director of Social Media by day, #wine blogger by night.", "location":"Napa Valley", "website":"http://about.me/trevorjonas", "avatar":"http://a0.twimg.com/profile_images/1441551704/TrevR_Avatar_normal.png", "permalink":"http://storify.com/trevr", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true}, "comments":"facebook"}, "stats":{"subscriptions":7, "subscribers":4, "stories":4}, "date":{"updated":"2012-03-05T22:15:13.890Z", "last_seen":"2012-03-05T22:15:13.371Z", "created":"2011-02-26T01:38:16.000Z"}}, {"username":"joshsternberg", "_access":0, "name":"josh sternberg", "bio":"Communications firm owner. Guest writer for Huffington Post, Mashable & Mediaite. Former adjunct prof of communications. Tweets are mine; of course, right?\n", "location":"Prospect Heights, Brooklyn", "website":"http://www.sternbergcommunications.com", "avatar":"http://a3.twimg.com/profile_images/1290888069/IMG_3093_2_normal.JPG", "permalink":"http://storify.com/joshsternberg", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true}, "comments":"facebook"}, "stats":{"subscriptions":4, "subscribers":1, "stories":0}, "date":{"updated":"2012-02-16T12:56:57.238Z", "last_seen":"2012-02-16T12:56:56.814Z", "created":"2011-03-09T15:35:29.000Z"}}, {"username":"holyghostpro", "_access":0, "name":"Non ci sono.", "bio":"http://www.linkedin.com/pub/4/523/269\r\nhttps://twitter.com/#!/holyghostpro\r\nhttp://www.facebook.com/holyghostpro", "location":"Ancona", "website":"http://www.torbinio.it", "avatar":"http://a0.twimg.com/profile_images/1647009448/f712054c12cd11e1abb01231381b65e3_7_reasonably_small.jpg", "permalink":"http://storify.com/holyghostpro", "settings":{"sxsw":true, "notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true}, "comments":"facebook"}, "stats":{"views":0, "subscriptions":8, "subscribers":2, "stories":6, "embeds":0}, "date":{"updated":"2012-03-13T09:48:30.516Z", "last_seen":"2012-03-06T21:30:44.852Z", "featured":null, "created":"2011-11-28T17:11:22.384Z"}}, {"username":"Teema12", "_access":0, "bio":"Teemapäivät ovat Valtion taidemuseon Kehittäminen ja yhteiskuntasuhteet Kehyksen järjestämät vuosittaiset taidemuseoalan kehittämispäivät. Vuonna 2012 Teemapäivillä kokeiltiin sosiaalisen median käyttöä ja täältä voit nähdä, kuinka meidän kävi!\n\nStorify-nurkasta huutelee Kehyksessä tutkimusavustajana toimiva Pia Lonardi.", "location":null, "website":"http://storify.com/undefined", "avatar":"http://storify.com/public/img/default.avatar.png", "permalink":"http://storify.com/Teema12", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true, "autoshare":true}, "facebook_autoshare":true, "comments":"facebook"}, "stats":{"views":0, "subscriptions":10, "subscribers":3, "stories":5, "embeds":0}, "date":{"updated":"2012-03-15T10:13:26.158Z", "last_seen":"2012-03-09T08:55:51.329Z", "featured":null, "created":"2012-01-25T10:10:29.540Z"}}, {"username":"NYCcyn", "_access":0, "name":"Cynthia Collins", "bio":"@NYTimes digital marketing/social media. Professional fan of Springsteen & E Street Band, Yankees baseball & surfing. Man, the dope's that there's still hope.", "location":"New York City", "website":"http://www.nytimes.com", "avatar":"http://a3.twimg.com/profile_images/75855498/cyn2_reasonably_small.jpg", "permalink":"http://storify.com/NYCcyn", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true, "autoshare":true}, "facebook_autoshare":true, "comments":"facebook"}, "stats":{"stories":1, "views":0, "embeds":0, "subscriptions":12, "subscribers":79}, "date":{"updated":"2012-03-15T18:55:55.493Z", "last_seen":"2012-02-16T17:17:34.036Z", "featured":null, "created":"2012-02-15T17:39:42.139Z"}}, {"username":"jaz1972", "_access":0, "name":"Susan Jastremski", "bio":"I make a lot of jokes. people take this stuff way to seriously. hey, no one gets out alive, so smile and laugh while you're still here. \r\n\r\nDo not dwell in the past, do not dream of the future, concentrate the mind on the present moment.~Buddha \r\n\r\nIt is better to conquer yourself than to win a thousand battles. Then the victory is yours. It cannot be taken from you, not by angels or by demons, heaven or hell.~Buddha \r\n\r\nHatred paralyzes life; love releases it. Hatred confuses life; love harmonizes it. Hatred darkens life; love illuminates it.\r\n\r\nGeographers ask three essential questions about the phenomena they study: \"WHERE are things located?\" but even more importantly, \"WHY are they located where they are?\" and \"WHERE should they be located?\" The answers to these questions are both descriptive and analytical; the first is primarily descriptive, and the second and third are primarily analytical. Geography tries to provide explanations about our world and the ways in which we live, work, and carry on social and economic activities. In short, geography is a science that investigates our cultural and natural environments, how we affect them, and how they affect us.", "location":"Cooperstown, New York", "website":"http://www.linkedin.com/profile/view?id=92557199&locale=en_US&trk=tab_pro", "avatar":"http://graph.facebook.com/jaz1972/picture", "permalink":"http://storify.com/jaz1972", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true, "autoshare":true}, "facebook_autoshare":true, "comments":"facebook"}, "stats":{"stories":0, "views":0, "embeds":0, "subscriptions":2, "subscribers":0}, "date":{"updated":"2012-02-16T16:48:02.207Z", "last_seen":null, "featured":null, "created":"2012-02-16T16:48:00.529Z"}}, {"username":"GoodMenProject", "_access":0, "name":"The Good Men Project", "bio":"We're starting a conversation about what it means to be a good man. Want to join us?", "location":"Global", "website":"http://www.GoodMenProject.com/", "avatar":"https://api.twitter.com/1/users/profile_image/goodmenproject?size=bigger", "permalink":"http://storify.com/GoodMenProject", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true, "autoshare":true}, "facebook_autoshare":true, "comments":"facebook"}, "stats":{"stories":19, "views":0, "embeds":0, "subscriptions":124, "subscribers":114}, "date":{"updated":"2012-03-16T02:44:35.901Z", "last_seen":"2012-03-15T17:36:22.722Z", "featured":null, "created":"2012-02-22T11:56:35.217Z"}}];
s.user["subscriptions"] = [{"username":"xdamman", "_access":1, "name":"Xavier Damman", "bio":"Passionate web entrepreneur/developer with values and ideals. Cofounder/CEO of Storify.", "location":"San Francisco", "website":"http://about.me/xdamman", "avatar":"https://api.twitter.com/1/users/profile_image/xdamman?size=bigger", "permalink":"http://storify.com/xdamman", "settings":{"sxsw":true, "notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true, "autoshare":false}, "facebook_autoshare":true, "comments":"facebook"}, "stats":{"subscriptions":180, "subscribers":421, "stories":83, "followers":53}, "date":{"updated":"2012-03-16T04:03:26.309Z", "last_seen":"2012-03-15T23:52:54.792Z", "created":"2010-07-04T03:58:16.000Z"}}, {"username":"burtherman", "_access":1, "name":"Burt Herman", "bio":"Entrepreneurial journalist finding meaning in the noise. co-founder of Storify, founder of Hacks/Hackers for journalists and technologists", "location":"San Francisco, CA", "website":"http://burtherman.com", "avatar":"http://a1.twimg.com/profile_images/67612383/XWS147_normal.jpg", "permalink":"http://storify.com/burtherman", "settings":{"sxsw":true, "notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true, "autoshare":false}, "comments":"facebook"}, "stats":{"subscriptions":292, "subscribers":461, "stories":57, "following":44, "followers":55}, "date":{"updated":"2012-03-16T00:34:02.823Z", "last_seen":"2012-03-12T16:23:46.958Z", "created":"2010-07-04T15:58:43.000Z"}}, {"username":"storify", "_access":1, "name":"Storify", "bio":"Making stories from the social Web, finding moments to remember in the real-time stream. Co-founded by @burtherman and @xdamman", "location":"Global", "website":"http://storify.com", "avatar":"https://api.twitter.com/1/users/profile_image/storify?size=bigger", "permalink":"http://storify.com/storify", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true}, "comments":"facebook"}, "stats":{"subscriptions":-6, "subscribers":161082, "stories":79, "followers":596}, "date":{"updated":"2012-03-16T04:30:23.485Z", "last_seen":"2012-03-15T18:16:27.755Z", "featured":null, "created":"2010-09-13T05:16:40.000Z"}}, {"username":"tcarmody", "_access":0, "name":"Tim Carmody", "bio":"I write about technology & media for Wired.com's Epicenter & sometimes the magazine. Resident bookfuturist at Snarkmarket. Recovering PhD. Dad.", "location":"New York City", "website":"http://snarkmarket.com", "avatar":"http://a1.twimg.com/profile_images/1557530370/Twitter-Beard_normal.jpg", "permalink":"http://storify.com/tcarmody", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true}, "comments":"facebook"}, "stats":{"subscriptions":5, "subscribers":286, "stories":18}, "date":{"updated":"2012-03-15T22:54:30.386Z", "last_seen":"2012-02-23T04:29:44.816Z", "created":"2010-08-18T19:36:31.000Z"}}, {"username":"matthewherper", "_access":0, "name":"Matthew Herper", "bio":"Forbes reporter covering science and medicine", "location":"New York", "website":"http://blogs.forbes.com/matthewherper", "avatar":"http://a3.twimg.com/profile_images/249031463/herperhead_reasonably_small.jpg", "permalink":"http://storify.com/matthewherper", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true, "autoshare":true}, "facebook_autoshare":true, "comments":"facebook"}, "stats":{"stories":1, "views":0, "embeds":0, "subscriptions":5, "subscribers":81}, "date":{"updated":"2012-03-15T07:00:13.983Z", "last_seen":"2012-02-12T00:52:09.672Z", "featured":null, "created":"2012-02-11T16:48:32.800Z"}}, {"username":"NYCcyn", "_access":0, "name":"Cynthia Collins", "bio":"@NYTimes digital marketing/social media. Professional fan of Springsteen & E Street Band, Yankees baseball & surfing. Man, the dope's that there's still hope.", "location":"New York City", "website":"http://www.nytimes.com", "avatar":"http://a3.twimg.com/profile_images/75855498/cyn2_reasonably_small.jpg", "permalink":"http://storify.com/NYCcyn", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true, "autoshare":true}, "facebook_autoshare":true, "comments":"facebook"}, "stats":{"stories":1, "views":0, "embeds":0, "subscriptions":12, "subscribers":79}, "date":{"updated":"2012-03-15T18:55:55.493Z", "last_seen":"2012-02-16T17:17:34.036Z", "featured":null, "created":"2012-02-15T17:39:42.139Z"}}];
s.user["identities"] = [{"service":"twitter", "username":"zseward", "date":{"updated":"2012-02-20T22:52:08.985Z", "created":"2011-10-27T00:35:08.322Z"}, "url":"http://twitter.com/zseward", "avatar":"https://api.twitter.com/1/users/profile_image/zseward?size=bigger"}, {"service":"gravatar", "avatar":"http://www.gravatar.com/avatar/eb078a555c324d8932bb1ae60701ccce?s=100&d=http%3A%2F%2Fstorify.com%2Fpublic%2Fimg%2Fdefault.avatar.png"}];


var s = s || {};
s.story = s.story || {};
s.story["sid"] = "4ef347eb5d9e12886e18f0d7";
s.story["title"] = "@WSJ's most-retweeted tweets of 2011";
s.story["slug"] = "at-wsj-s-most-retweeted-tweets-of-2011";
s.story["status"] = "published";
s.story["permalink"] = "http://storify.com/zseward/at-wsj-s-most-retweeted-tweets-of-2011";
s.story["shortlink"] = "http://sfy.co/SPU";
s.story["description"] = "Here are the @WSJ tweets that spread furthest this year, according to Favstar. Five of them concerned Steve Jobs, and six included the word \"breaking.\"";
s.story["thumbnail"] = "http://storify.com/public/img/default-thumb.gif";
s.story["date"] = {"created":"2011-12-22T15:08:27.743Z", "modified":"2011-12-22T15:08:28.621Z", "published":"2011-12-22T15:08:28.621Z"};
s.story["private"] = false;
s.story["topics"] = [];
s.story["siteposts"] = [];
s.story["meta"] = {"quoted":[{"username":"WSJ", "name":"Wall Street Journal", "avatar":"http://a2.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "source":"twitter", "notified_at":null}], "hashtags":[]};
s.story["stats"] = {"views":124, "popularity":0, "likes":0, "embeds":[{"clicks":0, "views":122, "href":"http://storify.com/zseward/at-wsj-s-most-retweeted-tweets-of-2011", "domain":"storify.com"}, {"clicks":0, "views":2, "href":null, "domain":"null"}], "elements":{"other":0, "link":0, "video":0, "image":0, "quote":10, "text":0}, "clicks":0};
s.story["modified"] = false;
s.story["deleted"] = false;
s.story["canEdit"] = false;
s.story["page"] = 1;
s.story["per_page"] = 25;
s.story["elements"] = [{"id":"4ef347ec237521170525630c", "type":"quote", "permalink":"https://twitter.com/WSJ/status/103675669757689856", "posted_at":"2011-08-17T03:53:00.000Z", "added_at":"2011-12-22T02:42:47.058Z", "data":{"quote":{"username":"WSJ", "text":"Abercrombie & Fitch offers money to 'Jersey Shore' lead to not wear its clothes. Now that's A Situation http://t.co/REL2ZcB"}}, "source":{"href":"http://twitter.com", "name":"twitter"}, "attribution":{"thumbnail":"http://a2.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "href":"http://twitter.com/WSJ", "username":"WSJ", "name":"Wall Street Journal"}, "meta":{"id_str":"103675669757689856", "entities":{"hashtags":[], "urls":[{"url":"http://t.co/REL2ZcB", "indices":[104, 123], "expanded_url":"http://on.wsj.com/nCzuQd", "display_url":"on.wsj.com/nCzuQd"}], "user_mentions":[]}, "in_reply_to_status_id":null, "contributors":null, "place":null, "truncated":false, "geo":null, "favorited":false, "created_at":"Wed Aug 17 03:53:00 +0000 2011", "user":{"id_str":"3108351", "contributors_enabled":false, "lang":"en", "protected":false, "url":"http://wsj.com", "profile_use_background_image":true, "name":"Wall Street Journal", "default_profile_image":false, "friends_count":158, "profile_text_color":"333333", "statuses_count":24630, "profile_background_image_url":"http://a1.twimg.com/images/themes/theme14/bg.gif", "utc_offset":-18000, "description":"Breaking news, investigative reporting, business coverage and features from The Wall Street Journal.", "is_translator":false, "created_at":"Sun Apr 01 06:22:13 +0000 2007", "profile_link_color":"009999", "following":null, "profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme14/bg.gif", "favourites_count":287, "follow_request_sent":null, "geo_enabled":true, "profile_background_color":"131516", "profile_background_tile":true, "followers_count":1301749, "profile_image_url":"http://a2.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "screen_name":"WSJ", "show_all_inline_media":true, "profile_sidebar_fill_color":"efefef", "profile_image_url_https":"https://si0.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "listed_count":43344, "notifications":null, "location":"New York, NY", "id":3108351, "default_profile":false, "verified":true, "time_zone":"Eastern Time (US & Canada)", "profile_sidebar_border_color":"eeeeee"}, "in_reply_to_user_id":null, "retweet_count":"100+", "in_reply_to_screen_name":null, "in_reply_to_status_id_str":null, "possibly_sensitive":false, "retweeted":false, "source":"<a href=\"http://www.tweetdeck.com\" rel=\"nofollow\">TweetDeck</a>", "in_reply_to_user_id_str":null, "coordinates":null, "id":"103675669757689856", "text":"Abercrombie & Fitch offers money to 'Jersey Shore' lead to not wear its clothes. Now that's A Situation http://t.co/REL2ZcB"}}, {"id":"4ef347ec237521170525630d", "type":"quote", "permalink":"http://twitter.com/WSJ/status/121741270937899008", "posted_at":"2011-10-06T00:19:15.000Z", "added_at":"2011-12-22T02:42:47.058Z", "data":{"quote":{"text":"&quot;Your time is limited, so don't waste it living someone else's life.&quot; The best Steve Jobs quotes: http://t.co/gyf6ra8o"}}, "source":{"name":"twitter", "href":"http://twitter.com"}, "attribution":{"username":"WSJ", "name":"WSJ", "href":"http://twitter.com/WSJ", "thumbnail":"http://a0.twimg.com/profile_images/1419283595/WSJ_Twitter_200x200_normal.jpg"}, "meta":{"created_at":"Thu, 06 Oct 2011 00:19:15 +0000", "from_user":"WSJ", "from_user_id":"353849", "from_user_id_str":"353849", "geo":{"coordinates":["40.7589", "-73.982"], "type":"Point"}, "id":"121741270937899000", "id_str":"121741270937899008", "iso_language_code":"en", "metadata":{"recent_retweets":"10", "result_type":"popular"}, "profile_image_url":"http://a0.twimg.com/profile_images/1419283595/WSJ_Twitter_200x200_normal.jpg", "source":"&lt;a href=&quot;http://www.tweetdeck.com&quot; rel=&quot;nofollow&quot;&gt;TweetDeck&lt;/a&gt;", "text":"&quot;Your time is limited, so don't waste it living someone else's life.&quot; The best Steve Jobs quotes: http://t.co/gyf6ra8o", "to_user_id":"null", "to_user_id_str":"null", "user":{"screen_name":"WSJ", "profile_image_url":"http://a0.twimg.com/profile_images/1419283595/WSJ_Twitter_200x200_normal.jpg"}}}, {"id":"4ef347ec237521170525630e", "type":"quote", "permalink":"http://twitter.com/WSJ/status/121730877888806912", "posted_at":"2011-10-05T23:37:57.000Z", "added_at":"2011-12-22T02:42:47.058Z", "data":{"quote":{"text":"Breaking: Apple says Steve Jobs has died. http://wsj.com"}}, "source":{"name":"twitter", "href":"http://twitter.com"}, "attribution":{"username":"WSJ", "name":"WSJ", "href":"http://twitter.com/WSJ", "thumbnail":"http://a0.twimg.com/profile_images/1419283595/WSJ_Twitter_200x200_normal.jpg"}, "meta":{"created_at":"Wed, 05 Oct 2011 23:37:57 +0000", "from_user":"WSJ", "from_user_id":"353849", "from_user_id_str":"353849", "geo":{"coordinates":["40.7589", "-73.982"], "type":"Point"}, "id":"121730877888806910", "id_str":"121730877888806912", "iso_language_code":"en", "metadata":{"recent_retweets":"779", "result_type":"popular"}, "profile_image_url":"http://a0.twimg.com/profile_images/1419283595/WSJ_Twitter_200x200_normal.jpg", "source":"&lt;a href=&quot;http://www.tweetdeck.com&quot; rel=&quot;nofollow&quot;&gt;TweetDeck&lt;/a&gt;", "text":"Breaking: Apple says Steve Jobs has died. http://wsj.com", "to_user_id":"null", "to_user_id_str":"null", "user":{"screen_name":"WSJ", "profile_image_url":"http://a0.twimg.com/profile_images/1419283595/WSJ_Twitter_200x200_normal.jpg"}}}, {"id":"4ef347ec237521170525630f", "type":"quote", "permalink":"http://twitter.com/WSJ/status/106496466905870336", "posted_at":"2011-08-24T22:41:50.000Z", "added_at":"2011-12-22T02:42:47.058Z", "data":{"quote":{"text":"BREAKING: Steve Jobs Resigns as CEO of Apple"}}, "source":{"name":"twitter", "href":"http://twitter.com"}, "attribution":{"username":"WSJ", "name":"WSJ", "href":"http://twitter.com/WSJ", "thumbnail":"http://a0.twimg.com/profile_images/1419283595/WSJ_Twitter_200x200_normal.jpg"}, "meta":{"in_reply_to_status_id_str":"null", "in_reply_to_screen_name":"null", "in_reply_to_user_id_str":"null", "contributors":"null", "retweeted":"false", "in_reply_to_user_id":"null", "retweet_count":"100+", "user":{"default_profile":"false", "show_all_inline_media":"true", "verified":"true", "geo_enabled":"true", "profile_link_color":"009999", "protected":"false", "location":"New York, NY", "notifications":"false", "friends_count":"156", "profile_sidebar_border_color":"eeeeee", "followers_count":"1030110", "name":"Wall Street Journal", "default_profile_image":"false", "contributors_enabled":"false", "time_zone":"Eastern Time (US & Canada)", "favourites_count":"228", "url":"http://wsj.com", "statuses_count":"23142", "following":"true", "profile_use_background_image":"true", "profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme14/bg.gif", "utc_offset":"-18000", "description":"Breaking news, investigative reporting, business coverage and features from The Wall Street Journal.", "is_translator":"false", "profile_background_color":"131516", "profile_image_url_https":"https://si0.twimg.com/profile_images/1419283595/WSJ_Twitter_200x200_normal.jpg", "follow_request_sent":"false", "profile_background_image_url":"http://a1.twimg.com/images/themes/theme14/bg.gif", "created_at":"Sun Apr 01 06:22:13 +0000 2007", "profile_image_url":"http://a0.twimg.com/profile_images/1419283595/WSJ_Twitter_200x200_normal.jpg", "id_str":"3108351", "profile_text_color":"333333", "profile_sidebar_fill_color":"efefef", "screen_name":"WSJ", "listed_count":"37630", "lang":"en", "profile_background_tile":"true", "id":"3108351"}, "in_reply_to_status_id":"null", "created_at":"Wed Aug 24 22:41:50 +0000 2011", "id_str":"106496466905870336", "geo":"null", "truncated":"false", "coordinates":"null", "source":"web", "id":"106496466905870340", "place":"null", "favorited":"false", "text":"BREAKING: Steve Jobs Resigns as CEO of Apple", "metadata":{"recent_retweets":"100+"}}}, {"id":"4ef347ec2375211705256310", "type":"quote", "permalink":"http://twitter.com/WSJ/status/148602514990829569", "posted_at":"2011-12-19T03:16:15.000Z", "added_at":"2011-12-22T02:42:47.058Z", "data":{"quote":{"username":"WSJ", "text":"Breaking: North Korean leader Kim Jong Il has died http://t.co/13MFhrj1"}}, "source":{"href":"http://twitter.com", "name":"twitter"}, "attribution":{"thumbnail":"http://a2.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "href":"http://twitter.com/WSJ", "username":"WSJ", "name":"Wall Street Journal"}, "meta":{"id_str":"148602514990829569", "entities":{"hashtags":[], "urls":[{"url":"http://t.co/13MFhrj1", "indices":[51, 71], "expanded_url":"http://on.wsj.com/u4eS0O", "display_url":"on.wsj.com/u4eS0O"}], "user_mentions":[]}, "in_reply_to_status_id":null, "contributors":null, "place":null, "truncated":false, "geo":null, "favorited":false, "created_at":"Mon Dec 19 03:16:15 +0000 2011", "user":{"id_str":"3108351", "contributors_enabled":false, "lang":"en", "protected":false, "url":"http://wsj.com", "profile_use_background_image":true, "name":"Wall Street Journal", "default_profile_image":false, "friends_count":158, "profile_text_color":"333333", "default_profile":false, "statuses_count":24630, "profile_background_image_url":"http://a1.twimg.com/images/themes/theme14/bg.gif", "utc_offset":-18000, "description":"Breaking news, investigative reporting, business coverage and features from The Wall Street Journal.", "is_translator":false, "created_at":"Sun Apr 01 06:22:13 +0000 2007", "profile_link_color":"009999", "following":true, "profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme14/bg.gif", "favourites_count":287, "follow_request_sent":false, "geo_enabled":true, "profile_background_color":"131516", "profile_background_tile":true, "followers_count":1301748, "profile_image_url":"http://a2.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "screen_name":"WSJ", "show_all_inline_media":true, "profile_sidebar_fill_color":"efefef", "profile_image_url_https":"https://si0.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "listed_count":43344, "notifications":false, "location":"New York, NY", "id":3108351, "verified":true, "time_zone":"Eastern Time (US & Canada)", "profile_sidebar_border_color":"eeeeee"}, "in_reply_to_user_id":null, "retweet_count":"100+", "in_reply_to_screen_name":null, "in_reply_to_status_id_str":null, "possibly_sensitive":false, "retweeted":false, "source":"<a href=\"http://www.tweetdeck.com\" rel=\"nofollow\">TweetDeck</a>", "in_reply_to_user_id_str":null, "coordinates":null, "id":"148602514990829568", "text":"Breaking: North Korean leader Kim Jong Il has died http://t.co/13MFhrj1"}}, {"id":"4ef347ec2375211705256311", "type":"quote", "permalink":"http://twitter.com/WSJ/status/106495812200177664", "posted_at":"2011-08-24T22:39:14.000Z", "added_at":"2011-12-22T02:42:47.058Z", "data":{"quote":{"username":"WSJ", "text":"Breaking: Steve Jobs resigns as CEO of Apple, according to a press release. http://t.co/eEHmqVe $AAPL"}}, "source":{"href":"http://twitter.com", "name":"twitter"}, "attribution":{"thumbnail":"http://a2.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "href":"http://twitter.com/WSJ", "username":"WSJ", "name":"Wall Street Journal"}, "meta":{"id_str":"106495812200177664", "entities":{"hashtags":[], "urls":[{"url":"http://t.co/eEHmqVe", "indices":[76, 95], "expanded_url":"http://wsj.com", "display_url":"wsj.com"}], "user_mentions":[]}, "in_reply_to_status_id":null, "contributors":null, "place":{"url":"http://api.twitter.com/1/geo/id/086752cb03de1d5d.json", "name":"Manhattan", "full_name":"Manhattan, NY", "place_type":"city", "country_code":"US", "bounding_box":{"type":"Polygon", "coordinates":[[[-74.047285, 40.679548], [-73.907104, 40.679548], [-73.907104, 40.882214], [-74.047285, 40.882214]]]}, "country":"United States", "id":"086752cb03de1d5d"}, "truncated":false, "geo":null, "favorited":false, "created_at":"Wed Aug 24 22:39:14 +0000 2011", "user":{"id_str":"3108351", "contributors_enabled":false, "lang":"en", "protected":false, "url":"http://wsj.com", "profile_use_background_image":true, "name":"Wall Street Journal", "default_profile_image":false, "default_profile":false, "friends_count":158, "profile_text_color":"333333", "statuses_count":24630, "profile_background_image_url":"http://a1.twimg.com/images/themes/theme14/bg.gif", "utc_offset":-18000, "description":"Breaking news, investigative reporting, business coverage and features from The Wall Street Journal.", "is_translator":false, "created_at":"Sun Apr 01 06:22:13 +0000 2007", "profile_link_color":"009999", "following":null, "profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme14/bg.gif", "favourites_count":287, "follow_request_sent":null, "geo_enabled":true, "profile_background_color":"131516", "profile_background_tile":true, "followers_count":1301755, "profile_image_url":"http://a2.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "screen_name":"WSJ", "show_all_inline_media":true, "profile_sidebar_fill_color":"efefef", "profile_image_url_https":"https://si0.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "listed_count":43345, "notifications":null, "location":"New York, NY", "id":3108351, "verified":true, "time_zone":"Eastern Time (US & Canada)", "profile_sidebar_border_color":"eeeeee"}, "in_reply_to_user_id":null, "retweet_count":"100+", "in_reply_to_screen_name":null, "in_reply_to_status_id_str":null, "possibly_sensitive":false, "retweeted":false, "source":"web", "in_reply_to_user_id_str":null, "coordinates":null, "id":"106495812200177664", "text":"Breaking: Steve Jobs resigns as CEO of Apple, according to a press release. http://t.co/eEHmqVe $AAPL"}}, {"id":"4ef347ec2375211705256312", "type":"quote", "permalink":"http://twitter.com/WSJ/status/131394479906242560", "posted_at":"2011-11-01T15:37:39.000Z", "added_at":"2011-12-22T02:42:47.058Z", "data":{"quote":{"username":"WSJ", "text":"Breaking: Bank of America is dropping its plan to add a $5 monthly fee for debit-card purchases. http://t.co/CJYfCxIo"}}, "source":{"href":"http://twitter.com", "name":"twitter"}, "attribution":{"thumbnail":"http://a2.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "href":"http://twitter.com/WSJ", "username":"WSJ", "name":"Wall Street Journal"}, "meta":{"id_str":"131394479906242560", "entities":{"hashtags":[], "urls":[{"url":"http://t.co/CJYfCxIo", "indices":[97, 117], "expanded_url":"http://wsj.com", "display_url":"wsj.com"}], "user_mentions":[]}, "in_reply_to_status_id":null, "contributors":null, "place":{"url":"http://api.twitter.com/1/geo/id/086752cb03de1d5d.json", "name":"Manhattan", "full_name":"Manhattan, NY", "place_type":"city", "country_code":"US", "bounding_box":{"type":"Polygon", "coordinates":[[[-74.047249, 40.679548], [-73.907104, 40.679548], [-73.907104, 40.882214], [-74.047249, 40.882214]]]}, "country":"United States", "id":"086752cb03de1d5d"}, "truncated":false, "geo":{"type":"Point", "coordinates":[40.758922, -73.982047]}, "favorited":false, "created_at":"Tue Nov 01 15:37:39 +0000 2011", "user":{"id_str":"3108351", "contributors_enabled":false, "lang":"en", "protected":false, "url":"http://wsj.com", "default_profile":false, "profile_use_background_image":true, "name":"Wall Street Journal", "default_profile_image":false, "friends_count":158, "profile_text_color":"333333", "statuses_count":24630, "profile_background_image_url":"http://a1.twimg.com/images/themes/theme14/bg.gif", "utc_offset":-18000, "description":"Breaking news, investigative reporting, business coverage and features from The Wall Street Journal.", "is_translator":false, "created_at":"Sun Apr 01 06:22:13 +0000 2007", "profile_link_color":"009999", "following":null, "profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme14/bg.gif", "favourites_count":287, "follow_request_sent":null, "geo_enabled":true, "profile_background_color":"131516", "profile_background_tile":true, "followers_count":1301755, "profile_image_url":"http://a2.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "screen_name":"WSJ", "show_all_inline_media":true, "profile_sidebar_fill_color":"efefef", "profile_image_url_https":"https://si0.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "listed_count":43345, "notifications":null, "location":"New York, NY", "id":3108351, "verified":true, "time_zone":"Eastern Time (US & Canada)", "profile_sidebar_border_color":"eeeeee"}, "in_reply_to_user_id":null, "retweet_count":"100+", "in_reply_to_screen_name":null, "in_reply_to_status_id_str":null, "possibly_sensitive":false, "retweeted":false, "source":"<a href=\"http://www.tweetdeck.com\" rel=\"nofollow\">TweetDeck</a>", "in_reply_to_user_id_str":null, "coordinates":{"type":"Point", "coordinates":[-73.982047, 40.758922]}, "id":"131394479906242560", "text":"Breaking: Bank of America is dropping its plan to add a $5 monthly fee for debit-card purchases. http://t.co/CJYfCxIo"}}, {"id":"4ef347ec2375211705256313", "type":"quote", "permalink":"http://twitter.com/WSJ/status/23506569970847744", "posted_at":"2011-01-07T22:29:37.000Z", "added_at":"2011-12-22T02:42:47.058Z", "data":{"quote":{"username":"WSJ", "text":"Breaking: We've confirmed that Verizon will announce on Tuesday that the iPhone is coming to its network http://on.wsj.com/gta0Gd"}}, "source":{"href":"http://twitter.com", "name":"twitter"}, "attribution":{"thumbnail":"http://a2.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "href":"http://twitter.com/WSJ", "username":"WSJ", "name":"Wall Street Journal"}, "meta":{"id_str":"23506569970847744", "entities":{"hashtags":[], "urls":[{"url":"http://on.wsj.com/gta0Gd", "indices":[105, 129], "expanded_url":null}], "user_mentions":[]}, "in_reply_to_status_id":null, "contributors":null, "place":{"url":"http://api.twitter.com/1/geo/id/c2d63d9396b1d307.json", "name":"Theater District - Times Square", "full_name":"Theater District - Times Square, New York", "place_type":"neighborhood", "country_code":"US", "bounding_box":{"type":"Polygon", "coordinates":[[[-73.990657, 40.753598], [-73.979078, 40.753598], [-73.979078, 40.764187], [-73.990657, 40.764187]]]}, "country":"United States", "id":"c2d63d9396b1d307"}, "truncated":false, "geo":{"type":"Point", "coordinates":[40.758408, -73.981826]}, "favorited":false, "created_at":"Fri Jan 07 22:29:37 +0000 2011", "user":{"id_str":"3108351", "contributors_enabled":false, "lang":"en", "protected":false, "url":"http://wsj.com", "profile_use_background_image":true, "name":"Wall Street Journal", "default_profile_image":false, "friends_count":158, "profile_text_color":"333333", "statuses_count":24630, "profile_background_image_url":"http://a1.twimg.com/images/themes/theme14/bg.gif", "utc_offset":-18000, "description":"Breaking news, investigative reporting, business coverage and features from The Wall Street Journal.", "is_translator":false, "created_at":"Sun Apr 01 06:22:13 +0000 2007", "profile_link_color":"009999", "default_profile":false, "following":null, "profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme14/bg.gif", "favourites_count":287, "follow_request_sent":null, "geo_enabled":true, "profile_background_color":"131516", "profile_background_tile":true, "followers_count":1301754, "profile_image_url":"http://a2.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "screen_name":"WSJ", "show_all_inline_media":true, "profile_sidebar_fill_color":"efefef", "profile_image_url_https":"https://si0.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "listed_count":43345, "notifications":null, "location":"New York, NY", "id":3108351, "verified":true, "time_zone":"Eastern Time (US & Canada)", "profile_sidebar_border_color":"eeeeee"}, "in_reply_to_user_id":null, "retweet_count":"100+", "in_reply_to_screen_name":null, "in_reply_to_status_id_str":null, "possibly_sensitive":false, "retweeted":false, "source":"<a href=\"http://www.tweetdeck.com\" rel=\"nofollow\">TweetDeck</a>", "in_reply_to_user_id_str":null, "coordinates":{"type":"Point", "coordinates":[-73.981826, 40.758408]}, "id":"23506569970847744", "text":"Breaking: We've confirmed that Verizon will announce on Tuesday that the iPhone is coming to its network http://on.wsj.com/gta0Gd"}}, {"id":"4ef347ec2375211705256314", "type":"quote", "permalink":"http://twitter.com/WSJ/status/121733378537037825", "posted_at":"2011-10-05T23:47:53.000Z", "added_at":"2011-12-22T02:42:47.058Z", "data":{"quote":{"username":"WSJ", "text":"Apple statement: \"We are deeply saddened to announce that Steve Jobs passed away today.\" http://t.co/rXYRdUaG"}}, "source":{"href":"http://twitter.com", "name":"twitter"}, "attribution":{"thumbnail":"http://a2.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "href":"http://twitter.com/WSJ", "username":"WSJ", "name":"Wall Street Journal"}, "meta":{"id_str":"121733378537037825", "entities":{"hashtags":[], "urls":[{"url":"http://t.co/rXYRdUaG", "indices":[89, 109], "expanded_url":"http://bit.ly/q4VaEW", "display_url":"bit.ly/q4VaEW"}], "user_mentions":[]}, "in_reply_to_status_id":null, "contributors":null, "place":{"url":"http://api.twitter.com/1/geo/id/086752cb03de1d5d.json", "name":"Manhattan", "full_name":"Manhattan, NY", "place_type":"city", "country_code":"US", "bounding_box":{"type":"Polygon", "coordinates":[[[-74.047249, 40.679548], [-73.907, 40.679548], [-73.907, 40.882214], [-74.047249, 40.882214]]]}, "country":"United States", "id":"086752cb03de1d5d"}, "truncated":false, "geo":{"type":"Point", "coordinates":[40.758922, -73.982047]}, "favorited":false, "created_at":"Wed Oct 05 23:47:53 +0000 2011", "user":{"id_str":"3108351", "contributors_enabled":false, "lang":"en", "protected":false, "url":"http://wsj.com", "profile_use_background_image":true, "name":"Wall Street Journal", "default_profile_image":false, "friends_count":158, "profile_text_color":"333333", "statuses_count":24630, "profile_background_image_url":"http://a1.twimg.com/images/themes/theme14/bg.gif", "utc_offset":-18000, "description":"Breaking news, investigative reporting, business coverage and features from The Wall Street Journal.", "is_translator":false, "created_at":"Sun Apr 01 06:22:13 +0000 2007", "profile_link_color":"009999", "following":null, "profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme14/bg.gif", "favourites_count":287, "follow_request_sent":null, "geo_enabled":true, "profile_background_color":"131516", "default_profile":false, "profile_background_tile":true, "followers_count":1301754, "profile_image_url":"http://a2.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "screen_name":"WSJ", "show_all_inline_media":true, "profile_sidebar_fill_color":"efefef", "profile_image_url_https":"https://si0.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "listed_count":43345, "notifications":null, "location":"New York, NY", "id":3108351, "verified":true, "time_zone":"Eastern Time (US & Canada)", "profile_sidebar_border_color":"eeeeee"}, "in_reply_to_user_id":null, "retweet_count":"100+", "in_reply_to_screen_name":null, "in_reply_to_status_id_str":null, "possibly_sensitive":false, "retweeted":false, "source":"<a href=\"http://www.tweetdeck.com\" rel=\"nofollow\">TweetDeck</a>", "in_reply_to_user_id_str":null, "coordinates":{"type":"Point", "coordinates":[-73.982047, 40.758922]}, "id":"121733378537037824", "text":"Apple statement: \"We are deeply saddened to announce that Steve Jobs passed away today.\" http://t.co/rXYRdUaG"}}, {"id":"4ef347ec2375211705256315", "type":"quote", "permalink":"http://twitter.com/WSJ/status/64975407576911872", "posted_at":"2011-05-02T08:51:59.000Z", "added_at":"2011-12-22T02:42:47.058Z", "data":{"quote":{"username":"WSJ", "text":"How an I.T. consultant in Pakistan accidentally live-tweeted the attack on bin Laden http://on.wsj.com/kA0OVU"}}, "source":{"href":"http://twitter.com", "name":"twitter"}, "attribution":{"thumbnail":"http://a2.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "href":"http://twitter.com/WSJ", "username":"WSJ", "name":"Wall Street Journal"}, "meta":{"id_str":"64975407576911872", "entities":{"hashtags":[], "urls":[{"url":"http://on.wsj.com/kA0OVU", "indices":[85, 109], "expanded_url":null}], "user_mentions":[]}, "in_reply_to_status_id":null, "contributors":null, "place":null, "truncated":false, "geo":null, "favorited":false, "created_at":"Mon May 02 08:51:59 +0000 2011", "user":{"id_str":"3108351", "contributors_enabled":false, "lang":"en", "protected":false, "url":"http://wsj.com", "profile_use_background_image":true, "name":"Wall Street Journal", "default_profile_image":false, "friends_count":158, "profile_text_color":"333333", "statuses_count":24630, "profile_background_image_url":"http://a1.twimg.com/images/themes/theme14/bg.gif", "utc_offset":-18000, "description":"Breaking news, investigative reporting, business coverage and features from The Wall Street Journal.", "is_translator":false, "default_profile":false, "created_at":"Sun Apr 01 06:22:13 +0000 2007", "profile_link_color":"009999", "following":null, "profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme14/bg.gif", "favourites_count":287, "follow_request_sent":null, "geo_enabled":true, "profile_background_color":"131516", "profile_background_tile":true, "followers_count":1301755, "profile_image_url":"http://a2.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "screen_name":"WSJ", "show_all_inline_media":true, "profile_sidebar_fill_color":"efefef", "profile_image_url_https":"https://si0.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal", "listed_count":43344, "notifications":null, "location":"New York, NY", "id":3108351, "verified":true, "time_zone":"Eastern Time (US & Canada)", "profile_sidebar_border_color":"eeeeee"}, "in_reply_to_user_id":null, "retweet_count":"100+", "in_reply_to_screen_name":null, "in_reply_to_status_id_str":null, "possibly_sensitive":false, "retweeted":false, "source":"<a href=\"http://www.tweetdeck.com\" rel=\"nofollow\">TweetDeck</a>", "in_reply_to_user_id_str":null, "coordinates":null, "id":"64975407576911872", "text":"How an I.T. consultant in Pakistan accidentally live-tweeted the attack on bin Laden http://on.wsj.com/kA0OVU"}}];
s.story["author"] = {"username":"zseward", "_access":0, "name":"Zach Seward", "bio":"Editor of outreach and social media at The Wall Street Journal. Email: zach dot seward at wsj dot com", "location":"New York, NY", "website":"http://gplus.to/zms", "avatar":"http://a1.twimg.com/profile_images/1426523909/Me_normal.jpg", "permalink":"http://storify.com/zseward", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true}, "comments":"facebook"}, "stats":{"subscriptions":10, "subscribers":15, "stories":8, "followers":3}, "date":{"updated":"2012-02-28T14:25:45.360Z", "last_seen":"2012-02-20T22:52:09.032Z", "created":"2010-12-23T05:52:47.000Z"}};
s.story["editors"] = [];


var s = s || {};
s.user = s.user || {};
s.user["username"] = "zseward";
s.user["_access"] = 0;
s.user["name"] = "Zach Seward";
s.user["bio"] = "Editor of outreach and social media at The Wall Street Journal. Email: zach dot seward at wsj dot com";
s.user["location"] = "New York, NY";
s.user["website"] = "http://gplus.to/zms";
s.user["avatar"] = "http://a1.twimg.com/profile_images/1426523909/Me_normal.jpg";
s.user["permalink"] = "http://storify.com/zseward";
s.user["settings"] = {"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true}, "comments":"facebook"};
s.user["stats"] = {"subscriptions":10, "subscribers":15, "stories":8, "followers":3};
s.user["date"] = {"updated":"2012-02-28T14:25:45.360Z", "last_seen":"2012-02-20T22:52:09.032Z", "created":"2010-12-23T05:52:47.000Z"};
s.user["subscribers"] = [{"username":"jim_colgan", "_access":0, "name":"Jim Colgan", "bio":"Recovering public radio producer. Work w/pubradio and other news orgs on mobile audience engagement, with @mobilecommons. Freelance for @wnyc, @npr, @poynter.", "location":"new york", "website":"http://jimcolgan.com", "avatar":"http://a1.twimg.com/profile_images/1239207063/jim_headphones_normal.jpg", "permalink":"http://storify.com/jim_colgan", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true}, "comments":"facebook"}, "stats":{"subscriptions":3, "subscribers":0, "stories":2}, "date":{"updated":"2012-02-16T15:47:04.250Z", "last_seen":"2012-02-16T15:47:02.759Z", "created":"2011-02-09T09:51:33.000Z"}}, {"username":"trevr", "_access":0, "name":"Trevor", "bio":"Twittering away from the heart of the Napa Valley. Director of Social Media by day, #wine blogger by night.", "location":"Napa Valley", "website":"http://about.me/trevorjonas", "avatar":"http://a0.twimg.com/profile_images/1441551704/TrevR_Avatar_normal.png", "permalink":"http://storify.com/trevr", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true}, "comments":"facebook"}, "stats":{"subscriptions":7, "subscribers":4, "stories":4}, "date":{"updated":"2012-03-05T22:15:13.890Z", "last_seen":"2012-03-05T22:15:13.371Z", "created":"2011-02-26T01:38:16.000Z"}}, {"username":"joshsternberg", "_access":0, "name":"josh sternberg", "bio":"Communications firm owner. Guest writer for Huffington Post, Mashable & Mediaite. Former adjunct prof of communications. Tweets are mine; of course, right?\n", "location":"Prospect Heights, Brooklyn", "website":"http://www.sternbergcommunications.com", "avatar":"http://a3.twimg.com/profile_images/1290888069/IMG_3093_2_normal.JPG", "permalink":"http://storify.com/joshsternberg", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true}, "comments":"facebook"}, "stats":{"subscriptions":4, "subscribers":1, "stories":0}, "date":{"updated":"2012-02-16T12:56:57.238Z", "last_seen":"2012-02-16T12:56:56.814Z", "created":"2011-03-09T15:35:29.000Z"}}, {"username":"holyghostpro", "_access":0, "name":"Non ci sono.", "bio":"http://www.linkedin.com/pub/4/523/269\r\nhttps://twitter.com/#!/holyghostpro\r\nhttp://www.facebook.com/holyghostpro", "location":"Ancona", "website":"http://www.torbinio.it", "avatar":"http://a0.twimg.com/profile_images/1647009448/f712054c12cd11e1abb01231381b65e3_7_reasonably_small.jpg", "permalink":"http://storify.com/holyghostpro", "settings":{"sxsw":true, "notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true}, "comments":"facebook"}, "stats":{"views":0, "subscriptions":8, "subscribers":2, "stories":6, "embeds":0}, "date":{"updated":"2012-03-13T09:48:30.516Z", "last_seen":"2012-03-06T21:30:44.852Z", "featured":null, "created":"2011-11-28T17:11:22.384Z"}}, {"username":"Teema12", "_access":0, "bio":"Teemapäivät ovat Valtion taidemuseon Kehittäminen ja yhteiskuntasuhteet Kehyksen järjestämät vuosittaiset taidemuseoalan kehittämispäivät. Vuonna 2012 Teemapäivillä kokeiltiin sosiaalisen median käyttöä ja täältä voit nähdä, kuinka meidän kävi!\n\nStorify-nurkasta huutelee Kehyksessä tutkimusavustajana toimiva Pia Lonardi.", "location":null, "website":"http://storify.com/undefined", "avatar":"http://storify.com/public/img/default.avatar.png", "permalink":"http://storify.com/Teema12", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true, "autoshare":true}, "facebook_autoshare":true, "comments":"facebook"}, "stats":{"views":0, "subscriptions":10, "subscribers":3, "stories":5, "embeds":0}, "date":{"updated":"2012-03-15T10:13:26.158Z", "last_seen":"2012-03-09T08:55:51.329Z", "featured":null, "created":"2012-01-25T10:10:29.540Z"}}, {"username":"NYCcyn", "_access":0, "name":"Cynthia Collins", "bio":"@NYTimes digital marketing/social media. Professional fan of Springsteen & E Street Band, Yankees baseball & surfing. Man, the dope's that there's still hope.", "location":"New York City", "website":"http://www.nytimes.com", "avatar":"http://a3.twimg.com/profile_images/75855498/cyn2_reasonably_small.jpg", "permalink":"http://storify.com/NYCcyn", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true, "autoshare":true}, "facebook_autoshare":true, "comments":"facebook"}, "stats":{"stories":1, "views":0, "embeds":0, "subscriptions":12, "subscribers":79}, "date":{"updated":"2012-03-15T18:55:55.493Z", "last_seen":"2012-02-16T17:17:34.036Z", "featured":null, "created":"2012-02-15T17:39:42.139Z"}}, {"username":"jaz1972", "_access":0, "name":"Susan Jastremski", "bio":"I make a lot of jokes. people take this stuff way to seriously. hey, no one gets out alive, so smile and laugh while you're still here. \r\n\r\nDo not dwell in the past, do not dream of the future, concentrate the mind on the present moment.~Buddha \r\n\r\nIt is better to conquer yourself than to win a thousand battles. Then the victory is yours. It cannot be taken from you, not by angels or by demons, heaven or hell.~Buddha \r\n\r\nHatred paralyzes life; love releases it. Hatred confuses life; love harmonizes it. Hatred darkens life; love illuminates it.\r\n\r\nGeographers ask three essential questions about the phenomena they study: \"WHERE are things located?\" but even more importantly, \"WHY are they located where they are?\" and \"WHERE should they be located?\" The answers to these questions are both descriptive and analytical; the first is primarily descriptive, and the second and third are primarily analytical. Geography tries to provide explanations about our world and the ways in which we live, work, and carry on social and economic activities. In short, geography is a science that investigates our cultural and natural environments, how we affect them, and how they affect us.", "location":"Cooperstown, New York", "website":"http://www.linkedin.com/profile/view?id=92557199&locale=en_US&trk=tab_pro", "avatar":"http://graph.facebook.com/jaz1972/picture", "permalink":"http://storify.com/jaz1972", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true, "autoshare":true}, "facebook_autoshare":true, "comments":"facebook"}, "stats":{"stories":0, "views":0, "embeds":0, "subscriptions":2, "subscribers":0}, "date":{"updated":"2012-02-16T16:48:02.207Z", "last_seen":null, "featured":null, "created":"2012-02-16T16:48:00.529Z"}}, {"username":"GoodMenProject", "_access":0, "name":"The Good Men Project", "bio":"We're starting a conversation about what it means to be a good man. Want to join us?", "location":"Global", "website":"http://www.GoodMenProject.com/", "avatar":"https://api.twitter.com/1/users/profile_image/goodmenproject?size=bigger", "permalink":"http://storify.com/GoodMenProject", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true, "autoshare":true}, "facebook_autoshare":true, "comments":"facebook"}, "stats":{"stories":19, "views":0, "embeds":0, "subscriptions":124, "subscribers":114}, "date":{"updated":"2012-03-16T02:44:35.901Z", "last_seen":"2012-03-15T17:36:22.722Z", "featured":null, "created":"2012-02-22T11:56:35.217Z"}}];
s.user["subscriptions"] = [{"username":"xdamman", "_access":1, "name":"Xavier Damman", "bio":"Passionate web entrepreneur/developer with values and ideals. Cofounder/CEO of Storify.", "location":"San Francisco", "website":"http://about.me/xdamman", "avatar":"https://api.twitter.com/1/users/profile_image/xdamman?size=bigger", "permalink":"http://storify.com/xdamman", "settings":{"sxsw":true, "notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true, "autoshare":false}, "facebook_autoshare":true, "comments":"facebook"}, "stats":{"subscriptions":180, "subscribers":421, "stories":83, "followers":53}, "date":{"updated":"2012-03-16T04:03:26.309Z", "last_seen":"2012-03-15T23:52:54.792Z", "created":"2010-07-04T03:58:16.000Z"}}, {"username":"burtherman", "_access":1, "name":"Burt Herman", "bio":"Entrepreneurial journalist finding meaning in the noise. co-founder of Storify, founder of Hacks/Hackers for journalists and technologists", "location":"San Francisco, CA", "website":"http://burtherman.com", "avatar":"http://a1.twimg.com/profile_images/67612383/XWS147_normal.jpg", "permalink":"http://storify.com/burtherman", "settings":{"sxsw":true, "notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true, "autoshare":false}, "comments":"facebook"}, "stats":{"subscriptions":292, "subscribers":461, "stories":57, "following":44, "followers":55}, "date":{"updated":"2012-03-16T00:34:02.823Z", "last_seen":"2012-03-12T16:23:46.958Z", "created":"2010-07-04T15:58:43.000Z"}}, {"username":"storify", "_access":1, "name":"Storify", "bio":"Making stories from the social Web, finding moments to remember in the real-time stream. Co-founded by @burtherman and @xdamman", "location":"Global", "website":"http://storify.com", "avatar":"https://api.twitter.com/1/users/profile_image/storify?size=bigger", "permalink":"http://storify.com/storify", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true}, "comments":"facebook"}, "stats":{"subscriptions":-6, "subscribers":161082, "stories":79, "followers":596}, "date":{"updated":"2012-03-16T04:30:23.485Z", "last_seen":"2012-03-15T18:16:27.755Z", "featured":null, "created":"2010-09-13T05:16:40.000Z"}}, {"username":"tcarmody", "_access":0, "name":"Tim Carmody", "bio":"I write about technology & media for Wired.com's Epicenter & sometimes the magazine. Resident bookfuturist at Snarkmarket. Recovering PhD. Dad.", "location":"New York City", "website":"http://snarkmarket.com", "avatar":"http://a1.twimg.com/profile_images/1557530370/Twitter-Beard_normal.jpg", "permalink":"http://storify.com/tcarmody", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true}, "comments":"facebook"}, "stats":{"subscriptions":5, "subscribers":286, "stories":18}, "date":{"updated":"2012-03-15T22:54:30.386Z", "last_seen":"2012-02-23T04:29:44.816Z", "created":"2010-08-18T19:36:31.000Z"}}, {"username":"matthewherper", "_access":0, "name":"Matthew Herper", "bio":"Forbes reporter covering science and medicine", "location":"New York", "website":"http://blogs.forbes.com/matthewherper", "avatar":"http://a3.twimg.com/profile_images/249031463/herperhead_reasonably_small.jpg", "permalink":"http://storify.com/matthewherper", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true, "autoshare":true}, "facebook_autoshare":true, "comments":"facebook"}, "stats":{"stories":1, "views":0, "embeds":0, "subscriptions":5, "subscribers":81}, "date":{"updated":"2012-03-15T07:00:13.983Z", "last_seen":"2012-02-12T00:52:09.672Z", "featured":null, "created":"2012-02-11T16:48:32.800Z"}}, {"username":"NYCcyn", "_access":0, "name":"Cynthia Collins", "bio":"@NYTimes digital marketing/social media. Professional fan of Springsteen & E Street Band, Yankees baseball & surfing. Man, the dope's that there's still hope.", "location":"New York City", "website":"http://www.nytimes.com", "avatar":"http://a3.twimg.com/profile_images/75855498/cyn2_reasonably_small.jpg", "permalink":"http://storify.com/NYCcyn", "settings":{"notifications":{"newsletter":true, "likes":true, "follower":true, "digest":true, "comments":true, "autoshare":true}, "facebook_autoshare":true, "comments":"facebook"}, "stats":{"stories":1, "views":0, "embeds":0, "subscriptions":12, "subscribers":79}, "date":{"updated":"2012-03-15T18:55:55.493Z", "last_seen":"2012-02-16T17:17:34.036Z", "featured":null, "created":"2012-02-15T17:39:42.139Z"}}];
s.user["identities"] = [{"service":"twitter", "username":"zseward", "date":{"updated":"2012-02-20T22:52:08.985Z", "created":"2011-10-27T00:35:08.322Z"}, "url":"http://twitter.com/zseward", "avatar":"https://api.twitter.com/1/users/profile_image/zseward?size=bigger"}, {"service":"gravatar", "avatar":"http://www.gravatar.com/avatar/eb078a555c324d8932bb1ae60701ccce?s=100&d=http%3A%2F%2Fstorify.com%2Fpublic%2Fimg%2Fdefault.avatar.png"}];

</script><script src="http://c757386.r86.cf2.rackcdn.com/1.2.32-3078ddc7-93036f034ce5f8de849d0bacd542e761.js"></script><script src="http://c757386.r86.cf2.rackcdn.com/1.2.32-3078ddc7-9c046b5ef215c8db3196bb7dbd2acd27.js"></script><script src="/public/js/templates.js?git=3078ddc7"></script><script src="http://platform.twitter.com/widgets.js"></script><script src="http://connect.facebook.net/en_US/all.js#appId=21987163403&amp;xfbml=1"></script><script src="https://apis.google.com/js/plusone.js"></script></head><body id="storify"><div id="fb-root"></div><div id="container"><div id="ipad-container"><div id="ipad" class="fixed"><p><strong>Hello iPad user! You should definitely <a href="http://itunes.apple.com/us/app/storify/id488223180?ls=1&amp;mt=8">download and try our free iPad app</a></strong>!
</p></div></div><div id="head-container"><div id="head" class="fixed"><div class="left"><h1 id="logo"><a href="/">storify</a></h1></div><div class="right"><ul class="button-group"><li><a id="create-story-button" href="/create" class="button toolbar"><span>Create Story</span></a></li><li><button id="signup-button" class="toolbar"><span>Sign up</span></button></li><li><button id="login-button" class="toolbar"><span>Login</span></button></li><li><a id="user-button" href="#" class="button user-auth-username toolbar"><span><img class="user-auth-avatar user-avatar-tiny"/><span class="user-auth-username"></span></span></a></li><li><button id="user-arrow" class="toolbar"><span><i></i></span></button></li></ul><div id="user-box" class="toolbar-dropdown"><a href="#" class="user-auth-subscriptions">Subscriptions</a><a href="/settings" class="settings">Settings</a><a id="logout" href="/logout">Logout</a></div></div><div class="clear"></div></div></div><div id="content"><div id="signup-prompt" class="fixed"><div class="inner"><h2>Storify enables anyone to create social stories.</h2><a href="/tour" class="button submit"><span>Get started</span></a><iframe scrolling="no" allowTransparency="true" src="https://www.facebook.com/plugins/facepile.php?app_id=244896998905679&amp;width=500&amp;max_rows=1&amp;colorscheme=light" style="border:none; overflow:hidden; width:500px; height: 70px;" frameborder="0"></iframe><i></i><div class="clear"></div></div></div><div id="story" class="fixed"><div class="left-content"><div class="story-toolbar"><a title="Published" href="/zseward/at-wsj-s-most-retweeted-tweets-of-2011/edit" class="story-toolbar-status published"><div class="icon"></div>Published </a><ul class="story-toolbar-actions right"><li><a href="#" class="story-toolbar-post"><strong>Export</strong><div class="icon"></div></a></li><li><a href="#" class="story-toolbar-notify">Notify <span class="important">(0/1)</span><div class="icon"></div></a></li><li><a href="#" class="story-toolbar-feature"><span>Feature</span><div class="icon"></div></a></li><li><a href="#" class="story-toolbar-delete">Delete<div class="icon"></div></a></li><li><a href="/zseward/at-wsj-s-most-retweeted-tweets-of-2011/edit" class="story-toolbar-edit">Edit<div class="icon"></div></a></li></ul><div class="clear"></div></div><div id="story-embed"><div username="zseward" slug="at-wsj-s-most-retweeted-tweets-of-2011" class="sfy-story"></div></div><div id="fb-comments"><div data-href="http://storify.com/zseward/at-wsj-s-most-retweeted-tweets-of-2011" data-num-posts="5" data-width="630" class="fb-comments"></div></div><div id="story-html"><h1>@WSJ's most-retweeted tweets of 2011</h1><h2>Here are the @WSJ tweets that spread furthest this year, according to Favstar. Five of them concerned Steve Jobs, and six included the word &quot;breaking.&quot;</h2><p>Storified by Zach Seward &middot; Thu, Dec 22 2011 10:08:28</p><div>Abercrombie &amp; Fitch offers money to 'Jersey Shore' lead to not wear its clothes. Now that's A Situation http://t.co/REL2ZcBWall Street Journal</div><div>&quot;Your time is limited, so don't waste it living someone else's life.&quot; The best Steve Jobs quotes: http://t.co/gyf6ra8oWSJ</div><div>Breaking: Apple says Steve Jobs has died. http://wsj.comWSJ</div><div>BREAKING: Steve Jobs Resigns as CEO of AppleWSJ</div><div>Breaking: North Korean leader Kim Jong Il has died http://t.co/13MFhrj1Wall Street Journal</div><div>Breaking: Steve Jobs resigns as CEO of Apple, according to a press release. http://t.co/eEHmqVe $AAPLWall Street Journal</div><div>Breaking: Bank of America is dropping its plan to add a $5 monthly fee for debit-card purchases. http://t.co/CJYfCxIoWall Street Journal</div><div>Breaking: We've confirmed that Verizon will announce on Tuesday that the iPhone is coming to its network http://on.wsj.com/gta0GdWall Street Journal</div><div>Apple statement: &quot;We are deeply saddened to announce that Steve Jobs passed away today.&quot; http://t.co/rXYRdUaGWall Street Journal</div><div>How an I.T. consultant in Pakistan accidentally live-tweeted the attack on bin Laden http://on.wsj.com/kA0OVUWall Street Journal</div></div></div><div id="story-stats" class="right-sidebar"><div id="user-stats"><div id="user-identities"><!-- Avatar, username, and real name--><div class="user-info"><a href="/zseward" rel="author"><img src="http://a1.twimg.com/profile_images/1426523909/Me_normal.jpg" class="user-avatar left"/></a><div class="left"><a href="/zseward" rel="author" class="user-username">zseward</a><div class="user-realname">Zach Seward</div></div><div class="clear"></div></div><!-- Buttons--><button id="user-follow" class="accept"><span>✚ Subscribe</span></button><!--✔--><!-- Bio--><p class="user-bio">Editor of outreach and social media at The Wall Street Journal. Email: zach dot seward at wsj dot com</p></div><div id="user-numbers"><!-- Statistics--><div class="sidebar-title user-stats-title">Statistics<div class="icon"></div></div><ul class="sidebar-list user-stats"><li class="user-stat">Published stories<div class="right"><strong>8</strong></div></li></ul><!--  li.user-stat Total story views--><!--    .right 0--><!--  li.user-stat Embeds--><!--    .right 0--><!-- Subscribers--><div class="sidebar-title">Subscribers<!--a(href= '#') View all--><div class="user-followers-count right">15</div></div><ul class="user-followers"><li><a href="/jim_colgan" title="jim_colgan" data-username="jim_colgan" class="user-follow-user"><img src="http://a1.twimg.com/profile_images/1239207063/jim_headphones_normal.jpg"/><div class="clear"></div></a></li><li><a href="/trevr" title="trevr" data-username="trevr" class="user-follow-user"><img src="http://a0.twimg.com/profile_images/1441551704/TrevR_Avatar_normal.png"/><div class="clear"></div></a></li><li><a href="/joshsternberg" title="joshsternberg" data-username="joshsternberg" class="user-follow-user"><img src="http://a3.twimg.com/profile_images/1290888069/IMG_3093_2_normal.JPG"/><div class="clear"></div></a></li><li><a href="/holyghostpro" title="holyghostpro" data-username="holyghostpro" class="user-follow-user"><img src="http://a0.twimg.com/profile_images/1647009448/f712054c12cd11e1abb01231381b65e3_7_reasonably_small.jpg"/><div class="clear"></div></a></li><li><a href="/Teema12" title="Teema12" data-username="Teema12" class="user-follow-user"><img src="http://storify.com/public/img/default.avatar.png"/><div class="clear"></div></a></li><li><a href="/NYCcyn" title="NYCcyn" data-username="NYCcyn" class="user-follow-user"><img src="http://a3.twimg.com/profile_images/75855498/cyn2_reasonably_small.jpg"/><div class="clear"></div></a></li><li><a href="/jaz1972" title="jaz1972" data-username="jaz1972" class="user-follow-user"><img src="http://graph.facebook.com/jaz1972/picture"/><div class="clear"></div></a></li><li><a href="/GoodMenProject" title="GoodMenProject" data-username="GoodMenProject" class="user-follow-user"><img src="https://api.twitter.com/1/users/profile_image/goodmenproject?size=bigger"/><div class="clear"></div></a></li><div class="clear"></div></ul><div class="clear"></div><!-- Subscribed to--><div class="sidebar-title">Subscribed to<!--a(href= '#') View all--><div class="user-following-count right">10</div></div><ul class="user-following"><li><a href="/xdamman" title="xdamman" data-username="xdamman" class="user-follow-user"><img src="https://api.twitter.com/1/users/profile_image/xdamman?size=bigger"/><div class="clear"></div></a></li><li><a href="/burtherman" title="burtherman" data-username="burtherman" class="user-follow-user"><img src="http://a1.twimg.com/profile_images/67612383/XWS147_normal.jpg"/><div class="clear"></div></a></li><li><a href="/storify" title="storify" data-username="storify" class="user-follow-user"><img src="https://api.twitter.com/1/users/profile_image/storify?size=bigger"/><div class="clear"></div></a></li><li><a href="/tcarmody" title="tcarmody" data-username="tcarmody" class="user-follow-user"><img src="http://a1.twimg.com/profile_images/1557530370/Twitter-Beard_normal.jpg"/><div class="clear"></div></a></li><li><a href="/matthewherper" title="matthewherper" data-username="matthewherper" class="user-follow-user"><img src="http://a3.twimg.com/profile_images/249031463/herperhead_reasonably_small.jpg"/><div class="clear"></div></a></li><li><a href="/NYCcyn" title="NYCcyn" data-username="NYCcyn" class="user-follow-user"><img src="http://a3.twimg.com/profile_images/75855498/cyn2_reasonably_small.jpg"/><div class="clear"></div></a></li><div class="clear"></div></ul><div class="clear"></div></div><!-- Story total views/embeds--><div class="sidebar-title story-total-views">Total views<div class="right">124</div><div class="icon"></div></div><ul class="sidebar-list story-embeds"><li class="story-stat"><a href="http://storify.com/zseward/at-wsj-s-most-retweeted-tweets-of-2011" target="_blank">storify.com</a><div class="right">122</div></li><li class="story-stat"><i>other</i><div class="right">2</div></li></ul></div><!-- Related stories--><div id="related-author-stories"><div id="related-stories"><h2>Related stories</h2></div><div id="author-stories"><h2>More from <a href="/zseward">zseward</a></h2></div></div></div><div class="clear"></div></div><div id="publish-modal" class="modal"><div class="modal-content"><div class="modal-head"><h1>Export to External Sites </h1><div class="close-x"></div></div><div class="modal-body"><div id="publish-modal-body"><h2>Add a Site</h2><span>Click on the service your site is using</span><div id="add-sites"><button data-service="wordpress" title="Wordpress (self-hosted)" class="cancel"><span><img src="/public/img/sources/wordpress-24px.png"/></span></button><button data-service="wordpresscom" title="Wordpress.com" class="cancel"><span><img src="/public/img/sources/wordpresscom-24px.png"/></span></button><button data-service="tumblr" title="Tumblr" class="cancel"><span><img src="/public/img/sources/tumblr-24px.png"/></span></button><button data-service="drupal" title="Drupal" class="cancel"><span><img src="/public/img/sources/drupal-24px.png"/></span></button><button data-service="posterous" title="Posterous" class="cancel"><span><img src="/public/img/sources/posterous-24px.png"/></span></button><button data-service="mailchimp" title="Mailchimp" class="cancel"><span><img src="/public/img/sources/mailchimp-24px.png"/></span></button></div><br/><h2>Sites </h2><span>Select the sites the story will be exported to</span><ul id="user-sites"></ul><button id="publish-modal-submit" class="accept right"><span>Export</span></button><div class="clear"></div></div></div></div></div><div id="notify-modal" class="modal"><div class="modal-content"><div class="modal-head"><h1>Share &amp; notify</h1><div class="close-x"></div></div><div class="modal-body"><div id="notify-modal-body"><div id="notify-share"><h2>Share</h2><div class="label-count"><label for="share-message">It's time to spread the word</label><div id="share-message-count" class="count">140</div></div><textarea id="share-message" placeholder="Enter message here..." maxlength="140">Read my @Storify story: "@WSJ's most-retweeted tweets of 2011" http://sfy.co/SPU #storify</textarea><div class="services"><label class="twitter"><input id="share-twitter" type="checkbox"/><span>Twitter</span></label><label class="facebook"><input id="share-facebook" type="checkbox"/><span>Facebook</span></label></div></div><div id="notify-notify"><h2>Notify</h2><div class="label-count"><label for="notify-tweet">Tell people that their voices were heard, help your story go viral</label><div id="notify-tweet-count" class="count">140</div></div><textarea id="notify-tweet" placeholder="Enter tweet here...">You've been quoted in my @Storify story: "@WSJ's most-retweeted tweets of 2011" http://sfy.co/SPU</textarea><div class="people"><div data-json="%7B%22username%22%3A%22WSJ%22%2C%22name%22%3A%22Wall%20Street%20Journal%22%2C%22avatar%22%3A%22http%3A%2F%2Fa2.twimg.com%2Fprofile_images%2F1702671908%2FWSJ-twitter-logo_normal%22%2C%22source%22%3A%22twitter%22%2C%22notified_at%22%3Anull%7D" class="person active"><img src="http://a2.twimg.com/profile_images/1702671908/WSJ-twitter-logo_normal" width="45" height="45"/><i></i></div></div></div><div class="buttons"><div class="skip"><a href="#">Skip</a></div><button id="publicize" class="accept"><span>Publicize</span></button></div><div class="clear"></div></div></div></div></div><div id="share-element-modal" class="modal"><div class="modal-content"><div class="modal-head"><div class="close-x"></div></div><div class="modal-body"><div class="shared-element"></div><div class="shared-element-buttons"><div class="clear"></div></div><div class="full-story"><p><a href="#" class="close">Close this window</a> to read the full story in which this element is included.
</p></div><div class="clear"></div></div></div></div><!--!= partial('story/_share')--><script>$(function() {

  s.page = new s.pages.Story();
  s.profile = new s.pages.Profile();

});
</script></div><div id="foot" class="fixed"><div class="social"><iframe src="http://www.facebook.com/plugins/like.php?app_id=257928110893243&amp;href=http%3A%2F%2Ffacebook.com%2Fstorify&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe><a href="https://twitter.com/storify" class="twitter-follow-button">Follow @storify</a><script src="//platform.twitter.com/widgets.js" type="text/javascript"></script></div><div class="links"><a href="/tour">Guided tour</a><a href="/tos">Terms</a><a href="/privacy">Privacy</a><a href="http://dev.storify.com">API</a><a href="/about">About</a><a href="/about#team">Team</a><a href="/about#jobs">Jobs</a><a href="http://blog.storify.com">Blog</a><a href="/about">Contact</a><span>© 2012 Storify</span></div><div class="clear"></div></div></div><div id="page-overlay"></div><div id="login" class="modal"><div class="modal-content"><div class="modal-head"><h1>Login to Storify</h1><div class="close-x"></div></div><div class="modal-body"><div class="identities"><div class="identity"><button class="twitter"><span><em>Login with</em> Twitter
</span></button></div><div class="identity"><button class="facebook"><span><em>Login with</em> Facebook
</span></button></div><div class="clear"></div></div><form class="form"><label for="login-username">Username / Email</label><input id="login-username" type="text" name="username"/><label for="login-password">Password<a id="forgot-my-password" class="right">Recover my password</a></label><input id="login-password" type="password" name="password"/><br/><input id="login-stay" type="checkbox" name="stay" checked="true" class="left"/><label for="login-stay" class="left small">Stay logged in</label><button id="login-submit" class="submit"><span>Login</span></button><div class="clear"></div></form><div class="switch-context"><h2>Don't have a Storify account?</h2><span class="text">Sign up, and tell your story using social media.</span><button class="switch accept"><span>Sign up</span></button></div><div class="clear"></div></div></div></div><div id="signup" class="modal"><div class="modal-content"><div class="modal-head"><h1>Create an account</h1><div class="close-x"></div></div><div class="modal-body"><div class="identities"><div class="identity"><button class="facebook"><span><em>Sign up</em> with Facebook
</span></button></div><div class="identity"><button class="twitter"><span><em>Sign up</em> with Twitter
</span></button></div><div class="clear"></div></div><div class="no-twitter"><a href="#">I don't have a Twitter or a Facebook account.</a><div class="clear"></div></div><form class="form"><label for="signup-username">Username</label><input id="signup-username" type="text" name="username" maxlength="15"/><label for="signup-email">Email</label><input id="signup-email" type="text" name="email"/><label for="signup-password">Password</label><input id="signup-password" type="password" name="password"/><br/><input id="signup-agree" type="checkbox" name="agree" class="left"/><label for="signup-agree" class="left small">I agree to the <a href="/tos" target="_blank">terms of service</a></label><button id="signup-submit" class="accept"><span>Sign up</span></button><div class="clear"></div></form><div class="clear"></div></div></div></div><div id="forgot-password" class="modal"><div class="modal-content"><div class="modal-head"><h1>Reset/Create your password</h1><div class="close-x"></div></div><div class="modal-body"><form class="form"><p>Enter your email address or username to reset or create a new Storify password.</p><input id="forgot-password-email" type="text" name="email"/><br/><button id="forgot-password-submit" class="submit"><span>Submit</span></button><div class="clear"></div></form><div class="clear"></div></div></div></div><div id="delete-user-modal" class="modal"><div class="modal-content"><div class="modal-head"><h1>Are you sure?</h1><div class="close-x"></div></div><div class="modal-body modal-padding"><p>Are you sure you want to delete your account?<br/> 
<strong>You'll lose everything, forever!</strong></p><div class="right"><button id="delete-user-cancel" class="cancel"><span>Of course not!</span></button><button id="delete-user-button" class="decline"><span>Yes, delete it!</span></button></div><div class="clear"></div></div></div></div><div id="delete-story-modal" class="modal"><div class="modal-content"><div class="modal-head"><h1>Are you sure?</h1><div class="close-x"></div></div><div class="modal-body modal-padding"><p>Are you sure you want to delete this story?</p><div class="right"><button id="delete-story-cancel" class="cancel"><span>No, cancel</span></button><button id="delete-story-button" class="decline"><span>Yes, delete it!</span></button></div><div class="clear"></div></div></div></div><div id="feature-story-modal" class="modal"><div class="modal-content"><div class="modal-head"><h1>Feature story</h1><div class="close-x"></div></div><div class="modal-body"><div id="feature-story-images"></div><div id="feature-story-main"></div><div class="right"><button id="feature-story-cancel" class="cancel"><span>Cancel </span></button><button id="feature-story-button" class="accept"><span>Feature</span></button></div><div class="clear"></div></div></div></div></body></html>