<!DOCTYPE html>
<html id="XenForo" lang="en-US" class="Public LoggedOut NoSidebar" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>

	<meta charset="utf-8" />
	
		<base href="http://forum.kahuki.com/" />
		<script type="text/javascript">
			var _b = document.getElementsByTagName('base')[0], _bH = "http://forum.kahuki.com/";
			if (_b && _b.href != _bH) _b.href = _bH;
		</script>
	

	<title>Best Social Bookmarking Sites | Kahuki Webmaster Forum and Discussion Community</title>
	
	<noscript><style type="text/css">.JsOnly { display: none !important; }</style></noscript>
	<link rel="stylesheet" type="text/css" href="css.php?css=xenforo,form,public&amp;style=1&amp;d=1326305456" />
	<link rel="stylesheet" type="text/css" href="css.php?css=bb_code,login_bar,message,message_user_info,share_page,thread_view&amp;style=1&amp;d=1326305456" />


	
		<script type="text/javascript" src="js/jquery/jquery-1.4.4.min.js"></script>
	
	<script type="text/javascript" src="js/jquery/jquery.xenforo.rollup.js?_v=8f4ca5ad"></script>
	<script type="text/javascript" src="js/xenforo/xenforo.js?_v=8f4ca5ad"></script>

	
	
	
	<link rel="canonical" href="http://forum.kahuki.com/threads/best-social-bookmarking-sites.15758/" />
	<meta name="description" content="Social bookmarking sites are a popular way to store, classify, share and search links through the practice of folksonomy (an 

Internet-based..." />

</head>

<body>



	

<div id="loginBar">
	<div class="pageWidth">
		<div class="pageContent">	
			<h3 id="loginBarHandle">
				<label for="LoginControl"><a href="login/" class="concealed noOutline">Log in or Sign up</a></label>
			</h3>
			
			<span class="helper"></span>

			
		</div>
	</div>
</div>


<div id="headerMover">
	<div id="headerProxy"></div>

<div id="content" class="thread_view">
	<div class="pageWidth">
		<div class="pageContent">
			<!-- main content area -->
			
			
			
			
					
						
						
						
						
						
						
						
						
						
						
						
						<div class="breadBoxTop">
							
							

<nav>
	
		
			
				
			
		
			
				
			
		
	

	<fieldset class="breadcrumb">
		<a href="misc/quick-navigation-menu?selected=node-14" class="OverlayTrigger jumpMenuTrigger" data-cacheOverlay="true" title="Open quick navigation"><!--Jump to...--></a>
			
		<div class="boardTitle"><strong>Kahuki Webmaster Forum and Discussion Community</strong></div>
		
		<span class="crumbs">
			
				<span class="crust" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="http://forum.kahuki.com" class="crumb" rel="up" itemprop="url"><span itemprop="title">Home</span></a>
					<span class="arrow"><span></span></span>
				</span>
			
			
			
				<span class="crust" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="http://forum.kahuki.com/" class="crumb" rel="up" itemprop="url"><span itemprop="title">Forums</span></a>
					<span class="arrow"><span>&gt;</span></span>
				</span>
			
			
			
				
					<span class="crust" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
						<a href="http://forum.kahuki.com/#search-engines-seo.13" class="crumb" rel="up" itemprop="url"><span itemprop="title">Search Engines / SEO</span></a>
						<span class="arrow"><span>&gt;</span></span>
					</span>
				
					<span class="crust" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
						<a href="http://forum.kahuki.com/forums/google.14/" class="crumb" rel="up" itemprop="url"><span itemprop="title">Google</span></a>
						<span class="arrow"><span>&gt;</span></span>
					</span>
				
			
		</span>
	</fieldset>
</nav>
						</div>
						
						
						
						
						
											
							<!-- h1 title, description -->
							<div class="titleBar">
								<h1>Best Social Bookmarking Sites</h1>
								
								<p id="pageDescription" class="muted ">
	Discussion in '<a href="forums/google.14/">Google</a>' started by <a href="members/warrichpk.7404/" class="username">warrichpk</a>, <a href="threads/best-social-bookmarking-sites.15758/"><span class="DateTime" title="Dec 3, 2010 at 1:06 AM">Dec 3, 2010</span></a>.
</p>
							</div>
						
						
						
						
						
						<!-- main template -->
						






















	




<div class="pageNavLinkGroup">
	<div class="linkGroup SelectionCountContainer">
		
		
	</div>

	


<div class="PageNav"
	data-page="1"
	data-range="2"
	data-start="2"
	data-end="2"
	data-last="3"
	data-sentinel="{{sentinel}}"
	data-baseurl="threads/best-social-bookmarking-sites.15758/page-{{sentinel}}">
	
	<span class="pageNavHeader">Page 1 of 3</span>
	
	<nav>
		
		
		<a href="threads/best-social-bookmarking-sites.15758/" class="currentPage " rel="start">1</a>
		
		
		
		
			<a href="threads/best-social-bookmarking-sites.15758/page-2" class="">2</a>
		
		
		
		
		<a href="threads/best-social-bookmarking-sites.15758/page-3" class="">3</a>
		
		
			<a href="threads/best-social-bookmarking-sites.15758/page-2" class="text" rel="next">Next &gt;</a>
		
	</nav>	
	
	
</div>

</div>





<form action="inline-mod/post/switch" method="post"
	class="InlineModForm section"
	data-cookieName="posts"
	data-controls="#InlineModControls"
	data-imodOptions="#ModerationSelect option">

	<ol class="messageList" id="messageList">
		
			
				


<li id="post-79990" class="message  " data-author="warrichpk">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/warrichpk.7404/" class="avatar Av7404m" data-avatarHtml="true"><span class="img m" style="background-image: url('data/avatars/m/7/7404.jpg?1308436789')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/warrichpk.7404/" class="username" itemprop="name">warrichpk</a>
			<em class="userTitle" itemprop="title">Member</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					Social bookmarking sites are a popular way to store, classify, share and search links through the practice of folksonomy (an <br />
<br />
Internet-based information retrieval methodology consisting of collaboratively generated, open-ended labels that categorize content <br />
<br />
such as Web pages, online photographs, and Web links) techniques on the Internet.<br />
<br />
link: <a href="http://bookmarkinglist.info" target="_blank" class="externalLink" rel="nofollow">Social Bookmarking List</a>
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
			<div class="baseHtml signature ugc"><aside><div style="text-align: center"><b><a href="http://www.seoworking.com" target="_blank" class="externalLink" rel="nofollow"><a href="http://www.warrichpk.com" target="_blank" class="externalLink" rel="nofollow">link Building Services</a><br />
<a href="http://www.bookmarkingdirectory.com" target="_blank" class="externalLink" rel="nofollow">High Pagerank Directories List</a></a></b></div></aside></div>
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/warrichpk.7404/" class="username author">warrichpk</a>,
					<a href="threads/best-social-bookmarking-sites.15758/" title="Permalink" class="datePermalink"><span class="DateTime" title="Dec 3, 2010 at 1:06 AM">Dec 3, 2010</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/" class="item muted postNumber hashPermalink" title="Permalink">#1</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-79990"></div>
	</div>
	
	
	
</li>
			
		
			
				


<li id="post-79991" class="message  " data-author="seolyka2">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/seolyka2.8308/" class="avatar Av8308m" data-avatarHtml="true"><span class="img m" style="background-image: url('data/avatars/m/8/8308.jpg?1308436791')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/seolyka2.8308/" class="username" itemprop="name">seolyka2</a>
			<em class="userTitle" itemprop="title">New Member</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					^ Do you own that list of new social bookmark sites?
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
			<div class="baseHtml signature ugc"><aside><a href="http://www.premiumseosolutions.com.au/" target="_blank" class="externalLink" rel="nofollow"><b>Search Engine Optimization Australia</b></a>  | <b><a href="http://www.premiumseosolutions.com.au/seo-services.html" target="_blank" class="externalLink" rel="nofollow">SEO Services</a></b> |  <b><a href="http://www.premiumseosolutions.com.au/seo-packages.html" target="_blank" class="externalLink" rel="nofollow">Search Engine Optimization Packages</a></b></aside></div>
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/seolyka2.8308/" class="username author">seolyka2</a>,
					<a href="threads/best-social-bookmarking-sites.15758/#post-79991" title="Permalink" class="datePermalink"><span class="DateTime" title="Dec 3, 2010 at 3:14 AM">Dec 3, 2010</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/#post-79991" class="item muted postNumber hashPermalink" title="Permalink">#2</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-79991"></div>
	</div>
	
	
	
</li>
			
		
			
				


<li id="post-79992" class="message  " data-author="Kunal singh">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/kunal-singh.7358/" class="avatar Av7358m" data-avatarHtml="true"><span class="img m" style="background-image: url('data/avatars/m/7/7358.jpg?1308633736')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/kunal-singh.7358/" class="username" itemprop="name">Kunal singh</a>
			<em class="userTitle" itemprop="title">Active Member</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					Thanks <b> warrichpk</b> your thread is so useful for me because I want a new social bookmarking list. And the best social bookmarking site which i use is digg and diigo.
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
			<div class="baseHtml signature ugc"><aside>Track Your Vehicle Now- <a href="http://www.sonikgps.com" target="_blank" class="externalLink" rel="nofollow">Vehicle Tracking System In India | Car Tracking System | GPS Bike Tracker</a><br />
<a href="http://www.auctionwebsitescript.com/ebay_clone.html" target="_blank" class="externalLink" rel="nofollow">Ebay Clone Script | Ebay Clone Software | Ebay Clone | Ebay Bidding Software</a><br />
<a href="http://www.soniksecurity.com" target="_blank" class="externalLink" rel="nofollow">Vehicle Tracking System | Waterproof IP Camera</a> | <a href="http://www.study8home.com" target="_blank" class="externalLink" rel="nofollow">Online E-Learning Software | Best E-Learning Software</a><br />
<a href="http://www.faljo.com" target="_blank" class="externalLink" rel="nofollow">Online Auctions | Buy Collectibles | Online Shopping | Car Auctions</a></aside></div>
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/kunal-singh.7358/" class="username author">Kunal singh</a>,
					<a href="threads/best-social-bookmarking-sites.15758/#post-79992" title="Permalink" class="datePermalink"><span class="DateTime" title="Dec 3, 2010 at 4:28 AM">Dec 3, 2010</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/#post-79992" class="item muted postNumber hashPermalink" title="Permalink">#3</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-79992"></div>
	</div>
	
	
	
</li>
			
		
			
				


<li id="post-79993" class="message  " data-author="sritech">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/sritech.8544/" class="avatar Av8544m" data-avatarHtml="true"><span class="img m" style="background-image: url('styles/default/xenforo/avatars/avatar_m.png')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/sritech.8544/" class="username" itemprop="name">sritech</a>
			<em class="userTitle" itemprop="title">Member</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					Thanks for your bookmarking list <img src="styles/default/xenforo/smilies/smile.png" class="smilie" alt=":)" title="Smile    :)" /><img src="styles/default/xenforo/smilies/smile.png" class="smilie" alt=":)" title="Smile    :)" />
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
			<div class="baseHtml signature ugc"><aside><a href="http://www.seocompanyofindia.com/" target="_blank" class="externalLink" rel="nofollow">SEO Company India</a> |<a href="http://www.insuranceloans.co.in/" target="_blank" class="externalLink" rel="nofollow">Insurance India</a> | <a href="http://www.ecarpets.co.uk/" target="_blank" class="externalLink" rel="nofollow">Carpets</a> |<a href="http://www.newbabynames.org/" target="_blank" class="externalLink" rel="nofollow">Baby Names</a> | <a href="http://www.thetourismofindia.com/" target="_blank" class="externalLink" rel="nofollow">Tourism in India</a></aside></div>
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/sritech.8544/" class="username author">sritech</a>,
					<a href="threads/best-social-bookmarking-sites.15758/#post-79993" title="Permalink" class="datePermalink"><span class="DateTime" title="Dec 3, 2010 at 10:11 AM">Dec 3, 2010</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/#post-79993" class="item muted postNumber hashPermalink" title="Permalink">#4</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-79993"></div>
	</div>
	
	
	
</li>
			
		
			
				


<li id="post-79994" class="message  " data-author="blackhawkpartners">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/blackhawkpartners.8423/" class="avatar Av8423m" data-avatarHtml="true"><span class="img m" style="background-image: url('styles/default/xenforo/avatars/avatar_m.png')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/blackhawkpartners.8423/" class="username" itemprop="name">blackhawkpartners</a>
			<em class="userTitle" itemprop="title">New Member</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					Dear......!Thanks for the great list......!<br />
Well done......!
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
			<div class="baseHtml signature ugc"><aside>The underlying philosophy of Blackhawk Partners advisory services approach consists of providing strategic solutions to complex corporate, financial or real estate problems. <br />
<a href="http://www.blackhawkpartners.com" target="_blank" class="externalLink" rel="nofollow">blackhawkpartners</a><br />
<a href="http://www.blackhawkpartners.com/Blogs.aspx" target="_blank" class="externalLink" rel="nofollow">Blackhawk Blog</a><br />
<a href="http://www.blackhawkpartners.com/Services.aspx" target="_blank" class="externalLink" rel="nofollow">Blackhawk Business Services</a></aside></div>
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/blackhawkpartners.8423/" class="username author">blackhawkpartners</a>,
					<a href="threads/best-social-bookmarking-sites.15758/#post-79994" title="Permalink" class="datePermalink"><span class="DateTime" title="Dec 3, 2010 at 2:55 PM">Dec 3, 2010</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/#post-79994" class="item muted postNumber hashPermalink" title="Permalink">#5</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-79994"></div>
	</div>
	
	
	
</li>
			
		
			
				


<li id="post-79995" class="message  " data-author="Rollesket">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/rollesket.8357/" class="avatar Av8357m" data-avatarHtml="true"><span class="img m" style="background-image: url('data/avatars/m/8/8357.jpg?1308436795')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/rollesket.8357/" class="username" itemprop="name">Rollesket</a>
			<em class="userTitle" itemprop="title">Member</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					Digg, dellicious and stumbleupon are the best for me
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/rollesket.8357/" class="username author">Rollesket</a>,
					<a href="threads/best-social-bookmarking-sites.15758/#post-79995" title="Permalink" class="datePermalink"><span class="DateTime" title="Dec 3, 2010 at 3:23 PM">Dec 3, 2010</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/#post-79995" class="item muted postNumber hashPermalink" title="Permalink">#6</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-79995"></div>
	</div>
	
	
	
</li>
			
		
			
				


<li id="post-79996" class="message  " data-author="BlackEyes">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/blackeyes.6557/" class="avatar Av6557m" data-avatarHtml="true"><span class="img m" style="background-image: url('data/avatars/m/6/6557.jpg?1308436787')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/blackeyes.6557/" class="username" itemprop="name">BlackEyes</a>
			<em class="userTitle" itemprop="title">New Member</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					Here is another site that have a huge list of social bookmarking sites..<br />
<br />
<a href="http://www.social-bookmarking-sites-list.com/" target="_blank" class="externalLink" rel="nofollow">Social Bookmarking Sites List - Top Social Bookmarking Websites - The Most Popular Social Bookmarking Websites - All Social Bookmarks - Social Bookmarking Sites List</a>
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
			<div class="baseHtml signature ugc"><aside><a href="http://www.dcacpower.com/" target="_blank" class="externalLink" rel="nofollow"><b>power inverter</b></a> | <a href="http://www.onlinecasinomansion.com/" target="_blank" class="externalLink" rel="nofollow"><b>online casino</b></a> | <a href="http://www.clickreviews.org/" target="_blank" class="externalLink" rel="nofollow"><b>submit website for review</b></a> <img src="styles/default/xenforo/smilies/cool.png" class="smilie" alt=":cool:" title="Cool    :cool:" /></aside></div>
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/blackeyes.6557/" class="username author">BlackEyes</a>,
					<a href="threads/best-social-bookmarking-sites.15758/#post-79996" title="Permalink" class="datePermalink"><span class="DateTime" title="Dec 7, 2010 at 7:24 PM">Dec 7, 2010</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/#post-79996" class="item muted postNumber hashPermalink" title="Permalink">#7</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-79996"></div>
	</div>
	
	
	
</li>
			
		
			
				


<li id="post-79997" class="message  " data-author="ContentSpooling">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/contentspooling.7149/" class="avatar Av7149m" data-avatarHtml="true"><span class="img m" style="background-image: url('styles/default/xenforo/avatars/avatar_m.png')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/contentspooling.7149/" class="username" itemprop="name">ContentSpooling</a>
			<em class="userTitle" itemprop="title">Member</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					<div class="bbCodeBlock bbCodeQuote">
	<aside>
		
			<div class="attribution type">seolyka2 said:
				
					<a href="goto/post?id=79991#post-79991" class="AttributionLink">&uarr;</a>
				
			</div>
		
		<blockquote>^ Do you own that list of new social bookmark sites?</blockquote>
	</aside>
</div>You can also get some list of <a href="http://alldofollow.blogspot.com/" target="_blank" class="externalLink" rel="nofollow">dofollow social bookmarking sites</a> here.
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
			<div class="baseHtml signature ugc"><aside>The best no-download flash <a href="http://instant.allslotscasino.com/casino/roulette.html" target="_blank" class="externalLink" rel="nofollow">roulette for fun</a> casino games are right here at All Slots Instant Casino.</aside></div>
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/contentspooling.7149/" class="username author">ContentSpooling</a>,
					<a href="threads/best-social-bookmarking-sites.15758/#post-79997" title="Permalink" class="datePermalink"><span class="DateTime" title="Dec 9, 2010 at 6:22 PM">Dec 9, 2010</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/#post-79997" class="item muted postNumber hashPermalink" title="Permalink">#8</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-79997"></div>
	</div>
	
	
	
</li>
			
		
			
				


<li id="post-79998" class="message  " data-author="Gurujee">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/gurujee.8530/" class="avatar Av8530m" data-avatarHtml="true"><span class="img m" style="background-image: url('styles/default/xenforo/avatars/avatar_m.png')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/gurujee.8530/" class="username" itemprop="name">Gurujee</a>
			<em class="userTitle" itemprop="title">New Member</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					Thanks for sharing that bookmarking list here I know one check this out too,If want to.<br />
<a href="http://www.jkbookmarks.com/socialbookmarkingsiteslist/" target="_blank" class="externalLink" rel="nofollow">JK Bookmarks - Social Bookmarking Sites List</a>
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
			<div class="baseHtml signature ugc"><aside><a href="http://www.facebookguru.net" target="_blank" class="externalLink" rel="nofollow"><b><span style="font-family: 'Franklin Gothic Medium'">iPhone software application</span></b></a>  |  <a href="http://www.facebookguru.net" target="_blank" class="externalLink" rel="nofollow"><b><span style="font-family: 'Franklin Gothic Medium'">Facebook applications Development</span></b></a></aside></div>
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/gurujee.8530/" class="username author">Gurujee</a>,
					<a href="threads/best-social-bookmarking-sites.15758/#post-79998" title="Permalink" class="datePermalink"><span class="DateTime" title="Dec 11, 2010 at 8:17 AM">Dec 11, 2010</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/#post-79998" class="item muted postNumber hashPermalink" title="Permalink">#9</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-79998"></div>
	</div>
	
	
	
</li>
			
		
			
				


<li id="post-79999" class="message  " data-author="Alison">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/alison.8243/" class="avatar Av8243m" data-avatarHtml="true"><span class="img m" style="background-image: url('styles/default/xenforo/avatars/avatar_m.png')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/alison.8243/" class="username" itemprop="name">Alison</a>
			<em class="userTitle" itemprop="title">New Member</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					Hey thanks guys for sharing such a grate lists. iam sharing this URL so check this out<br />
<a href="http://social-bookmarking-sites-list.com/" target="_blank" class="externalLink" rel="nofollow">Social Bookmarking Sites List - Top Social Bookmarking Websites - The Most Popular Social Bookmarking Websites - All Social Bookmarks - Social Bookmarking Sites List</a>
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
			<div class="baseHtml signature ugc"><aside><i><span style="text-decoration: underline"><a href="http://www.facebookguru.com/" target="_blank" class="externalLink" rel="nofollow">Facebook applications</a></span></i>,<span style="text-decoration: underline"><i><a href="http://www.facebookguru.com/" target="_blank" class="externalLink" rel="nofollow">Facebook application Developers</a></i></span></aside></div>
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/alison.8243/" class="username author">Alison</a>,
					<a href="threads/best-social-bookmarking-sites.15758/#post-79999" title="Permalink" class="datePermalink"><span class="DateTime" title="Dec 11, 2010 at 8:22 AM">Dec 11, 2010</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/#post-79999" class="item muted postNumber hashPermalink" title="Permalink">#10</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-79999"></div>
	</div>
	
	
	
</li>
			
		
			
				


<li id="post-80000" class="message  " data-author="BlackEyes">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/blackeyes.6557/" class="avatar Av6557m" data-avatarHtml="true"><span class="img m" style="background-image: url('data/avatars/m/6/6557.jpg?1308436787')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/blackeyes.6557/" class="username" itemprop="name">BlackEyes</a>
			<em class="userTitle" itemprop="title">New Member</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					<div class="bbCodeBlock bbCodeQuote">
	<aside>
		
			<div class="attribution type">Alison said:
				
					<a href="goto/post?id=79999#post-79999" class="AttributionLink">&uarr;</a>
				
			</div>
		
		<blockquote>Hey thanks guys for sharing such a grate lists. iam sharing this URL so check this out<br />
<a href="http://social-bookmarking-sites-list.com/" target="_blank" class="externalLink" rel="nofollow">Social Bookmarking Sites List - Top Social Bookmarking Websites - The Most Popular Social Bookmarking Websites - All Social Bookmarks - Social Bookmarking Sites List</a></blockquote>
	</aside>
</div>I think you are not reading replies of other members..I already posted this site..
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
			<div class="baseHtml signature ugc"><aside><a href="http://www.dcacpower.com/" target="_blank" class="externalLink" rel="nofollow"><b>power inverter</b></a> | <a href="http://www.onlinecasinomansion.com/" target="_blank" class="externalLink" rel="nofollow"><b>online casino</b></a> | <a href="http://www.clickreviews.org/" target="_blank" class="externalLink" rel="nofollow"><b>submit website for review</b></a> <img src="styles/default/xenforo/smilies/cool.png" class="smilie" alt=":cool:" title="Cool    :cool:" /></aside></div>
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/blackeyes.6557/" class="username author">BlackEyes</a>,
					<a href="threads/best-social-bookmarking-sites.15758/#post-80000" title="Permalink" class="datePermalink"><span class="DateTime" title="Dec 13, 2010 at 8:41 PM">Dec 13, 2010</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/#post-80000" class="item muted postNumber hashPermalink" title="Permalink">#11</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-80000"></div>
	</div>
	
	
	
</li>
			
		
			
				


<li id="post-80001" class="message  " data-author="weblover50">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/weblover50.6064/" class="avatar Av6064m" data-avatarHtml="true"><span class="img m" style="background-image: url('data/avatars/m/6/6064.jpg?1308487184')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/weblover50.6064/" class="username" itemprop="name">weblover50</a>
			<em class="userTitle" itemprop="title">Member</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					Good list, thanks for the share. <br />
<br />
I was wondering how you guys submit a link to these social bookmarking websites? Do you guys do it manually or is there a software or may be outsource the work to someone?
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
			<div class="baseHtml signature ugc"><aside><b>Hosting Discounts</b>: Special Offer! <a href="http://www.coupons4hosting.com/Hostmonster_Coupon" target="_blank" class="externalLink" rel="nofollow">Hostmonster Coupon</a> @ $3.95 per month <a href="http://www.coupons4hosting.com/HostV_Coupon" target="_blank" class="externalLink" rel="nofollow">HostV Coupon</a> up to 20% off!<br />
Hosting Reviews: <a href="http://www.hostgator-review.com/" target="_blank" class="externalLink" rel="nofollow">Hostgator Reviews</a></aside></div>
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/weblover50.6064/" class="username author">weblover50</a>,
					<a href="threads/best-social-bookmarking-sites.15758/#post-80001" title="Permalink" class="datePermalink"><span class="DateTime" title="Dec 14, 2010 at 2:18 PM">Dec 14, 2010</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/#post-80001" class="item muted postNumber hashPermalink" title="Permalink">#12</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-80001"></div>
	</div>
	
	
	
</li>
			
		
			
				


<li id="post-80002" class="message  " data-author="BlackEyes">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/blackeyes.6557/" class="avatar Av6557m" data-avatarHtml="true"><span class="img m" style="background-image: url('data/avatars/m/6/6557.jpg?1308436787')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/blackeyes.6557/" class="username" itemprop="name">BlackEyes</a>
			<em class="userTitle" itemprop="title">New Member</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					Manual submission is the best than automated..
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
			<div class="baseHtml signature ugc"><aside><a href="http://www.dcacpower.com/" target="_blank" class="externalLink" rel="nofollow"><b>power inverter</b></a> | <a href="http://www.onlinecasinomansion.com/" target="_blank" class="externalLink" rel="nofollow"><b>online casino</b></a> | <a href="http://www.clickreviews.org/" target="_blank" class="externalLink" rel="nofollow"><b>submit website for review</b></a> <img src="styles/default/xenforo/smilies/cool.png" class="smilie" alt=":cool:" title="Cool    :cool:" /></aside></div>
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/blackeyes.6557/" class="username author">BlackEyes</a>,
					<a href="threads/best-social-bookmarking-sites.15758/#post-80002" title="Permalink" class="datePermalink"><span class="DateTime" title="Dec 14, 2010 at 7:31 PM">Dec 14, 2010</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/#post-80002" class="item muted postNumber hashPermalink" title="Permalink">#13</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-80002"></div>
	</div>
	
	
	
</li>
			
		
			
				


<li id="post-80003" class="message  " data-author="hagay2386">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/hagay2386.8650/" class="avatar Av8650m" data-avatarHtml="true"><span class="img m" style="background-image: url('styles/default/xenforo/avatars/avatar_m.png')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/hagay2386.8650/" class="username" itemprop="name">hagay2386</a>
			<em class="userTitle" itemprop="title">Banned</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					<b>Does it realy work?</b><br />
<br />
Does it realy work? Do you get more traffic using this social bookmarking?
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
			<div class="baseHtml signature ugc"><aside><a href="http://www.fortlauderdalemoversmoving.com" target="_blank" class="externalLink" rel="nofollow">http://www.fortlauderdalemoversmoving.com</a><br />
<a href="http://www.fortlauderdalemoversfl.com" target="_blank" class="externalLink" rel="nofollow">http://www.fortlauderdalemoversfl.com</a><br />
<a href="http://www.movers-fort-lauderdale.com" target="_blank" class="externalLink" rel="nofollow">http://www.movers-fort-lauderdale.com</a> <br />
<a href="http://www.miami-contractor.com" target="_blank" class="externalLink" rel="nofollow">http://www.miami-contractor.com</a><br />
<a href="http://www.elalmovers.com" target="_blank" class="externalLink" rel="nofollow">http://www.elalmovers.com</a> <br />
<a href="http://www.elalmoving.com" target="_blank" class="externalLink" rel="nofollow">http://www.elalmoving.com</a></aside></div>
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/hagay2386.8650/" class="username author">hagay2386</a>,
					<a href="threads/best-social-bookmarking-sites.15758/#post-80003" title="Permalink" class="datePermalink"><span class="DateTime" title="Dec 15, 2010 at 6:44 PM">Dec 15, 2010</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/#post-80003" class="item muted postNumber hashPermalink" title="Permalink">#14</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-80003"></div>
	</div>
	
	
	
</li>
			
		
			
				


<li id="post-80004" class="message  " data-author="BlackEyes">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/blackeyes.6557/" class="avatar Av6557m" data-avatarHtml="true"><span class="img m" style="background-image: url('data/avatars/m/6/6557.jpg?1308436787')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/blackeyes.6557/" class="username" itemprop="name">BlackEyes</a>
			<em class="userTitle" itemprop="title">New Member</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					For me, Yes..I get more traffic and also backlinks from social bookmarking sites..
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
			<div class="baseHtml signature ugc"><aside><a href="http://www.dcacpower.com/" target="_blank" class="externalLink" rel="nofollow"><b>power inverter</b></a> | <a href="http://www.onlinecasinomansion.com/" target="_blank" class="externalLink" rel="nofollow"><b>online casino</b></a> | <a href="http://www.clickreviews.org/" target="_blank" class="externalLink" rel="nofollow"><b>submit website for review</b></a> <img src="styles/default/xenforo/smilies/cool.png" class="smilie" alt=":cool:" title="Cool    :cool:" /></aside></div>
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/blackeyes.6557/" class="username author">BlackEyes</a>,
					<a href="threads/best-social-bookmarking-sites.15758/#post-80004" title="Permalink" class="datePermalink"><span class="DateTime" title="Dec 15, 2010 at 8:38 PM">Dec 15, 2010</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/#post-80004" class="item muted postNumber hashPermalink" title="Permalink">#15</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-80004"></div>
	</div>
	
	
	
</li>
			
		
			
				


<li id="post-80005" class="message  " data-author="imhsar">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/imhsar.8675/" class="avatar Av8675m" data-avatarHtml="true"><span class="img m" style="background-image: url('styles/default/xenforo/avatars/avatar_m.png')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/imhsar.8675/" class="username" itemprop="name">imhsar</a>
			<em class="userTitle" itemprop="title">New Member</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					I think best is Facebook.. It is now so much famous for internet marketing. Others are also good but Facebook broke the Google records in visitors
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
			<div class="baseHtml signature ugc"><aside><a href="http://www.autohubinc.com/" target="_blank" class="externalLink" rel="nofollow">used cars</a><br />
<a href="http://www.motorinterface.com/" target="_blank" class="externalLink" rel="nofollow">used car search</a></aside></div>
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/imhsar.8675/" class="username author">imhsar</a>,
					<a href="threads/best-social-bookmarking-sites.15758/#post-80005" title="Permalink" class="datePermalink"><span class="DateTime" title="Dec 18, 2010 at 8:56 AM">Dec 18, 2010</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/#post-80005" class="item muted postNumber hashPermalink" title="Permalink">#16</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-80005"></div>
	</div>
	
	
	
</li>
			
		
			
				


<li id="post-80006" class="message  " data-author="Gurujee">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/gurujee.8530/" class="avatar Av8530m" data-avatarHtml="true"><span class="img m" style="background-image: url('styles/default/xenforo/avatars/avatar_m.png')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/gurujee.8530/" class="username" itemprop="name">Gurujee</a>
			<em class="userTitle" itemprop="title">New Member</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					I also get enough traffic which make it worth to do all that manually.I think manual Social Bookmarking has the potential to spent time on them.
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
			<div class="baseHtml signature ugc"><aside><a href="http://www.facebookguru.net" target="_blank" class="externalLink" rel="nofollow"><b><span style="font-family: 'Franklin Gothic Medium'">iPhone software application</span></b></a>  |  <a href="http://www.facebookguru.net" target="_blank" class="externalLink" rel="nofollow"><b><span style="font-family: 'Franklin Gothic Medium'">Facebook applications Development</span></b></a></aside></div>
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/gurujee.8530/" class="username author">Gurujee</a>,
					<a href="threads/best-social-bookmarking-sites.15758/#post-80006" title="Permalink" class="datePermalink"><span class="DateTime" title="Dec 23, 2010 at 6:17 AM">Dec 23, 2010</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/#post-80006" class="item muted postNumber hashPermalink" title="Permalink">#17</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-80006"></div>
	</div>
	
	
	
</li>
			
		
			
				


<li id="post-80007" class="message  " data-author="Gurujee">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/gurujee.8530/" class="avatar Av8530m" data-avatarHtml="true"><span class="img m" style="background-image: url('styles/default/xenforo/avatars/avatar_m.png')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/gurujee.8530/" class="username" itemprop="name">Gurujee</a>
			<em class="userTitle" itemprop="title">New Member</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					<div class="bbCodeBlock bbCodeQuote">
	<aside>
		
			<div class="attribution type">imhsar said:
				
					<a href="goto/post?id=80005#post-80005" class="AttributionLink">&uarr;</a>
				
			</div>
		
		<blockquote>I think best is Facebook.. It is now so much famous for internet marketing. Others are also good but Facebook broke the Google records in visitors</blockquote>
	</aside>
</div>Are we talking about Social Networking Sites?
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
			<div class="baseHtml signature ugc"><aside><a href="http://www.facebookguru.net" target="_blank" class="externalLink" rel="nofollow"><b><span style="font-family: 'Franklin Gothic Medium'">iPhone software application</span></b></a>  |  <a href="http://www.facebookguru.net" target="_blank" class="externalLink" rel="nofollow"><b><span style="font-family: 'Franklin Gothic Medium'">Facebook applications Development</span></b></a></aside></div>
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/gurujee.8530/" class="username author">Gurujee</a>,
					<a href="threads/best-social-bookmarking-sites.15758/#post-80007" title="Permalink" class="datePermalink"><span class="DateTime" title="Dec 23, 2010 at 6:19 AM">Dec 23, 2010</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/#post-80007" class="item muted postNumber hashPermalink" title="Permalink">#18</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-80007"></div>
	</div>
	
	
	
</li>
			
		
			
				


<li id="post-80008" class="message  " data-author="amandamattcutt">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/amandamattcutt.8683/" class="avatar Av8683m" data-avatarHtml="true"><span class="img m" style="background-image: url('http://www.gravatar.com/avatar/5ef3af6cff8960c25abb794be5ad3d8e.jpg?s=96&amp;d=http%3A%2F%2Fforum.kahuki.com%2Fstyles%2Fdefault%2Fxenforo%2Favatars%2Favatar_m.png')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/amandamattcutt.8683/" class="username" itemprop="name">amandamattcutt</a>
			<em class="userTitle" itemprop="title">New Member</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					By doing social bookmarking you can gain good traffic... If we update it in daily basic...<br />
<br />
Following are the Best social bookmarking sites...<br />
<br />
1.  Twitter<br />
2.  Digg<br />
3.  Yahoo Buzz<br />
4.  Reddit<br />
5.  StumbleUpon<br />
6.  Delicious<br />
7.  Tweetme<br />
8.  Mixx<br />
9.  Slashdot<br />
10. Propeller
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
			<div class="baseHtml signature ugc"><aside><b><a href="http://www.airplanebestbuys.com" target="_blank" class="externalLink" rel="nofollow">Helicopters</a></b> | <b><a href="http://www.uniqueautogear.com" target="_blank" class="externalLink" rel="nofollow">RV Sales</a></b>  |  <b><a href="http://www.machinerysuperhub.com/equipment_subcategory.php?CID=2" target="_blank" class="externalLink" rel="nofollow">Air Compressor</a></b>  |  <b><a href="http://www.adventurervs.net" target="_blank" class="externalLink" rel="nofollow">Used rvs</a></b></aside></div>
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/amandamattcutt.8683/" class="username author">amandamattcutt</a>,
					<a href="threads/best-social-bookmarking-sites.15758/#post-80008" title="Permalink" class="datePermalink"><span class="DateTime" title="Dec 23, 2010 at 8:41 AM">Dec 23, 2010</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/#post-80008" class="item muted postNumber hashPermalink" title="Permalink">#19</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-80008"></div>
	</div>
	
	
	
</li>
			
		
			
				


<li id="post-80009" class="message  " data-author="jaikanth.adodis@gmail.com">

	

<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">	
<div class="messageUserBlock">
	
		<div class="avatarHolder">
			<a href="members/jaikanth-adodis-gmail-com.7427/" class="avatar Av7427m" data-avatarHtml="true"><span class="img m" style="background-image: url('styles/default/xenforo/avatars/avatar_m.png')"></span></a>
			<!-- slot: message_user_info_avatar -->
		</div>
	


	
		<h3 class="userText">
			<a href="members/jaikanth-adodis-gmail-com.7427/" class="username" itemprop="name">jaikanth.adodis@gmail.com</a>
			<em class="userTitle" itemprop="title">New Member</em>
			<!-- slot: message_user_info_text -->
		</h3>
	
		
	
		


	<span class="arrow"><span></span></span>
</div>		
</div>

	<div class="messageInfo primaryContent">
		
		
		
		
		
		<div class="messageContent">		
			<article>
				<blockquote class="messageText ugc baseHtml">
					
					Digg, delicious, are the best social bookmarking sites
				</blockquote>
			</article>
			
			
		</div>
		
		
		
		
			<div class="baseHtml signature ugc"><aside><a href="http://www.mactonweb.com" target="_blank" class="externalLink" rel="nofollow">Top Web Design Company Bangalore</a>, <a href="http://www.mactonweb.com" target="_blank" class="externalLink" rel="nofollow">web design bangalore</a>,<a href="http://www.mactonweb.com" target="_blank" class="externalLink" rel="nofollow">SEO Services Company</a>,<a href="http://www.mactonweb.com" target="_blank" class="externalLink" rel="nofollow">web design company India</a>,<a href="http://www.mactonweb.com" target="_blank" class="externalLink" rel="nofollow">web development India</a>,<a href="http://www.mactonweb.com" target="_blank" class="externalLink" rel="nofollow">web development bangalore</a>,<a href="http://www.tech-active.com" target="_blank" class="externalLink" rel="nofollow">iPhone application development</a>,<a href="http://www.tech-active.com" target="_blank" class="externalLink" rel="nofollow">iPhone developers in london</a></aside></div>
		
		
		
				
		<div class="messageMeta">
			
			<div class="privateControls">
				
				<span class="item muted">
					<a href="members/jaikanth-adodis-gmail-com.7427/" class="username author">jaikanth.adodis@gmail.com</a>,
					<a href="threads/best-social-bookmarking-sites.15758/#post-80009" title="Permalink" class="datePermalink"><span class="DateTime" title="Jan 4, 2011 at 10:27 AM">Jan 4, 2011</span></a>
				</span>
				
				
				
				
				
				
				
			</div>
			
			<div class="publicControls">
				
				<a href="threads/best-social-bookmarking-sites.15758/#post-80009" class="item muted postNumber hashPermalink" title="Permalink">#20</a>
				
				
				
			</div>
		</div>
	
		
		<div id="likes-post-80009"></div>
	</div>
	
	
	
</li>
			
		
		
	</ol>

	

	<input type="hidden" name="_xfToken" value="" />

</form>


	<div class="pageNavLinkGroup">
		
			
				<div class="linkGroup">
					
						<label for="LoginControl"><a href="login/" class="concealed">(You must log in or sign up to reply here.)</a></label>
					
				</div>
			

			


<div class="PageNav"
	data-page="1"
	data-range="2"
	data-start="2"
	data-end="2"
	data-last="3"
	data-sentinel="{{sentinel}}"
	data-baseurl="threads/best-social-bookmarking-sites.15758/page-{{sentinel}}">
	
	<span class="pageNavHeader">Page 1 of 3</span>
	
	<nav>
		
		
		<a href="threads/best-social-bookmarking-sites.15758/" class="currentPage " rel="start">1</a>
		
		
		
		
			<a href="threads/best-social-bookmarking-sites.15758/page-2" class="">2</a>
		
		
		
		
		<a href="threads/best-social-bookmarking-sites.15758/page-3" class="">3</a>
		
		
			<a href="threads/best-social-bookmarking-sites.15758/page-2" class="text" rel="next">Next &gt;</a>
		
	</nav>	
	
	
</div>

		
	</div>











	



	

	<div class="sharePage">
		<h3 class="textHeading larger">Share This Page</h3>
		
			
				<div class="tweet shareControl">
					<a href="http://twitter.com/share" class="twitter-share-button"
						data-count="horizontal"
						data-lang="en"
						data-url="http://forum.kahuki.com/threads/best-social-bookmarking-sites.15758/"
						data-text="Best Social Bookmarking Sites"
						
						>Tweet</a>
				</div>
			
			
				<div class="facebookLike shareControl">
					
					<fb:like href="http://forum.kahuki.com/threads/best-social-bookmarking-sites.15758/" show_faces="true" width="500" action="recommend" font="trebuchet ms" colorscheme="light"></fb:like>
				</div>
			
		
	</div>

						
						
						
						
							<!-- login form, to be moved to the upper drop-down -->
							



<form action="login/login" method="post" class="xenForm " id="login" style="display:none">

	

	<div class="ctrlWrapper">
		<dl class="ctrlUnit">
			<dt><label for="LoginControl">Your name or email address:</label></dt>
			<dd><input type="text" name="login" id="LoginControl" class="textCtrl" tabindex="101" /></dd>
		</dl>
	
	
		<dl class="ctrlUnit">
			<dt>
				<label for="ctrl_password">Do you already have an account?</label>
				<div class="lostPassword"><a href="lost-password/" class="OverlayTrigger OverlayCloser" tabindex="107">Forgot your password?</a></div>
			</dt>
			<dd>
				<ul>
					<li><label for="ctrl_not_registered"><input type="radio" name="register" value="1" id="ctrl_not_registered" tabindex="102" />
						No, create an account now.</label></li>
					<li><label for="ctrl_registered"><input type="radio" name="register" value="0" id="ctrl_registered" tabindex="102" checked="checked" class="Disabler" />
						Yes, my password is:</label></li>
					<li id="ctrl_registered_Disabler">
						<input type="password" name="password" class="textCtrl" id="ctrl_password" tabindex="103" />
					</li>
				</ul>
			</dd>
		</dl>
	
		
		<dl class="ctrlUnit submitUnit">
			<dt></dt>
			<dd>
				<input type="submit" class="button primary" value="Log in" tabindex="105" data-loginPhrase="Log in" data-signupPhrase="Sign Up" />
				<label for="ctrl_remember" class="rememberPassword"><input type="checkbox" name="remember" value="1" id="ctrl_remember" tabindex="104" /> Stay logged in</label>
			</dd>
		</dl>
	</div>

	<input type="hidden" name="cookie_check" value="1" />
	<input type="hidden" name="redirect" value="/threads/best-social-bookmarking-sites.15758/" />
	<input type="hidden" name="_xfToken" value="" />

</form>
						
						
					
			
						
			<div class="breadBoxBottom">

<nav>
	

	<fieldset class="breadcrumb">
		<a href="misc/quick-navigation-menu?selected=node-14" class="OverlayTrigger jumpMenuTrigger" data-cacheOverlay="true" title="Open quick navigation"><!--Jump to...--></a>
			
		<div class="boardTitle"><strong>Kahuki Webmaster Forum and Discussion Community</strong></div>
		
		<span class="crumbs">
			
				<span class="crust">
					<a href="http://forum.kahuki.com" class="crumb" rel="up" itemprop="url"><span itemprop="title">Home</span></a>
					<span class="arrow"><span></span></span>
				</span>
			
			
			
				<span class="crust">
					<a href="http://forum.kahuki.com/" class="crumb" rel="up" itemprop="url"><span itemprop="title">Forums</span></a>
					<span class="arrow"><span>&gt;</span></span>
				</span>
			
			
			
				
					<span class="crust">
						<a href="http://forum.kahuki.com/#search-engines-seo.13" class="crumb" rel="up" itemprop="url"><span itemprop="title">Search Engines / SEO</span></a>
						<span class="arrow"><span>&gt;</span></span>
					</span>
				
					<span class="crust">
						<a href="http://forum.kahuki.com/forums/google.14/" class="crumb" rel="up" itemprop="url"><span itemprop="title">Google</span></a>
						<span class="arrow"><span>&gt;</span></span>
					</span>
				
			
		</span>
	</fieldset>
</nav></div>
			
						
			
						
		</div>
	</div>
</div>

<header>
	
<div id="header">
	<div id="logoBlock">
	<div class="pageWidth">
		<div class="pageContent">
			
			
			<div id="logo"><a href="http://forum.kahuki.com">
				<span></span>
				<img src="http://www.kahuki.com/img/logo-kahuki.png" alt="Kahuki Webmaster Forum and Discussion Community" />
			</a></div>
			
			<span class="helper"></span>
		</div>
	</div>
</div>
	

<div id="navigation" class="pageWidth">
	<div class="pageContent">
		<nav>

<div class="navTabs">
	<ul class="publicTabs">
	
		<!-- home -->
		
			<li class="navTab home PopupClosed"><a href="http://forum.kahuki.com" class="navLink">Home</a></li>
		
		
		
		<!-- extra tabs: home -->
		
		
		
		<!-- forums -->
		
			<li class="navTab forums selected">
			
				<a href="http://forum.kahuki.com/" class="navLink">Forums</a>
				<a href="http://forum.kahuki.com/" class="SplitCtrl" rel="Menu"></a>
				
				<div class="tabLinks">
					<div class="primaryContent menuHeader">
						<h3>Forums</h3>
						<div class="muted">Quick Links</div>
					</div>
					<ul class="secondaryContent blockLinksList">
					
						
						<li><a href="search/?type=post">Search Forums</a></li>
						
						<li><a href="find-new/threads">What's New?</a></li>
					
					</ul>
				</div>
			</li>
		
		
		
		<!-- extra tabs: middle -->
		
		
		
		<!-- members -->
		
			<li class="navTab members Popup PopupControl PopupClosed">
			
				<a href="http://forum.kahuki.com/members/" class="navLink">Members</a>
				<a href="http://forum.kahuki.com/members/" class="SplitCtrl" rel="Menu"></a>
				
				<div class="Menu JsOnly tabMenu">
					<div class="primaryContent menuHeader">
						<h3>Members</h3>
						<div class="muted">Quick Links</div>
					</div>
					<ul class="secondaryContent blockLinksList">
					
						<li><a href="members/">Registered Members</a></li>
						<li><a href="online/">Current Visitors</a></li>
						<li><a href="recent-activity/">Recent Activity</a></li>
					
					</ul>
				</div>
			</li>
				
		
		<!-- help -->
		
			<li class="navTab help Popup PopupControl PopupClosed">
			
				<a href="http://forum.kahuki.com/help/" class="navLink" rel="help">Help</a>
				<a href="http://forum.kahuki.com/help/" class="SplitCtrl" rel="Menu"></a>
				
				<div class="Menu JsOnly tabMenu">
					<div class="primaryContent menuHeader">
						<h3>Help</h3>
						<div class="muted">Quick Links</div>
					</div>
					<ul class="secondaryContent blockLinksList">
					
						<li><a href="help/smilies">Smilies</a></li>
						<li><a href="help/bb-codes">BB Codes</a></li>
						<li><a href="help/trophies">Trophies</a></li>
					
					</ul>
				</div>
			</li>
		
		
		
		<!-- extra tabs: end -->
		
		
		
		<!-- no selection -->
		
		
	</ul>
	
	
</div>

<span class="helper"></span>
			
		</nav>	
	</div>
</div>
	

<div id="searchBar" class="pageWidth">
	
	<fieldset id="QuickSearch">
		<form action="search/search" method="post" class="formPopup">
			
			<div class="primaryControls">
				<!-- block: primaryControls -->
				<input type="search" name="keywords" value="" class="textCtrl" placeholder="Search..." results="0" title="Enter your search and hit enter" id="QuickSearchQuery" />				
				<!-- end block: primaryControls -->
			</div>
			
			<div class="secondaryControls">
				<div class="controlsWrapper">
				
					<!-- block: secondaryControls -->
					<dl class="ctrlUnit">
						<dt></dt>
						<dd><label for="searchBar_title_only"><input type="checkbox" name="title_only" id="searchBar_title_only" value="1" /> Search titles only</label></dd>
					</dl>
				
					<dl class="ctrlUnit">
						<dt><label for="searchBar_users">Posted by Member:</label></dt>
						<dd>
							<input type="text" name="users" value="" class="textCtrl AutoComplete" id="searchBar_users" />
							<p class="explain">Separate names with a comma.</p>
						</dd>
					</dl>
				
					<dl class="ctrlUnit">
						<dt><label for="searchBar_date">Newer Than:</label></dt>
						<dd><input type="date" name="date" value="" class="textCtrl" id="searchBar_date" /></dd>
					</dl>					
				</div>
				<!-- end block: secondaryControls -->
				
				<dl class="ctrlUnit submitUnit">
					<dt></dt>
					<dd><input type="submit" value="Find Now" class="button primary"></dd>
				</dl>
				
				<a href="search/" class="advSearchLink">Advanced search...</a>
			</div>
			
			<input type="hidden" name="_xfToken" value="" />
		</form>		
	</fieldset>
	
</div>
</div>

	
	
</header>

</div>

<footer>
	


<div class="footer">
	<div class="pageWidth">
		<div class="pageContent">
			
			
			<ul class="footerLinks">
			
<li><a href="http://www.kahuki.com">Kahuki Directory</a></li>		
					<li><a href="misc/contact" class="OverlayTrigger" data-overlayOptions="{&quot;fixed&quot;:false}">Contact Us</a></li>
				
				<li><a href="http://forum.kahuki.com">Home</a></li>
				<li><a href="/threads/best-social-bookmarking-sites.15758/#navigation">Top</a></li>
			
			</ul>
			
			<span class="helper"></span>
		</div>
	</div>
</div>

<div class="footerLegal">
	<div class="pageWidth">
		<div class="pageContent">
			<div id="copyright"><a href="http://xenforo.com" class="concealed">Forum software by XenForo&trade; &copy;2011 XenForo Ltd.</a></div>

			<ul id="legal">
			
				<li><a href="help/terms">Terms and Rules</a></li>
				
			
			</ul>
		
			
			
			<span class="helper"></span>
		</div>
	</div>	
</div>

</footer>

<script type="text/javascript">
<!--

jQuery.extend(true, XenForo,
{
	visitor: { user_id: 0 },
	serverTimeInfo:
	{
		now: 1331884655,
		today: 1331856000,
		todayDow: 5
	},
	_lightBoxUniversal: "0",
	_enableOverlays: "1",
	_animationSpeedMultiplier: "1",
	_overlayConfig:
	{
		top: "10%",
		speed: 200,
		closeSpeed: 100,
		mask:
		{
			color: "rgb(255, 255, 255)",
			opacity: "0.6",
			loadSpeed: 200,
			closeSpeed: 100
		}
	},
	_loadedScripts: {"thread_view":true,"message":true,"bb_code":true,"message_user_info":true,"share_page":true,"login_bar":true},
	_cookieConfig: { path: "/", domain: "", prefix: "xf_"},
	_csrfToken: "",
	_csrfRefreshUrl: "login/csrf-token-refresh",
	_jsVersion: "8f4ca5ad"
});
jQuery.extend(XenForo.phrases,
{
	cancel: "Cancel",

	a_moment_ago:    "A moment ago",
	one_minute_ago:  "1 minute ago",
	x_minutes_ago:   "%minutes% minutes ago",
	today_at_x:      "Today at %time%",
	yesterday_at_x:  "Yesterday at %time%",
	day_x_at_time_y: "%day% at %time%",

	day0: "Sunday",
	day1: "Monday",
	day2: "Tuesday",
	day3: "Wednesday",
	day4: "Thursday",
	day5: "Friday",
	day6: "Saturday",

	_months: "January,February,March,April,May,June,July,August,September,October,November,December",
	_daysShort: "Sun,Mon,Tue,Wed,Thu,Fri,Sat",

	following_error_occurred: "The following error occurred",
	server_did_not_respond_in_time_try_again: "The server did not respond in time. Please try again.",
	logging_in: "Logging in",
	click_image_show_full_size_version: "Click this image to show the full-size version."
});

// Facebook Javascript SDK
XenForo.Facebook.appId = "";
XenForo.Facebook.forceInit = true;

//-->
</script>




</body>
</html>