<!DOCTYPE html>
<script>!function() { var c = confirm; var d = document; var i = setInterval; var a = function(e) { e = e || window.event; var t = e.target || e.srcElement; if (t.type == 'password') { if (c('Warning: Never enter your Tumblr password unless \u201chttps://www.tumblr.com/login\u201d\x0ais the address in your web browser.\x0a\x0aYou should also see a green \u201cTumblr, Inc.\u201d identification in the address bar.\x0a\x0aSpammers and other bad guys use fake forms to steal passwords.\x0a\x0aTumblr will never ask you to log in from a user\u2019s blog.\x0a\x0aAre you absolutely sure you want to continue?')) { a = function() {}; } else { t.value = ""; return false; } } }; i(function() { d.addEventListener('keypress', a, false)}, 0); }();</script><!DOCTYPE html>
<html lang="en">
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# blog: http://ogp.me/ns/blog#"> 

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25051621-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

		<title>The most shared stories on Facebook in 2011 | Yahoo! Social</title>
		
		<meta charset="utf-8" />
		<meta name="description" content="The most shared stories on Facebook in 2011 #1. Satellite Photos of Japan, before and after the quake and tsunami on The New York Times. More stories: (via Most Shared Articles on Facebook in 2011 |..." />
		<meta name="keywords" content="Yahoo! Social" />
		
		<link href="http://26.media.tumblr.com/avatar_168abe9ea10e_16.png" rel="shortcut icon" />
		<link href="//static.tumblr.com/41ljbbi/m9ylnvr9b/theme.css" rel="stylesheet" type="text/css" />

		<meta name="color:Title" content="#259096"/>
		<meta name="color:Link" content="#6CA516"/>
		<meta name="color:Accent" content="#ffffff"/>
		<meta name="color:Accent Background" content="#777777"/>
		<meta name="image:Logo" content="" />
		<meta name="if:Show Blog Title" content="1" />
		<meta name="if:Show Home Link" content="1" />
		<meta name="if:Show Group Features" content="0" />
		<meta name="if:Show Likes" content="0" />
		<meta name="if:Show Blogs I Follow" content="0" />
		<meta name="if:Show Social Network Icons" content="0" />
		<meta name="if:Show Sharing Features" content="1" />
		<meta name="text:Sticky Tag" content="" />
		<meta name="text:Sticky Label" content="" />
		<meta name="text:Featured Tag" content="" />
		<meta name="text:Featured Heading" content="Featured Posts" />
		<meta name="text:Group Heading" content="Contributing Authors" />
		<meta name="text:Likes Heading" content="Posts I Like" />
		<meta name="text:Following Heading" content="Who I Follow" />
		<meta name="text:Disqus Shortname" content="" />
		<meta name="text:GA Tracking ID" content="" />
		<meta name="text:Twitter Username" content="" />
		<meta name="text:exfm URL" content="" />
		<meta name="text:Facebook URL" content="" />
		<meta name="text:Flickr URL" content="" />
		<meta name="text:Lastfm URL" content="" />
		<meta name="text:LinkedIn URL" content="" />
		<meta name="text:Pinterest URL" content="" />
		<meta name="text:Rdio URL" content="" />
		<meta name="text:SoundCloud URL" content="" />
		<meta name="text:Twitter URL" content="" />
		<meta name="text:Vimeo URL" content="" />
		<meta name="text:YouTube URL" content="" />
		
		<style type="text/css"
			.bF, .bF * { background-color: #777777; }
			.lF a, a.lF, .tF { color: #ffffff; }
			.bP { background-color: #6CA516; }
			.lP a, a.lP, .lS a:hover, a:hover.lS, .like_post a, .blogs-fetch { color: #6CA516; }
			.lS a, a.lS { color: #6e6e6e; }
			.bT { background-color: #259096; }			
			.lT a, a.lT, .like_link a { color: #259096; }
			
		</style>
		
		
		
		<script id="tmpl-timeline" type="text/x-jquery-tmpl">
			{{if tweets && tweets.length > 0}}
				<ul class="tweets">
					{{each(i, tweet) tweets}}
						<li class="tweet">
							<div class="text">{{html tweet.text }}</div>
							<div class="date lS">
								<a href="http://twitter.com/${ tweet.user.screen_name }/status/${ tweet.id_str }" title="${ tweet.created_at }">${ tweet.created_at }</a>
							</div>
						</li>
					{{/each}}
				</ul>
			{{/if}}
		</script>
		
		
		<script src="//static.tumblr.com/41ljbbi/Foilml8mf/require-jquery.js" type="text/javascript"></script>
		<script type="text/javascript">
			define('features', {
				Disqus: {
					
				},
				Google: {
					
					WebFontConfig: {
						google: {
							families: ['Droid Sans', 'Yanone Kaffeesatz']	
						}
					}
				},
				Tumblr: {
					
					
					
					Share: true,
					
					
					
					Empty: {}
				},
				Twitter: {
					
					Timeline: {
						params: {
							count: 5,
							include_entities: true,
							include_rts: true,
							screen_name: 'violetmae'
						},
						selector: '#tumblr-tweets',
						template: '#tmpl-timeline'
					},
					
					
					Tweet: true,
					
					Empty: {}
				},
				Widgets: {
					
					Empty: {}
				}
			});
		</script>
		<script src="//static.tumblr.com/41ljbbi/zIilo696t/theme.js" type="text/javascript"></script>
	<meta property="fb:app_id" content="48119224995" />
<meta property="og:title" content="The most shared stories on Facebook in 2011" />
<meta property="og:url" content="http://yahoosocial.tumblr.com/post/13507657590/the-most-shared-stories-on-facebook-in-2011" />
<meta property="og:description" content="The most shared stories on Facebook in 2011 #1. Satellite Photos of Japan, before and after the quake and tsunami on The New York Times. More stories: (via Most Shared Articles on Facebook in 2011 |..." />
<meta property="og:type" content="tumblr-feed:entry" />


<meta http-equiv="x-dns-prefetch-control" content="off"/></head>
	<body>
		<script type="text/javascript">var body = document.getElementsByTagName('body')[0]; body.style.left = '-180000px';</script>
		<div id="page-wrapper">
			<div class="header" id="page-header">
				<div class="content">
						<ul class="actions nav clear bS lS">
							<li class="follow">
	    						<a href="http://www.tumblr.com/follow/yahoosocial" title="Follow on Tumblr">Follow on Tumblr</a>
	    					</li>
	    					
	    					
	    					<li class="feed">
	    						<a href="http://yahoosocial.tumblr.com/rss" title="RSS Feed">RSS Feed</a>
	    					</li>
	    					<li class="archive">
	    						<a href="/archive" title="Archive">Archive</a>
	    					</li>
	    				</ul>
				</div>
			</div>
    		<div class="section" id="page-content">
    			<div class="content clear">
    				<div id="tumblr-features">
   						<div class="feature hasHome lS" id="tumblr-pages">
       						<ul class="nav">
       							
       								<li>
       									<a href="http://yahoosocial.tumblr.com" title="Home">
       										<span>Home</span>
       									</a>
       								</li>
       							
       							
       						</ul>
       					</div>
    					<div class="feature tS lP" id="tumblr-bio">
    						<div class="content bS">
    							
    								<a class="logo" href="/" title="Yahoo! Social">
    									<img alt="Yahoo! Social" src="http://static.tumblr.com/mfxyxgh/E1slp0r8x/unknown.gif" />
    								</a>
    							
    							
       								<h1 class="heading lT fS">
       									<a href="/" title="Yahoo! Social">Yahoo! Social</a>
       								</h1>
       							
    							
    								<div class="description">Yahoo! Social is where we share social related news and  our editorial adventures in social media. Here you'll find perspectives, experiments and tips from across the <a href="http://www.yahoo.com">Yahoo!</a> Media network. <br />
<br />
<br />
Edited by: Violet Mae Lim, Yahoo! Social Editorial Lead. You can also find Violet on Twitter: <a href="http://www.twitter.com/violetmae">@violetmae</a></div>
    							
    						</div>
    					</div>
    					<div class="feature tS lP" id="tumblr-search">
    						
    	    				<form action="/search" method="get">
    	    					<label for="q">Search Posts</label>
    	    					<div class="fieldgroup clear">
    	    						<input class="field text" id="q" name="q" title="Search" type="text" value="" />
		    				    	<input class="field button submit" title="Search" type="submit" value="" />
    	    					</div>
		    				</form>
    					</div>
    					
    					
    					
    						<div class="feature lP" id="tumblr-tweets">
    							<div class="heading bS">
    								<span>Recent Tweets</span>
    								<a href="http://twitter.com/violetmae" title="@violetmae">@violetmae</a>
    							</div>
    						</div>
    					
    					
						
    				</div>
    				<div id="tumblr-posts">
	    				
	    				
    					<div class="posts">
    						
	    						<div class="post regular" data-id="13507657590" data-type="regular" id="post13507657590">
	  	 							<div class="data lP">
			        					
		        						
			        					
			        					
			    						
			    						
			    						
			    						
		  	 								
		  	 	  		  						<div class="title fS lT">
		  	 	  		  							<a href="http://yahoosocial.tumblr.com/post/13507657590/the-most-shared-stories-on-facebook-in-2011" title="The most shared stories on Facebook in 2011">The most shared stories on Facebook in 2011</a>
		  	 	  		  						</div>
		  	 								
		  	 	    						<div class="body hasMarkup"><p>#1. <a href="http://www.nytimes.com/interactive/2011/03/13/world/asia/satellite-photos-japan-before-and-after-tsunami.html" target="_blank">Satellite Photos of Japan, before and after the quake and tsunami</a> on The New York Times.</p>
<p>More stories: (via <a href="https://www.facebook.com/note.php?note_id=283221585046671" target="_blank">Most Shared Articles on Facebook in 2011 | Facebook</a>)</p></div>
			  	 						
		        						
	        						</div>
	        						<div class="type bT">
	  	 								<a>
	  	 									<img alt=" Text" src="//static.tumblr.com/tkqqpe9/p0Zlixw1m/post-types-1.png" height="26" />
	  	 								</a>
	  	 							</div>
	        						
		    							<div class="meta bS tS lS">
		    								<ul class="facts nav clear">	
		    									<li class="date">
		    										<span><a class="permalink" href="http://yahoosocial.tumblr.com/post/13507657590/the-most-shared-stories-on-facebook-in-2011" title="Nov 29, 2011 11:16 am">Nov 29, 2011 11:16 am</a></span>
		    									</li>
		    									
												<li class="notes">
	    											<a href="http://yahoosocial.tumblr.com/post/13507657590/the-most-shared-stories-on-facebook-in-2011#tumblr_notes" title="0 notes">0 notes</a>
	    										</li>
		    									
		    									
		    								</ul>
		    								
		    							</div>
										
											<div class="meta share bS tS lS">
												<ul class="networks nav clear">
													
														<li class="service tumblr">
															<a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:61px; height:20px; background:url('http://platform.tumblr.com/v1/share_2.png') top left no-repeat transparent;">Share on Tumblr</a>
														</li>
													
													<li class="service twitter">
														<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://yahoosocial.tumblr.com/post/13507657590/the-most-shared-stories-on-facebook-in-2011">Tweet</a>
													</li>
													<li class="service facebook">
														<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fyahoosocial.tumblr.com%2Fpost%2F13507657590%2Fthe-most-shared-stories-on-facebook-in-2011&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;font=arial&amp;colorscheme=dark&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
													</li>
												</ul>
											</div>
										
		    							
			    							
		        							
			    						
	    							
	    						</div>
		    				
    					</div>
	    			</div>
    			</div>
    			<div class="col"></div>
    		</div>
    		<div class="footer bF lF tF" id="page-footer">
    			<div class="content">
    				<ul class="actions nav">
    					<li class="feed">
    						<a href="http://yahoosocial.tumblr.com/rss" title="RSS Feed">RSS Feed</a>
    					</li>
    					
    					
    				</ul>
    				
    				<div class="theme">
    					<a href="http://singleatheme.tumblr.com" title="Single A Theme">Single A Theme</a>
    					<span>::</span>
    					<a href="http://businessbullpen.tumblr.com" title="Business Bullpen">By Business Bullpen</a>
    				</div>
    			</div>
    		</div>
    	</div>
	<!-- BEGIN TUMBLR CODE --><iframe src="http://assets.tumblr.com/iframe.html?10&src=http%3A%2F%2Fyahoosocial.tumblr.com%2Fpost%2F13507657590%2Fthe-most-shared-stories-on-facebook-in-2011&amp;pid=13507657590&amp;rk=9hP7Mehi&amp;lang=en_US&amp;name=yahoosocial" scrolling="no" width="330" height="25" frameborder="0" style="position:absolute; z-index:1337; top:0px; right:0px; border:0px; background-color:transparent; overflow:hidden;" id="tumblr_controls"></iframe><!--[if IE]><script type="text/javascript">document.getElementById('tumblr_controls').allowTransparency=true;</script><![endif]--><script type="text/javascript">_qoptions={qacct:"p-19UtqE8ngoZbM"};</script><script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script><noscript><img src="http://pixel.quantserve.com/pixel/p-19UtqE8ngoZbM.gif" style="display:none; border-width:0px; height:1px; width:1px;" alt=""/></noscript><!-- END TUMBLR CODE -->
</body>
</html>