<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Law Firm Social Media | Jaffe PR</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type='text/javascript' src='//s7.addthis.com/js/250/addthis_widget.js#async=1'></script>
<link rel="shortcut icon" href="/sites/default/files/favicon.ico" type="image/x-icon" />
<link rel="canonical" href="/about-us/industry-insight/white-papers/social-media-policy-template" />
<meta name="keywords" content="Jaffe, Jaffe PR, Jaffe Associates, Social Media Policy Procedures, Social Network Policy Procedures" />
<meta name="copyright" content="Copyright © 2008-2010, Jaffe Associates, Inc." />
<meta name="description" content="Available for download: Jaffe PR&#039;s Social Media Policy and Procedures template for law firms." />
  <link type="text/css" rel="stylesheet" media="all" href="/sites/default/files/css/css_c8b6f4cc53c9700e4adb0570bf7cd03e.css" />
<link type="text/css" rel="stylesheet" media="print" href="/sites/default/files/css/css_5154408dfe45a47bf3197324e2a7b0a6.css" />
<!--[if IE]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/zen/zen/ie.css?I" />
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/jaffepr2/css/ie.css?I" />
<![endif]-->
<!--[if lte IE 7]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/jaffepr2/css/ie7.css?I" />
<![endif]-->
<!--[if lte IE 6]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/jaffepr2/css/ie6.css?I" />
<![endif]-->
  <script type="text/javascript" src="/sites/default/files/js/js_d7221cb327708c92aa5194b028ec8460.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/", "colorbox": { "transition": "elastic", "speed": 350, "opacity": "0.85", "slideshow": false, "slideshowAuto": false, "slideshowSpeed": 2500, "slideshowStart": "", "slideshowStop": "", "current": "{current} of {total}", "previous": "« Prev", "next": "Next »", "close": "Close", "overlayClose": true, "maxWidth": "100%", "maxHeight": "100%" }, "dhtmlMenu": { "slide": "slide", "siblings": "siblings", "children": "children", "doubleclick": "doubleclick", "relativity": 0, "clone": 0 }, "jcarousel": { "ajaxPath": "/jcarousel/ajax/views" }, "thickbox": { "close": "Close", "next": "Next \x3e", "prev": "\x3c Prev", "esc_key": "or Esc Key", "next_close": "Next / Close on last", "image_count": "Image !current of !total" }, "addthis": { "config_default": { "services_toolbox": "twitter, facebook, linkedin, stumbleupon, email, google_plusone", "services_compact": "twitter, facebook, linkedin, email, google_plusone, more", "services_expanded": "", "ui_cobrand": "", "ui_header_color": "#666699", "ui_header_background": "#EFEFFF", "ui_click": 0, "ui_delay": "", "ui_use_addressbook": 0, "pubid": "jaffepr", "data_track_clickback": 0, "data_ga_tracker": "pageTracker", "ui_use_css": true, "data_use_cookies": false, "ui_language": "en", "data_use_flash": false }, "share_default": { "templates": { "twitter": "{{title}} {{url}}" } } } });
//--><!]]>
</script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
AudioPlayer.setup("/sites/all/modules/mp3player/mp3player/player.swf", {width:450,animation: "no",remaining: "yes",noinfo: "yes,pagebg: "f3f5f4",bg: "f3f4f4"});
//--><!]]>
</script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
addthis_config = Drupal.settings.addthis.config_default; addthis_share = Drupal.settings.addthis.share_default;
//--><!]]>
</script>
  
    
  <script type="text/javascript">
	  var addthis_share = 
		{ 
		// ...
			templates: {
						   twitter: "Social Media Policy template for your #LawFirm: {{url}}"
					   }
		}
  </script>

  
	<script language="JavaScript" type="text/javascript" src="/sites/all/themes/jaffepr2/js/contentflow/contentflow.js"></script>
	<meta name="google-site-verification" content="EvGiOzHkU6jjqYc-Mqb0AVi36v9VmW37qxDJm_JKVwA" />

	<!-- Google Analytics -->	
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-9432011-2']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	<!-- // Google Analytics -->	
	
</head>
<body class="not-front not-logged-in node-type-white-paper one-sidebar sidebar-left page-about-us-industry-insight-white-papers-social-media-policy-template section-about-us node-1391">

  <div id="page"><div id="page-inner">

    <a name="top" id="navigation-top"></a>
          <div id="skip-to-nav"><a href="#navigation">Skip to Navigation</a></div>
    
    <div id="header"><div id="header-inner" class="clear-block">

              <div id="logo-title">



                                    <div id="site-name"><strong>
                <a href="/" title="Jaffe PR - Moving Law Firms Up the Public Relations Curve" rel="home">
                Jaffe PR                </a>
              </strong></div>
                      
          
        </div> <!-- /#logo-title -->
      
              <div id="header-blocks" class="region region-header">
          <div id="block-views-webforms-block_1" class="block block-views region-odd odd region-count-1 count-5"><div class="block-inner">

  
  <div class="content">
    <div class="view view-webforms view-id-webforms view-display-id-block_1 view-dom-id-4">
    
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
    <div id="node-1823" class="node node-type-webform"><div class="node-inner">

  
      <h2 class="title">
      <a href="/get-jaffe-pr-tips-3-quick-steps" title="Get Jaffe PR Tips in 3 Quick Steps:">Get Jaffe PR Tips in 3 Quick Steps:</a>
    </h2>
  
  
  
  <div class="content">
    <span class='print-link'></span><form action="/get-jaffe-pr-tips-3-quick-steps"  accept-charset="UTF-8" method="post" id="webform-client-form-1823" class="webform-client-form" enctype="multipart/form-data">
<div><div class="webform-component webform-component-textfield" id="webform-component-name"><div class="form-item" id="edit-submitted-name-1-wrapper">
 <label for="edit-submitted-name-1">Name <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="128" name="submitted[name]" id="edit-submitted-name-1" size="60" value="" class="form-text required" />
</div>
</div><div class="webform-component webform-component-email" id="webform-component-email"><div class="form-item" id="edit-submitted-email-1-wrapper">
 <label for="edit-submitted-email-1">Email <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="128" name="submitted[email]" id="edit-submitted-email-1" size="60" value="" class="form-text required email" />
</div>
</div><input type="hidden" name="details[sid]" id="edit-details-sid-1" value=""  />
<input type="hidden" name="details[page_num]" id="edit-details-page-num-1" value="1"  />
<input type="hidden" name="details[page_count]" id="edit-details-page-count-1" value="1"  />
<input type="hidden" name="details[finished]" id="edit-details-finished-1" value="0"  />
<input type="hidden" name="form_build_id" id="form-b74e197f93db7e51a4005d50dc7bf84e" value="form-b74e197f93db7e51a4005d50dc7bf84e"  />
<input type="hidden" name="form_id" id="edit-webform-client-form-1823" value="webform_client_form_1823"  />
<div id="edit-actions" class="form-actions form-wrapper"><input type="submit" name="op" id="edit-submit-2" value="Submit"  class="form-submit" />
</div>
</div></form>
  </div>

  
</div></div> <!-- /node-inner, /node -->
  </div>
    </div>
  
  
  
  
  
  
</div>   </div>

  
</div></div> <!-- /block-inner, /block -->
        </div> <!-- /#header-blocks -->
      
    </div></div> <!-- /#header-inner, /#header -->

    <div id="main"><div id="main-inner" class="clear-block">

        
      <div id="content"><div id="content-inner">

                
                

                  <div id="content-top" class="region region-content_top">
            <div id="block-block-23" class="block block-block region-odd odd region-count-1 count-3"><div class="block-inner">

  
  <div class="content">
    <p><img class="mceItem" src="/sites/default/files/images/headers/whitepapers_header.png" alt="" width="717" height="45"></p>  </div>

  
</div></div> <!-- /block-inner, /block -->
          </div> <!-- /#content-top -->
        
                  <div id="content-header">
                                      <h1 class="title">Social Media Policy Template</h1>
                                                          </div> <!-- /#content-header -->
        
        <div id="content-area">
          <div id="node-1391" class="node node-type-white-paper"><div class="node-inner">

  
  
  
      <div class="meta">
        <div class="addThis">
			<div class='addthis_toolbox addthis_default_style ' ><a class='addthis_toolbox_item addthis_button_twitter'></a><a class='addthis_toolbox_item addthis_button_facebook'></a><a class='addthis_toolbox_item addthis_button_linkedin'></a><a class='addthis_toolbox_item addthis_button_stumbleupon'></a><a class='addthis_toolbox_item addthis_button_email'></a><a class='addthis_toolbox_item addthis_button_google_plusone'></a></div>        </div>
                
              
	</div>
  
  <div class="content">
  	<div class="download">
    	<div class="view view-white-papers view-id-white_papers view-display-id-block_3 view-dom-id-1">
    
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
      
  <div class="views-field-field-wp-pdf-fid">
                <span class="field-content">
		<div class="output-outer">
        	<div class="output-inner">
				<a href="http://www.jaffepr.com/sites/default/files/Jaffe PR Social Media Policy.pdf">Download in PDF</a>            </div><!-- /.output-inner -->
        </div><!-- /.output-outer -->
</span>
  </div>
    <div class="clear"></div>
  </div>
    </div>
  
  
  
  
  
  
</div>     </div>
    <span class='print-link'></span><div class="field field-type-text field-field-body">
    <div class="field-items">
            <div class="field-item odd">
                    <p>&nbsp;</p>
<table class="view" cellspacing="2" cellpadding="0" align="left">
<tbody>
<tr>
<td align="left"></td>
</tr>
<tr>
<td align="left"><strong>Revised January 1, 2012<br /></strong></td>
</tr>
<tr>
<td align="left"><strong>Jaffe PR</strong></td>
</tr>
<tr>
<td align="left"><br />
<p><strong>NOTE: At Jaffe PR we have made our best effort (below) to outline a comprehensive set of online policies and procedures. This is our fourth update to this piece since its original release in late 2008 and we will continue to revise it as new information becomes available. </strong></p>
<p><strong>We strongly suggest that you give consideration to your own standards and culture in customizing these Social Media and Social Networking Policies and Procedures for your firm. As well-known legal blogger Kevin O’Keefe recently told the LawMarketing Listserv, “Apply your existing law firm standards and protocol on confidentiality, PR, marketing, and communication. Who better to know how blogs fit into your culture and the safeguards needed for firm comfort than the firm’s own professionals?”</strong></p>
<p><strong>Furthermore, we must impress upon you the need to be familiar with the ethics rules of the states in which you operate.</strong></p>
<p><strong><em>Intellectual Property Notice:</em></strong></p>
<p><em>The material in content of this material may be protected under various intellectual property laws, including copyright and trademark. Unless otherwise stated, this material is and remains the intellectual property of Jaffe PR and all rights are reserved. No part of this material may be incorporated, reproduced, republished, distributed, transmitted, displayed, broadcast or otherwise exploited in any manner, except for the internal use and analysis by the requesting firm, without the express prior written permission of Jaffe PR. Jaffe PR’s names, logos, related trademarks and other intellectual property are the property of Jaffe PR and cannot be used without its express prior written permission.</em></p>
<p><em>© 2008-2012 Jaffe PR. All rights reserved.</em></p>
<p><span style="color: #ff0000;"><span class="highlight_text">FIRM NAME</span></span> <strong>Social Media Policy and Procedures and Social Networking Policies and Procedures</strong></p>
Today, social media encompasses a broad sweep of online activities, all of which are trackable and traceable. These networks include not only the blogs you write and those to which you comment, but social networks such as Facebook and Google+; professional networks such as LinkedIn and Legal OnRamp; the live micro-blogging tool, Twitter; and social bookmarking sites such as StumbleUpon and Digg. Every day, it seems, new online tools, platforms and advances introduce new opportunities to build your virtual footprint.<br /><br />As a firm, we believe that social media can drive business and support our professional development efforts – and recent research agrees: <a href="http://socialmediatoday.com/inboundsales/274421/how-sell-your-ceo-social-media-marketing" target="_blank" rel="nofollow">HubSpot finds that companies that blog welcome an average of 55% more visitors to their sites than companies that don’t.</a> Blogging companies may generate 97% more external website links and 434% more indexed pages, both of which are critical to a company’s search rank. And a global survey by McKinsey of approximately 1,700 corporate executives finds that 69% of respondents claim measurable advantages from social media, including a lower cost of doing business, better access to knowledge, increased marketing effectiveness, insight for developing more innovative products and services, and higher revenues.<br /><br />We are also aware that social media will not be used exclusively for business; keeping that in mind, we attempt here to provide reasonable guidelines for online behavior by members of our firm when participating online on behalf of our firm. As new tools on the Web are introduced and new challenges emerge for all of us, this document will, of necessity, evolve.<br /><br />Below represents our firm’s new social media and social networking policies and procedures.<br /><br />Social Media and Social Networking Policies and Procedures: YOUR IDENTITY ONLINE<br /> 
<ul>
<li>You are responsible for what you post. You are personally responsible for any of your online activity conducted with a firm e-mail address or which can be traced back to the firm’s domain or which uses firm assets. The FIRM DOMAIN.com address attached to your name implies that you are acting on the firm’s behalf. When using a firm e-mail address or firm assets to engage in any social media or professional social networking activity (for example LinkedIn and Legal OnRamp), all actions are public and attorneys and staff will be held fully responsible for any and all said activities.</li>
<li>Outside the workplace, your rights to privacy and free speech protect online activity conducted on your personal social networks with your personal e-mail address. However, what you publish on such personal online sites should never be attributed to the firm and should not appear to be endorsed by or originated from the firm. If you choose to list your work affiliation on a social network, then you should regard all communication on that network as you would in a professional network. Online lives are ultimately linked whether or not you choose to mention the firm in your personal online networking activity.</li>
<li>Be transparent. When participating in any online community, disclose your identity and affiliation with the firm, your clients and your professional or personal interest. When posting to a blog, always use your name. Never create an alias and never be anonymous.</li>
<li>Follow the rules in the FIRM NAME’s (Employee Staff Manual). These rules also apply to employee behavior within social networking and other public online spaces.</li>
<li>Follow the terms and conditions of use that have been established by each venue used for your social networking activities.</li>
<li>Obey the law. Do not post any information or conduct any online activity that may violate applicable local, state or federal laws or regulations.</li>
<li>Never be false or misleading in your online credentials. Attorneys and other professional staff members MUST maintain complete accuracy in all of their online biographies (bios) and ensure there is no embellishment. For example – a lawyer’s bio states, “Harvard trained” after the attorney attended a weekend CLE course at Harvard – this is inaccurate and noncompliant with the rules.</li>
<li>Use the words “expert” or “specialized” very sparingly and only when such claims can be substantiated and are approved for usage by the appropriate state bar association.</li>
</ul>
<br />Social Media and Social Networking Policies and Procedures: CREATING AND MANAGING CONTENT<br /> 
<ul>
<li>Be direct, informative and brief. Follow your state bar’s ethics rules regarding social networking.</li>
<li>Never use a firm client’s name in a blog posting unless you have written permission to do so.</li>
<li>Credit appropriately. Identify all copyrighted or borrowed material with citations and links. When publishing any material online that includes another’s direct or paraphrased quotes, thoughts, ideas, photos or videos, always give credit to the original material or author, where applicable.</li>
<li>Fact-check your posts. Always evaluate your contribution’s accuracy and truthfulness. Before posting any online material, ensure that the material is accurate, truthful and without factual error.</li>
<li>Spell and grammar check everything. Content never disappears entirely once it’s been posted.</li>
<li>Correct errors promptly. If you find that your blog entry contains an error or mistake, correct it. Since transparency is key, admit your mistake, apologize if necessary, correct it and move on.</li>
<li>While a blog itself is not subject to the limitation on commercial speech, the content of a blog can be. The content must be informative only and nothing in the content should propose a commercial transaction or be for the purpose of directly gaining a commercial transaction. The threshold question to ask is, “Does the content articulate commercial speech in any way?” If so, it’s likely that it will be subject to state rules.</li>
</ul>
<br />Social Media and Social Networking Policies and Procedures: LEAVING COMMENTS<br /> 
<ul>
<li>When posting to a blog, refrain from posting about controversial or potentially inflammatory subjects, including politics, sex, religion or any other non-business related subjects. Keep the tone of your comments respectful and informative, never condescending or “loud.” Use sentence case format, not capital letters. Stick to this maxim whenever you are contributing to any blogs or social and professional networks.</li>
<li>Avoid personal attacks, online fights and hostile communications. If a blogger or any other online influencer posts a statement with which you disagree, voice your opinion but do not escalate the conversation to a heated argument. Write reasonably, factually and with good humor. Understand and credit the other person’s point of view and avoid any communications that could result in personal, professional or credibility attacks.</li>
<li>Never disclose proprietary or confidential information.</li>
<li>When appropriate and possible, provide a link to your LinkedIn or Legal OnRamp Profile, or to supporting documents. This will help raise your search results.</li>
<li>If in doubt, don’t!</li>
</ul>
<br />Social Media and Social Networking Policies and Procedures: CONFIDENTIALITY AND PRIVACY<br /> 
<ul>
<li>Don’t disclose confidential information. Honor the terms of your contracts with the firm and contracts we have with any client. Do not disclose or use confidential or proprietary information of the firm or any client in any form of online media. Sharing this type of information, even unintentionally, can result in legal action against you, the firm or the client.</li>
<li>Avoid forums where there is little control over what you know to be confidential information. In the world of social networking, there is often a breach of confidentiality when someone e-mails an attorney or posts a comment congratulating him or her on representation of a specific client or on a specific case. Often these things are being discussed in the social network circles – it’s how attorneys are establishing credibility – so be very selective and thoughtful about where you post and how you reply – or not.</li>
<li>Respect the privacy of your partners and associates as well as the opinions of others. Before sharing a comment, post, picture or video about a client or other attorney through any type of social media or network, obtaining the client’s or attorney’s consent is not only a courtesy, it is a requirement.</li>
</ul>
<br />Social Media and Social Networking Policies and Procedures: POTENTIAL CONFLICTS AND RED FLAGS<br /><br />Get approval for a post when:<br /> 
<ul>
<li>Responding to a negative post. If a blogger or any other online participant posts an inaccurate, accusatory or negative comment about the firm or any firm clients, do not engage in the conversation without prior approval of (NAME).</li>
<li>Posting recommendations for colleagues. Posting recommendations of colleagues is a tool of professional social networking sites. The recommendations and comments you post about other current and former firm attorneys can have consequences, even if you are making the recommendations personally and not on behalf of the firm. Therefore, we ask that you clear all potential recommendations and comments with (NAME) for anyone who is or was ever associated with the firm. (NOTE: or give time limit, such as “anyone associated with the firm in the past # years.”)</li>
<li>Responding directly to a journalist. If you are contacted directly by a journalist regarding issues of concern to the firm, clear the query with NAME before responding.</li>
</ul>
<p><br />Other potential red flag situations:</p>
<ul>
<li>Check your state’s particular prohibitions or limitations on testimonials before posting them online.</li>
<li>Use a disclaimer if you communicate electronically about fees, awards, recent cases or case outcomes. (NOTE TO FIRM: Do you want to require prior approval for this?) Be aware that attorney-client relationships may be created online – this often occurs in social media regardless of whether you want it to. Use of a firm approved disclaimer may be appropriate. (NOTE TO FIRM: Some firms are building in pop-up boxes that stop someone from emailing an attorney until and unless they accept the required terms of a disclaimer before emailing information that could constitute an attorney-client relationship.)</li>
</ul>
<p><br />Social Media and Social Networking Policies and Procedures: BUILDING YOUR VIRTUAL FOOTPRINT AND YOUR NETWORK</p>
<ul>
<li>Build a reputation of trust among your clients, media and the public. When you are reaching out to journalists, bloggers, clients or colleagues through social media take every opportunity to build a reputation of trust and establish yourself as a credible and transparent legal professional.</li>
<li>Don’t use your own personal online relationships or the firm’s network to influence polls, rankings or Web traffic.</li>
<li>When using social networks with your firm email and professional identification, do not “friend” anyone whom you either do not actually know or with whom you have not previously corresponded. </li>
</ul>
<p><br />NOTE TO FIRM: Lastly, please consider the following checklist crafted by lawyer Kevin McKeown, Lexblog’s EVP of Client Development. It outlines factors that a firm should take into account when crafting its own blogging policy and makes suggestions for how to make the most of blogging activities. We suggest you answer these questions as you seek to customize the policies and procedures we have provided to you above. This checklist is written specifically for blogs but can apply to all social media tools.<br /><br />1.&nbsp; Who owns the blog? Firm or individual lawyer(s)? Firm ownership is suggested if using to extend brand of firm and enhance reputation of a practice group. Copyright reflects ownership decided.<br /><br />2.&nbsp;&nbsp; Who will blog? One author or multiple authors in a group blog? The firm approves and identifies all authors and blogs.<br /><br />3.&nbsp;&nbsp; Does the blog(s) have a specific focus or niche? The narrower the focus, the better. Articulate.<br /><br />4.&nbsp;&nbsp; Does the firm need specific guidelines for blogs? Maybe not. Review existing guidelines, practices and procedures. How are e-mail newsletters, media relations and client development issues handled? With minor revisions, professional blogging may easily be covered under existing firm practices.<br /><br />5.&nbsp;&nbsp; Has the firm drafted an appropriate blog disclaimer and privacy policy? Disclaimers need to state that no attorney/client relationship is being formed and no legal advice is being dispensed. See also ethics points below.<br /><br />6.&nbsp;&nbsp; Does the firm need to restrict blog content? Some firms may wish to restrict blog content to be general and informational similar to e-mail newsletters and alerts. Other firms may wish to take a more progressive, and usually more successful, approach to blogging by linking to and referencing other blog posts and news stories. By doing so, you’re joining the conversation as an authority in your field. Depending on the circumstances, lawyer(s) may wish to avoid taking too strong a position on a particular legal topic. Generally, you don’t want to be blogging about existing clients and matters on which members of the firm are working. <br /><br />7.&nbsp; What’s the blog posting and comment policy? Most firms, subject to general oversight, let blog authors write and publish without showing content to practice chairs or marketing prior to posting. Comments from blog readers should be allowed. Not to allow comments risks embarrassment to the firm. Blog software preferences should enable the blog author(s) or another designated party to review and approve comments before going live. Expect no more than 3 or 4 comments per month. Appropriate comments may be published.<br /><br />8.&nbsp;&nbsp; How frequently should blogs be updated? The most effective bloggers post new content on a consistent basis (at least once a week); whatever your posting schedule is, consistency is key. Blog author(s) posting on an irregular schedule are difficult to follow. To develop a compelling voice, the author should write and post – not someone else. A post should be relatively short – a few paragraphs (200-500 words may be fine). In many cases, take no more than 20 to 30 minutes to write a post.<br /><br />9.&nbsp;&nbsp; What is the role of the marketing (or business development) department? General oversight. Review blogs periodically. Encourage lawyers to ask LexBlog specific questions about best blogging practices and any technical issues. Work with PR to determine what, if any, PR or marketing will be done to promote blog. Think through how networking with other bloggers and media will be addressed. Decide who responds to media requests directed to blog authors.<br /><br />10. How does the firm ensure that published blog content shares and extends the reach of the firm’s intellectual capital and maintains and enhances the firm’s reputation (quality control)? One of the best ways to enter social media discussions is to follow relevant RSS (Real Simple Syndication) feeds and reference and comment on other respected bloggers and their posts.</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>        </div>
        </div>
</div>
  </div>

  
</div></div> <!-- /node-inner, /node -->
        </div>

                  <div id="content-bottom" class="region region-content_bottom">
            <div id="block-views-just_one_thing-block_1" class="block block-views region-odd even region-count-1 count-4"><div class="block-inner">

  
  <div class="content">
    <div class="view view-just-one-thing view-id-just_one_thing view-display-id-block_1 view-dom-id-3">
    
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
    <div id="node-1635" class="node node-type-webform"><div class="node-inner">

  
      <h2 class="title">
      <a href="/subscribe" title="Subscribe">Subscribe</a>
    </h2>
  
  
      <div class="meta">
        <div class="addThis">
			<div class='addthis_toolbox addthis_default_style ' ><a class='addthis_toolbox_item addthis_button_twitter'></a><a class='addthis_toolbox_item addthis_button_facebook'></a><a class='addthis_toolbox_item addthis_button_linkedin'></a><a class='addthis_toolbox_item addthis_button_stumbleupon'></a><a class='addthis_toolbox_item addthis_button_email'></a><a class='addthis_toolbox_item addthis_button_google_plusone'></a></div>        </div>
                
              
	</div>
  
  <div class="content">
    <span class='print-link'></span><form action="/subscribe"  accept-charset="UTF-8" method="post" id="webform-client-form-1635" class="webform-client-form" enctype="multipart/form-data">
<div><div class="webform-component webform-component-email" id="webform-component-email"><div class="form-item" id="edit-submitted-email-wrapper">
 <label for="edit-submitted-email">Email <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="128" name="submitted[email]" id="edit-submitted-email" size="60" value="" class="form-text required email" />
</div>
</div><div class="webform-component webform-component-textfield" id="webform-component-name"><div class="form-item" id="edit-submitted-name-wrapper">
 <label for="edit-submitted-name">Name <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="128" name="submitted[name]" id="edit-submitted-name" size="60" value="" class="form-text required" />
</div>
</div><div class="webform-component webform-component-textfield" id="webform-component-title"><div class="form-item" id="edit-submitted-title-wrapper">
 <label for="edit-submitted-title">Title <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="128" name="submitted[title]" id="edit-submitted-title" size="60" value="" class="form-text required" />
</div>
</div><div class="webform-component webform-component-textfield" id="webform-component-firm"><div class="form-item" id="edit-submitted-firm-wrapper">
 <label for="edit-submitted-firm">Firm <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="128" name="submitted[firm]" id="edit-submitted-firm" size="60" value="" class="form-text required" />
</div>
</div><input type="hidden" name="details[sid]" id="edit-details-sid" value=""  />
<input type="hidden" name="details[page_num]" id="edit-details-page-num" value="1"  />
<input type="hidden" name="details[page_count]" id="edit-details-page-count" value="1"  />
<input type="hidden" name="details[finished]" id="edit-details-finished" value="0"  />
<input type="hidden" name="form_build_id" id="form-8d64103ee040e9ce87bd830ddc9b3210" value="form-8d64103ee040e9ce87bd830ddc9b3210"  />
<input type="hidden" name="form_id" id="edit-webform-client-form-1635" value="webform_client_form_1635"  />
<div id="edit-actions" class="form-actions form-wrapper"><input type="submit" name="op" id="edit-submit-1" value="Submit"  class="form-submit" />
</div>
</div></form>
  </div>

  
</div></div> <!-- /node-inner, /node -->
  </div>
    </div>
  
  
  
  
  
  
</div>   </div>

  
</div></div> <!-- /block-inner, /block -->
          </div> <!-- /#content-bottom -->
        
      </div></div> <!-- /#content-inner, /#content -->



              <div id="sidebar-left"><div id="sidebar-left-inner" class="region region-left">
          <div id="block-search-0" class="block block-search region-odd odd region-count-1 count-1"><div class="block-inner">

  
  <div class="content">
    <form action="/about-us/industry-insight/white-papers/social-media-policy-template"  accept-charset="UTF-8" method="post" id="search-block-form">
<div><div class="container-inline">
  <div class="form-item" id="edit-search-block-form-1-wrapper">
 <label for="edit-search-block-form-1">Search this site </label>
 <input type="text" maxlength="128" name="search_block_form" id="edit-search-block-form-1" size="15" value="" title="Enter the terms you wish to search for." class="form-text" />
</div>
<input type="submit" name="op" id="edit-submit" value="Search"  class="form-submit" />
<input type="hidden" name="form_build_id" id="form-b9df03d48575f5425aea1ec606cfe2a8" value="form-b9df03d48575f5425aea1ec606cfe2a8"  />
<input type="hidden" name="form_id" id="edit-search-block-form" value="search_block_form"  />
</div>

</div></form>
  </div>

  
</div></div> <!-- /block-inner, /block -->
<div id="block-menu-menu-left-nav" class="block block-menu region-even even region-count-2 count-2"><div class="block-inner">

  
  <div class="content">
    <ul class="menu"><li class="expanded first dhtml-menu  collapsed start-collapsed "><a href="/our-firm" title="" id="dhtml_menu-2476">About Jaffe PR</a><ul class="menu"><li class="expanded first dhtml-menu  collapsed start-collapsed "><a href="/our-firm" title="" id="dhtml_menu-2475">Our Firm</a><ul class="menu"><li class="leaf first dhtml-menu "><a href="/services/law-firm-public-reputation-management" title="" id="dhtml_menu-2477">Law Firm Public Reputation Management</a></li>
<li class="leaf last dhtml-menu "><a href="/10-reasons-work-jaffe-pr" title="" id="dhtml_menu-2480">10 Reasons to Work with Jaffe PR</a></li>
</ul></li>
<li class="leaf  dhtml-menu "><a href="/about-us/our-people" title="" id="dhtml_menu-2478">Our People</a></li>
<li class="leaf last dhtml-menu "><a href="/about-us/our-business-principles" title="" id="dhtml_menu-2479">Our Business Principles</a></li>
</ul></li>
<li class="expanded  dhtml-menu  collapsed start-collapsed "><a href="/law-firm-public-relations-services" title="" id="dhtml_menu-2481">Law Firm Public Relations Services</a><ul class="menu"><li class="leaf first dhtml-menu "><a href="/law-firm-public-relations-services" title="" id="dhtml_menu-3260">Overview</a></li>
<li class="expanded  dhtml-menu  collapsed start-collapsed "><a href="/services/law-firm-media-relations" title="" id="dhtml_menu-2494">Law Firm Media Relations</a><ul class="menu"><li class="leaf first dhtml-menu "><a href="/services/law-firm-media-relations" title="" id="dhtml_menu-2495">Overview</a></li>
<li class="leaf  dhtml-menu "><a href="/services/law-firm-media-relations/law-firm-pr-planning" title="" id="dhtml_menu-2496">Law Firm PR Planning</a></li>
<li class="leaf  dhtml-menu "><a href="/services/law-firm-media-relations/law-firm-pr-campaigns" title="" id="dhtml_menu-2497">Law Firm PR Campaigns</a></li>
<li class="leaf  dhtml-menu "><a href="/services/law-firm-media-relations/crisis-pr-and-law-firm-reputation-management" title="" id="dhtml_menu-2498">Crisis PR &amp;  Law Firm Reputation Management</a></li>
<li class="leaf  dhtml-menu "><a href="/services/law-firm-media-relations/litigation-public-relations" title="" id="dhtml_menu-2499">Litigation Public Relations </a></li>
<li class="leaf  dhtml-menu "><a href="/services/specialty-services/writersforlawyers" title="" id="dhtml_menu-2500">Writers For Lawyers™</a></li>
<li class="leaf  dhtml-menu "><a href="/services/law-firm-media-relations/law-firm-media-relations-training" title="" id="dhtml_menu-2501">Law Firm Media Relations Training</a></li>
<li class="leaf  dhtml-menu "><a href="/services/specialty-services/lexspeak#relations" title="" id="dhtml_menu-2502">LexSpeak™</a></li>
<li class="leaf last dhtml-menu "><a href="/services/specialty-services/jaffe-legal-news-service" title="" id="dhtml_menu-2503">Jaffe Legal News Service™</a></li>
</ul></li>
<li class="expanded  dhtml-menu  collapsed start-collapsed "><a href="/services/business-development-legal-marketing-services" title="" id="dhtml_menu-2504">Business Development &amp; Legal Marketing Services</a><ul class="menu"><li class="leaf first dhtml-menu "><a href="/services/business-development-legal-marketing-services" title="" id="dhtml_menu-2505">Overview</a></li>
<li class="leaf  dhtml-menu "><a href="/services/law-firm-marketing-and-law-firm-business-development/legal-marketing-strategy-planning" title="" id="dhtml_menu-2506">Legal Marketing Strategy &amp; Planning</a></li>
<li class="leaf  dhtml-menu "><a href="/services/specialty-services/rankingsforlawyers" title="" id="dhtml_menu-2507">Law Firm Rankings/Lawyer Ratings (RFL)</a></li>
<li class="leaf  dhtml-menu "><a href="/services/law-firm-marketing-and-law-firm-business-development/law-firm-marketing-research" title="" id="dhtml_menu-2508">Law Firm Marketing Research</a></li>
<li class="leaf  dhtml-menu "><a href="/services/law-firm-marketing-and-law-firm-business-development/law-firm-merger-planning-support" title="" id="dhtml_menu-2509">Law Firm Merger Planning &amp; Support</a></li>
<li class="leaf  dhtml-menu "><a href="/services/law-firm-marketing-and-law-firm-business-development/law-firm-branding-and-positioning" title="" id="dhtml_menu-2510">Law Firm Branding &amp; Positioning</a></li>
<li class="leaf  dhtml-menu "><a href="/services/law-firm-marketing-and-law-firm-business-development/legal-marketing-training-and-business-" title="" id="dhtml_menu-2511">Legal Marketing Training &amp; Business Development Coaching</a></li>
<li class="leaf  dhtml-menu "><a href="/services/law-firm-marketing-and-law-firm-business-development/site-law-firm-workshops-attorney-retre" title="" id="dhtml_menu-2512">On-site Law Firm Workshops &amp; Attorney Retreats</a></li>
<li class="leaf  dhtml-menu "><a href="/services/law-firm-marketing-and-law-firm-business-development/hybrid-legal-marketing-department" title="" id="dhtml_menu-2513">Hybrid Legal Marketing Department</a></li>
<li class="leaf last dhtml-menu "><a href="/services/law-firm-marketing-and-law-firm-business-development/website-audit" title="" id="dhtml_menu-2514">Website Audit</a></li>
</ul></li>
<li class="expanded  dhtml-menu  collapsed start-collapsed "><a href="/services/law-firm-creative-services" title="" id="dhtml_menu-2515">Law Firm Creative Services</a><ul class="menu"><li class="leaf first dhtml-menu "><a href="/services/law-firm-creative-services" title="" id="dhtml_menu-2516">Overview</a></li>
<li class="leaf  dhtml-menu "><a href="/services/creative-services/creative-strategy" title="" id="dhtml_menu-2521">Creative Strategy</a></li>
<li class="leaf  dhtml-menu "><a href="/services/creative-services/law-firm-advertising" title="" id="dhtml_menu-2522">Law Firm Advertising</a></li>
<li class="leaf  dhtml-menu "><a href="/services/creative-services/attorney-internet-marketing-website-strategy-design-content" title="" id="dhtml_menu-2523">Attorney Internet Marketing: Website Strategy, Design &amp; Content</a></li>
<li class="leaf  dhtml-menu "><a href="/services/creative-services/law-firm-branding-collateral-design" title="" id="dhtml_menu-2524">Law Firm Branding &amp; Collateral Design</a></li>
<li class="leaf last dhtml-menu "><a href="/services/specialty-services/writersforlawyers" title="" id="dhtml_menu-2525">Writers For Lawyers™</a></li>
</ul></li>
<li class="expanded  dhtml-menu  collapsed start-collapsed "><a href="/services/digital-media-e-marketing" title="" id="dhtml_menu-2517">Digital Media &amp; e-Marketing</a><ul class="menu"><li class="leaf first dhtml-menu "><a href="/services/digital-media-e-marketing" title="" id="dhtml_menu-2518">Overview</a></li>
<li class="leaf  dhtml-menu "><a href="/services/law-firm-internet-marketing-digital-media/jaffepressplay/pressplay-audio-and-video-services" title="" id="dhtml_menu-2526">PRessPlay™ Audio and Video Services</a></li>
<li class="leaf  dhtml-menu "><a href="/services/law-firm-internet-marketing-digital-media/law-firm-website-development" title="" id="dhtml_menu-2527">Law Firm Website Development</a></li>
<li class="leaf  dhtml-menu "><a href="/services/law-firm-internet-search-management" title="" id="dhtml_menu-2528">PRism: Law Firm Internet Search Management</a></li>
<li class="leaf  dhtml-menu "><a href="/services/law-firm-internet-marketing-digital-media/law-firm-social-media-blogging-development" title="" id="dhtml_menu-2529">Law Firm Social Media &amp; Blogging Development</a></li>
<li class="leaf last dhtml-menu "><a href="/services/law-firm-internet-marketing-digital-media/law-firm-internet-marketing" title="" id="dhtml_menu-2530">Web 2.0 Law Firm Internet Marketing</a></li>
</ul></li>
<li class="expanded last dhtml-menu  collapsed start-collapsed "><a href="/services/specialty-services" title="" id="dhtml_menu-2519">Law Firm Specialty Services</a><ul class="menu"><li class="leaf first dhtml-menu "><a href="/services/law-firm-internet-marketing-digital-media/jaffepressplay/pressplay-audio-and-video-services" title="" id="dhtml_menu-2537">PRessPlay™ Audio and Video Services</a></li>
<li class="leaf  dhtml-menu "><a href="/services/specialty-services/rankingsforlawyers" title="" id="dhtml_menu-2536">Rankings for Lawyers™</a></li>
<li class="leaf  dhtml-menu "><a href="/services/specialty-services/jaffe-legal-news-service" title="" id="dhtml_menu-2533">Jaffe Legal News Service™</a></li>
<li class="leaf  dhtml-menu "><a href="/services/specialty-services/lexspeak?special" title="" id="dhtml_menu-2535">LexSpeak™</a></li>
<li class="leaf last dhtml-menu "><a href="/services/specialty-services/writersforlawyers" title="" id="dhtml_menu-2534">Writers For Lawyers™</a></li>
</ul></li>
</ul></li>
<li class="expanded  dhtml-menu  collapsed start-collapsed "><a href="/jaffe-creative-portfolio-overview" title="" id="dhtml_menu-2482">Our Work</a><ul class="menu"><li class="leaf first dhtml-menu "><a href="/jaffe-creative-portfolio-overview" title="" id="dhtml_menu-2492">Law Firm Creative Services Portfolio</a></li>
<li class="leaf last dhtml-menu "><a href="/about-us/case-studies" title="" id="dhtml_menu-6983">Case Studies</a></li>
</ul></li>
<li class="expanded last dhtml-menu  collapsed start-collapsed "><a href="/about-us/industry-insight" title="" id="dhtml_menu-2483">Industry Insight </a><ul class="menu"><li class="leaf first dhtml-menu "><a href="/about-us/news-events" title="" id="dhtml_menu-2487">News &amp; Events</a></li>
<li class="leaf  dhtml-menu "><a href="/about-us/industry-insight/pr-tips" title="" id="dhtml_menu-2485">PR Tip of the Week</a></li>
<li class="leaf  dhtml-menu "><a href="/about-us/industry-insight/just-one-thing" title="" id="dhtml_menu-2486">Just one Thing</a></li>
<li class="leaf  dhtml-menu "><a href="/blog" title="" id="dhtml_menu-2488">Blog</a></li>
<li class="leaf  dhtml-menu "><a href="/about-us/industry-insight/white-papers" title="" id="dhtml_menu-2484">White Papers</a></li>
<li class="expanded  dhtml-menu  collapsed start-collapsed "><a href="http://www.jaffepr.com/about-us/industry-insight/law-firm-policy-documents" title="" id="dhtml_menu-5537">Law Firm Policy Templates</a><ul class="menu"><li class="leaf first dhtml-menu "><a href="/about-us/industry-insight/law-firm-policy-documents" title="Law Firm Policy Documents" id="dhtml_menu-5526">Overview</a></li>
<li class="leaf  dhtml-menu "><a href="/about-us/industry-insight/law-firm-policy-documents/jaffe-prs-blogging-policy-law-firms-and-attorney" title="Jaffe PR&#039;s Blogging Policy for Law Firms and Attorneys" id="dhtml_menu-5666">Law Firm Blogging Policy</a></li>
<li class="leaf  dhtml-menu "><a href="/about-us/industry-insight/law-firm-policy-documents/crisis" title="Jaffe PR&#039;s Crisis Policy Template for Law Firms and Attorneys" id="dhtml_menu-5667">Law Firm Crisis Policy</a></li>
<li class="leaf  dhtml-menu "><a href="/about-us/industry-insight/law-firm-policy-documents/media" title="Jaffe PR&#039;s Media Policy for Law Firms and Attorneys" id="dhtml_menu-5669">Law Firm Media Policy</a></li>
<li class="leaf last dhtml-menu "><a href="/about-us/industry-insight/law-firm-policy-documents/jaffe-prs-social-media-policy-law-firms-and-atto" title="Jaffe PR&#039;s Social Media Policy for Law Firms and Attorneys" id="dhtml_menu-5668">Law Firm Social Media Policy</a></li>
</ul></li>
<li class="leaf last dhtml-menu "><a href="/about-us/industry-insight/podcasts" title="" id="dhtml_menu-2489">Podcasts</a></li>
</ul></li>
</ul>  </div>

  
</div></div> <!-- /block-inner, /block -->
        </div><!-- /#sidebar-left-inner -->

              
        </div> <!-- /#sidebar-left -->
            


      
    </div></div> <!-- /#main-inner, /#main -->

          <div id="footer"><div id="footer-inner" class="region region-footer">

        
        <div id="block-block-10" class="block block-block region-odd even region-count-1 count-6"><div class="block-inner">

  
  <div class="content">
    <ul>
<li class="facebook"><a onclick="_gaq.push(['_trackEvent', 'Footer Facebook', 'clicked'])" href="https://www.facebook.com/JaffePR" target="_blank" rel="nofollow">Facebook</a></li>
<li class="twitter"><a onclick="_gaq.push(['_trackEvent', 'Footer Twitter', 'clicked'])" href="http://twitter.com/JaffePR" target="_blank" rel="nofollow">Twitter</a></li>
<li class="linkedin"><a onclick="_gaq.push(['_trackEvent', 'Footer LinkedIn', 'clicked'])" href="http://www.linkedin.com/company/879838" target="_blank" rel="nofollow">LinkedIn</a></li>
<li class="yt"><a onclick="_gaq.push(['_trackEvent', 'Footer YouTube', 'clicked'])" href="http://www.youtube.com/user/JaffePRessPlay?feature=mhee" target="_blank" rel="nofollow">YouTube</a></li>
<li class="jdsupra"><a onclick="_gaq.push(['_trackEvent', 'Footer JD Supra', 'clicked'])" href="http://www.jdsupra.com/profile/JaffePR/" target="_blank" rel="nofollow">JDSupra</a></li>
<li class="googleplus"><a onclick="_gaq.push(['_trackEvent', 'Footer Googleplus', 'clicked'])" href="https://plus.google.com/u/0/104614070408885992513/posts" target="_blank" rel="nofollow">Google+</a></li>
<li class="rssfooter"><a onclick="_gaq.push(['_trackEvent', 'Footer RSS', 'clicked'])" href="/about-us/news-events/feed.xml" rel="nofollow">News &amp; Events RSS</a> </li>
</ul>  </div>

  
</div></div> <!-- /block-inner, /block -->
<div id="block-menu-menu-footer-menu" class="block block-menu region-even odd region-count-2 count-7"><div class="block-inner">

  
  <div class="content">
    <ul class="menu"><li class="leaf first no-dhtml "><a href="/about-us/work-us" title="" id="dhtml_menu-2470">Join our Team</a></li>
<li class="leaf  no-dhtml "><a href="/sitemap" title="" id="dhtml_menu-2471">Site Map</a></li>
<li class="leaf  no-dhtml "><a href="/contact-jaffe-pr" title="" id="dhtml_menu-2472">Contact Us</a></li>
<li class="leaf last no-dhtml "><a href="/links" title="" id="dhtml_menu-2473">Partners</a></li>
</ul>  </div>

  
</div></div> <!-- /block-inner, /block -->
<div id="block-block-3" class="block block-block region-odd even region-count-3 count-8"><div class="block-inner">

  
  <div class="content">
    <div id="copyright" class="copyright"><span title="Copyright">&copy;</span> 2008-2012, Jaffe PR &nbsp; 1300 Pennsylvania Avenue, NW. Suite 700 &nbsp; Washington D.C. 20004-3024</div></div>  </div>

  
</div></div> <!-- /block-inner, /block -->
<div id="block-views-slide_out-block_1" class="block block-views region-even odd region-count-4 count-9"><div class="block-inner">

  
  <div class="content">
    <div class="view view-slide-out view-id-slide_out view-display-id-block_1 view-dom-id-5">
    
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
      
  <div class="views-field-field-slide-out-content-value">
                <div class="field-content"><div id="slide_out">
<div class="jaffeLogo">&nbsp;</div>
<span class="close">X</span>
<h3><a href="/services/law-firm-internet-marketing-digital-media/prism-law-firm-internet-search-management">SEO have you stumped?</a></h3><p>We demystify search engine optimization (SEO). View your website through our <a href="http://www.jaffepr.com/services/law-firm-internet-marketing-digital-media/prism-law-firm-internet-search-management" target="_self">PRism™</a>.</p><p><a href="/services/law-firm-internet-marketing-digital-media/prism-law-firm-internet-search-management">Find out more...</a></p></div></div>
  </div>
  </div>
    </div>
  
  
  
  
  
  
</div>   </div>

  
</div></div> <!-- /block-inner, /block -->

      </div></div> <!-- /#footer-inner, /#footer -->
    
  </div></div> <!-- /#page-inner, /#page -->

  
  <script type="text/javascript">
<!--//--><![CDATA[//><!--
if (typeof pageTracker != "undefined") {addthis_config.data_ga_tracker = pageTracker;}
//--><!]]>
</script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
if (typeof addthis != "undefined") {addthis.init();}
//--><!]]>
</script>

</body>
</html>
